In [21]:
import pandas as pd
import csv
import numpy as np

In [22]:
dfGeospatial = pd.read_csv("updated_geospatial.csv")
dfGeospatial.head(5)

             BUILDING FLOOR  TOTAL STATIONS/BUILDING
0   1019 Commonwealth     1                        1
1  110-112 Cummington     2                        1
2      111 Cummington     1                        4
3      111 Cummington     1                        4
4      111 Cummington     0                        4

In [23]:
dfInventory = pd.read_csv("updated_Bottle_Fillers_Inventory.csv")
dfInventory.head(5)

,Address,Floor,Description,Space@Bu room,Quantity,Walk-Thru Notes
0,100 Ashford St,First,"Hallway across from vending machines, across f...",191,1.0,two additional drinking fountain locations in ...
1,120 Ashford St,First,"Kitchenette, Room 116A",116A,1.0,NaN
2,120 Ashford St,Second,"Kitchenette, Room 222",222,1.0,NaN
3,8 St. Mary's Street,Basement,Hallway by bathrooms,B81,1.0,NaN
4,8 St. Mary's Street,First,Hallway by electrical room,181,1.0,NaN

In [24]:
dfHighVolume = pd.read_csv("updated_High_Volume_Event_Spaces.csv")
dfHighVolume.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
0,Agganis Arena Burke Club Room,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,2
1,Agganis Arena Friends of Hockey Lounge,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,1
2,Case Center Eilberg Lounge,285 Babcock Street,use of the space is limited; there are fillers...,5,3
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
4,College of Communication Lounge,640 Commowealth Avenue,hallway by room 105,5,1

In [25]:
dfHighVolume["Candidacy"].unique()

array([2, 5, 4, 1, 3])

In [26]:
dfGeospatial["BUILDING"].unique()

array(['1019 Commonwealth', '110-112 Cummington', '111 Cummington',
       '154 Bay State Road', '156 Bay State Road', '196 Bay State Road',
       '2 Cummington', '25 Buick', '270 Bay State Road', '300 Babcock',
       '33 Harry Agganis', '36 Cummington', '48 Cummington',
       '5 Cummington', '517 Beacon', '565 Commonwealth', '64 Cummington',
       '712 Beacon', '881 Commonwealth', '96 Cummington', 'Admissions',
       'Booth', 'BUA', 'CAS', 'Case Center', 'CELOP', 'CFA', 'CGS',
       'Claflin', 'COM', 'Danielson', 'EMA', 'ENG', 'Fitrec',
       'Fuller Building', 'GRS', 'GSU', 'Hojo', 'Kilachand',
       'Law Auditorium', 'Law', 'Linguistics', 'Marcom', 'Marsh',
       'Metcalf', 'Mugar', 'Myles Annex', 'Myles Standish', 'Photonics',
       'Questrom', 'Rich', 'Sargent', 'SHA', 'Sleeper', 'SSW', 'STH',
       'Stone', 'Towers', 'Tsai', 'TTC', 'Warren', 'Wheelock', 'Yawkey'],
      dtype=object)

In [27]:
dfInventory["Address"].unique()

array(['100 Ashford St', '120 Ashford St', "8 St. Mary's Street",
       '273 Babcock St', '275 Babcock St', '277 Babcock St',
       '285 Babcock St', '300 Babcock St', '91 Bay State Road',
       '100 Bay State Road', '140 Bay State Road', '156 Bay State Road',
       '196 Bay State Road', '226 Bay State Road', '233 Bay State Road',
       '264 Bay State Road', '270 Bay State Road', '512 Beacon St',
       '517 Beacon St', '610 Beacon St', '25 Buick St',
       '565 Commonwealth Ave', '575 Commonwealth Ave',
       '590 Commonwealth Ave', '595 Commonwealth Ave', '2 Silber Way',
       '610 Commonwealth Ave', '621 Commonwealth Ave',
       '635 Commonwealth Ave', '640 Commonwealth Ave',
       '675 Commonwealth Ave', '685 Commonwealth Ave',
       '700 Commonwealth Ave', '705 Commonwealth Ave',
       '725 Commonwealth Ave', '735 Commonwealth Ave',
       '745 Commonwealth Ave', '750 Commonwealth Ave',
       '765 Commonwealth Ave', '767 Commonwealth Ave',
       '771 Commonwealth Ave', '775 Commonwealth Ave', '1 University Rd',
       '808 Commonwealth Ave', '820 Commonwealth Ave',
       '855 Commonwealth Ave', '871 Commonwealth Ave',
       '881 Commonwealth Ave', '890 Commonwealth Ave',
       '915 Commonwealth Ave', '925 Commonwealth Ave',
       '928 Commonwealth Ave', '985 Commonwealth Ave',
       '1019 Commonwealth Ave', '808 Commonwealth Ave ',
       '2 Cummington Mall', '5 Cummington Mall', '24 Cummington Mall',
       '36 Cummington Mall', '44 Cummington Mall', '48 Cummington Mall',
       '64 Cummington Mall', '68 Cummington Mall', '96 Cummington Mall',
       '111 Cummington Mall', '110-112 Cummington Mall',
       '33 Harry Agganis Way', 'nan nan'], dtype=object)

In [28]:
dfHighVolumeOne = dfHighVolume[dfHighVolume["Candidacy"] == 4]
dfHighVolumeTwo = dfHighVolume[dfHighVolume["Candidacy"] == 3]
dfHighVolumeOne.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
5,College of General Studies Gilbane Lounge,871 Commonwealth Avenue,one on each floor,4,1
6,College of General Studies Katzenberg Lounge,871 Commonwealth Avenue,NaN,4,4
7,College of General Studies Sleeper Auditorium,871 Commonwealth Avenue,NaN,4,1
8,Dahod Family Alumni Center,225 Bay State Road,There's one in the space btw Castle and Admiss...,4,1

In [29]:
dfHighVolumeTwo.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
11,George Sherman Union Metcalf Hall,775 Commonwealth Avenue,"There are 3 on the second floor, just not in t...",3,2
15,Kilachand Center Eichenbaum Colloquium Room an...,610 Commonwealth Avenue,there's one in the hallway; a bottle filler in...,3,1

In [30]:
dfHighVolumeOne["Address"].unique()

array([' 675-725 Commonwealth Avenue', ' 871 Commonwealth Avenue',
       ' 225 Bay State Road', ' 775 Commonwealth Avenue',
       ' 33 Agganis Way', ' 685 Commonwealth Avenue'], dtype=object)

In [31]:
dfHighVolumeTwo["Address"].unique()

array([' 775 Commonwealth Avenue', ' 610 Commonwealth Avenue'],
      dtype=object)

In [32]:
dfWifi = pd.read_csv("Wifi.csv")
dfWifi.head(5)

,date,hour,building_floor,building_desc,latitude,longitude,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,42.3507,-71.1028,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,42.3503,-71.1026,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,42.3503,-71.1019,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,42.3503,-71.1021,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,42.3506,-71.1009,Residential,1,5,0.20

In [33]:
dfWifi = dfWifi[~dfWifi['hour'].isin([3, 4, 5, 6])]
dfWifi.head(5)

,date,hour,building_floor,building_desc,latitude,longitude,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,42.3507,-71.1028,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,42.3503,-71.1026,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,42.3503,-71.1019,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,42.3503,-71.1021,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,42.3506,-71.1009,Residential,1,5,0.20

In [34]:
wifiList = dfWifi["building_desc"].unique()
lengthOfList = int(len(wifiList)/4)
chrisData = wifiList[:lengthOfList]
ryanData = wifiList[lengthOfList:lengthOfList*2]
junhoData = wifiList[lengthOfList*2:lengthOfList*3]
wooData = wifiList[lengthOfList*3:]

In [35]:
print(chrisData)

['209 BAY STATE ROAD' '200-202 BAY STATE ROAD' '184 BAY STATE ROAD'
 '190 BAY STATE ROAD' '161 BAY STATE ROAD' '163 BAY STATE ROAD'
 '159 BAY STATE ROAD' '771 COMMONWEALTH AVENUE' '775 COMMONWEALTH AVENUE'
 '1 UNIVERSITY ROAD' '745 - 755 COMMONWEALTH AVENUE'
 '264-270 BAY STATE ROAD' '6 BUSWELL STREET' '22 BUSWELL STREET'
 '96 MOUNTFORT STREET' '806-820 BEACON STREET' '844 BEACON STREET'
 '46 MOUNTFORT STREET' '856-862 BEACON STREET' '870-872 BEACON STREET'
 '824-826 BEACON STREET' '24 BUSWELL STREET' '16 ARUNDEL STREET'
 '834-836 BEACON STREET' '830 BEACON STREET' '98 MOUNTFORT STREET'
 '635 COMMONWEALTH AVENUE' '2 SILBER WAY' '595 COMMONWEALTH AVENUE'
 '285 BABCOCK STREET' '120 ASHFORD STREET' '100 ASHFORD STREET'
 '590 COMMONWEALTH AVENUE' '722-26-28 COMMONWEALTH AVENUE'
 '730 COMMONWEALTH AVENUE' "8 ST. MARY'S STREET"
 '1010 COMMONWEALTH AVENUE' '930-940 COMMONWEALTH AVENUE'
 '186 BAY STATE ROAD' '10 BUICK STREET' '900 COMMONWEALTH AVENUE'
 '25 BUICK STREET' '855 COMMONWEALTH AVENUE' '871 COMMONWEALTH AVENUE'
 '700 COMMONWEALTH AVENUE' '1019 COMMONWEALTH AVENUE' '38 BUSWELL STREET'
 '44 BUSWELL STREET' '48 BUSWELL STREET' '1053 BEACON STREET'
 '483 COMMONWEALTH AVENUE' '2 BUSWELL STREET' '210-212 BAY STATE ROAD'
 '10 LENOX STREET' '91 BAY STATE ROAD' '275 BABCOCK STREET'
 '540 COMMONWEALTH AVENUE' '33 HARRY AGGANIS WAY' '90-92 BAY STATE ROAD'
 '30 HARRY AGGANIS WAY']

# First 1/4 data -- done by Jeong Yong

## Wifi Stations Without Water Bottle Filling Station

In [36]:
WithoutWaterBottle = {}

In [37]:
grouped_df = dfWifi[dfWifi['building_desc'] == '209 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 209 BAY STATE ROAD")
WithoutWaterBottle['209 BAY STATE ROAD'] = int(grouped_df)

On an average day, 120 people will benefit from a water bottle station at 209 BAY STATE ROAD

<ipython-input-37-e6cbd21f6dfa>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 209 BAY STATE ROAD")
<ipython-input-37-e6cbd21f6dfa>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['209 BAY STATE ROAD'] = int(grouped_df)

In [38]:
grouped_df = dfWifi[dfWifi['building_desc'] == '200-202 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 200-202 BAY STATE ROAD")
WithoutWaterBottle['200-202 BAY STATE ROAD'] = int(grouped_df)

On an average day, 199 people will benefit from a water bottle station at 200-202 BAY STATE ROAD

<ipython-input-38-61650a0d2e21>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 200-202 BAY STATE ROAD")
<ipython-input-38-61650a0d2e21>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['200-202 BAY STATE ROAD'] = int(grouped_df)

In [39]:
grouped_df = dfWifi[dfWifi['building_desc'] == '184 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 184 BAY STATE ROAD")
WithoutWaterBottle['184 BAY STATE ROAD'] = int(grouped_df)

On an average day, 134 people will benefit from a water bottle station at 184 BAY STATE ROAD

<ipython-input-39-6f5277937727>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 184 BAY STATE ROAD")
<ipython-input-39-6f5277937727>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['184 BAY STATE ROAD'] = int(grouped_df)

In [40]:
grouped_df = dfWifi[dfWifi['building_desc'] == '190 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 190 BAY STATE ROAD")
WithoutWaterBottle['190 BAY STATE ROAD'] = int(grouped_df)

On an average day, 146 people will benefit from a water bottle station at 190 BAY STATE ROAD

<ipython-input-40-d1758eec443e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 190 BAY STATE ROAD")
<ipython-input-40-d1758eec443e>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['190 BAY STATE ROAD'] = int(grouped_df)

In [41]:
grouped_df = dfWifi[dfWifi['building_desc'] == '161 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 161 BAY STATE ROAD")
WithoutWaterBottle['161 BAY STATE ROAD'] = int(grouped_df)

On an average day, 86 people will benefit from a water bottle station at 161 BAY STATE ROAD

<ipython-input-41-bf1461d744a3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 161 BAY STATE ROAD")
<ipython-input-41-bf1461d744a3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['161 BAY STATE ROAD'] = int(grouped_df)

In [42]:
grouped_df = dfWifi[dfWifi['building_desc'] == '163 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 163 BAY STATE ROAD")
WithoutWaterBottle['163 BAY STATE ROAD'] = int(grouped_df)

On an average day, 70 people will benefit from a water bottle station at 163 BAY STATE ROAD

<ipython-input-42-02b2c8ae4e02>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 163 BAY STATE ROAD")
<ipython-input-42-02b2c8ae4e02>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['163 BAY STATE ROAD'] = int(grouped_df)

In [43]:
grouped_df = dfWifi[dfWifi['building_desc'] == '159 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 159 BAY STATE ROAD")
WithoutWaterBottle['159 BAY STATE ROAD'] = int(grouped_df)

On an average day, 106 people will benefit from a water bottle station at 159 BAY STATE ROAD

<ipython-input-43-d828bd22fdaa>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 159 BAY STATE ROAD")
<ipython-input-43-d828bd22fdaa>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['159 BAY STATE ROAD'] = int(grouped_df)

In [44]:
grouped_df = dfWifi[dfWifi['building_desc'] == '6 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 6 BUSWELL STREET")
WithoutWaterBottle['6 BUSWELL STREET'] = int(grouped_df)

On an average day, 443 people will benefit from a existing water bottle station at 6 BUSWELL STREET

<ipython-input-44-8e5c1ecacb47>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 6 BUSWELL STREET")
<ipython-input-44-8e5c1ecacb47>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['6 BUSWELL STREET'] = int(grouped_df)

In [45]:
grouped_df = dfWifi[dfWifi['building_desc'] == '22 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 22 BUSWELL STREET")
WithoutWaterBottle['22 BUSWELL STREET'] = int(grouped_df)

On an average day, 209 people will benefit from a existing water bottle station at 22 BUSWELL STREET

<ipython-input-45-e348787e3221>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 22 BUSWELL STREET")
<ipython-input-45-e348787e3221>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['22 BUSWELL STREET'] = int(grouped_df)

In [46]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 96 MOUNTFORT STREET")
WithoutWaterBottle['96 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 118 people will benefit from a existing water bottle station at 96 MOUNTFORT STREET

<ipython-input-46-a684940f8058>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 96 MOUNTFORT STREET")
<ipython-input-46-a684940f8058>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['96 MOUNTFORT STREET'] = int(grouped_df)

In [47]:
grouped_df = dfWifi[dfWifi['building_desc'] == '806-820 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 806-820 BEACON STREET")
WithoutWaterBottle['806-820 BEACON STREET'] = int(grouped_df)

On an average day, 197 people will benefit from a existing water bottle station at 806-820 BEACON STREET

<ipython-input-47-77884f2d8def>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 806-820 BEACON STREET")
<ipython-input-47-77884f2d8def>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['806-820 BEACON STREET'] = int(grouped_df)

In [48]:
grouped_df = dfWifi[dfWifi['building_desc'] == '844 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 844 BEACON STREET")
WithoutWaterBottle['844 BEACON STREET'] = int(grouped_df)

On an average day, 142 people will benefit from a existing water bottle station at 844 BEACON STREET

<ipython-input-48-664a85131713>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 844 BEACON STREET")
<ipython-input-48-664a85131713>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['844 BEACON STREET'] = int(grouped_df)

In [49]:
grouped_df = dfWifi[dfWifi['building_desc'] == '46 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 46 MOUNTFORT STREET")
WithoutWaterBottle['46 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 298 people will benefit from a existing water bottle station at 46 MOUNTFORT STREET

<ipython-input-49-09ddce86bdcd>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 46 MOUNTFORT STREET")
<ipython-input-49-09ddce86bdcd>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['46 MOUNTFORT STREET'] = int(grouped_df)

In [50]:
grouped_df = dfWifi[dfWifi['building_desc'] == '856-862 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 856-862 BEACON STREET")
WithoutWaterBottle['856-862 BEACON STREET'] = int(grouped_df)

On an average day, 90 people will benefit from a existing water bottle station at 856-862 BEACON STREET

<ipython-input-50-0d4126a7c60c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 856-862 BEACON STREET")
<ipython-input-50-0d4126a7c60c>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['856-862 BEACON STREET'] = int(grouped_df)

In [51]:
grouped_df = dfWifi[dfWifi['building_desc'] == '870-872 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 870-872 BEACON STREET")
WithoutWaterBottle['870-872 BEACON STREET'] = int(grouped_df)

On an average day, 34 people will benefit from a existing water bottle station at 870-872 BEACON STREET

<ipython-input-51-15fe71cb422b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 870-872 BEACON STREET")
<ipython-input-51-15fe71cb422b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['870-872 BEACON STREET'] = int(grouped_df)

In [52]:
grouped_df = dfWifi[dfWifi['building_desc'] == '824-826 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 824-826 BEACON STREET")
WithoutWaterBottle['824-826 BEACON STREET'] = int(grouped_df)

On an average day, 157 people will benefit from a existing water bottle station at 824-826 BEACON STREET

<ipython-input-52-def99188e124>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 824-826 BEACON STREET")
<ipython-input-52-def99188e124>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['824-826 BEACON STREET'] = int(grouped_df)

In [53]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 24 BUSWELL STREET")
WithoutWaterBottle['24 BUSWELL STREET'] = int(grouped_df)

On an average day, 193 people will benefit from a existing water bottle station at 24 BUSWELL STREET

<ipython-input-53-ae9a9e166666>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 24 BUSWELL STREET")
<ipython-input-53-ae9a9e166666>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['24 BUSWELL STREET'] = int(grouped_df)

In [54]:
grouped_df = dfWifi[dfWifi['building_desc'] == '16 ARUNDEL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a existing water bottle station at 16 ARUNDEL STREET

<ipython-input-54-7138e254e126>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
<ipython-input-54-7138e254e126>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

In [55]:
grouped_df = dfWifi[dfWifi['building_desc'] == '834-836 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 834-836 BEACON STREET")
WithoutWaterBottle['834-836 BEACON STREET'] = int(grouped_df)

On an average day, 128 people will benefit from a existing water bottle station at 834-836 BEACON STREET

<ipython-input-55-0cc4a26d91ad>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 834-836 BEACON STREET")
<ipython-input-55-0cc4a26d91ad>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['834-836 BEACON STREET'] = int(grouped_df)

In [56]:
grouped_df = dfWifi[dfWifi['building_desc'] == '830 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 830 BEACON STREET")
WithoutWaterBottle['830 BEACON STREET'] = int(grouped_df)

On an average day, 68 people will benefit from a existing water bottle station at 830 BEACON STREET

<ipython-input-56-6b29ae2e9131>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 830 BEACON STREET")
<ipython-input-56-6b29ae2e9131>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['830 BEACON STREET'] = int(grouped_df)

In [57]:
grouped_df = dfWifi[dfWifi['building_desc'] == '98 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 98 MOUNTFORT STREET")
WithoutWaterBottle['98 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 148 people will benefit from a existing water bottle station at 98 MOUNTFORT STREET

<ipython-input-57-9406e9d0ce7d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 98 MOUNTFORT STREET")
<ipython-input-57-9406e9d0ce7d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['98 MOUNTFORT STREET'] = int(grouped_df)

In [58]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1010 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1010 COMMONWEALTH AVENUE")
WithoutWaterBottle['1010 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1457 people will benefit from a existing water bottle station at 1010 COMMONWEALTH AVENUE

<ipython-input-58-191ef05b5a03>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1010 COMMONWEALTH AVENUE")
<ipython-input-58-191ef05b5a03>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['1010 COMMONWEALTH AVENUE'] = int(grouped_df)

In [59]:
grouped_df = dfWifi[dfWifi['building_desc'] == '930-940 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 930-940 COMMONWEALTH AVENUE")
WithoutWaterBottle['930-940 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 6202 people will benefit from a existing water bottle station at 930-940 COMMONWEALTH AVENUE

<ipython-input-59-2543e8adf475>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 930-940 COMMONWEALTH AVENUE")
<ipython-input-59-2543e8adf475>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['930-940 COMMONWEALTH AVENUE'] = int(grouped_df)

In [60]:
grouped_df = dfWifi[dfWifi['building_desc'] == '186 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 186 BAY STATE ROAD")
WithoutWaterBottle['186 BAY STATE ROAD'] = int(grouped_df)

On an average day, 69 people will benefit from a existing water bottle station at 186 BAY STATE ROAD

<ipython-input-60-7e510c69e7d8>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 186 BAY STATE ROAD")
<ipython-input-60-7e510c69e7d8>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['186 BAY STATE ROAD'] = int(grouped_df)

In [61]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 BUICK STREET")
WithoutWaterBottle['10 BUICK STREET'] = int(grouped_df)

On an average day, 1081 people will benefit from a existing water bottle station at 10 BUICK STREET

<ipython-input-61-b70b14c3a969>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 BUICK STREET")
<ipython-input-61-b70b14c3a969>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['10 BUICK STREET'] = int(grouped_df)

In [62]:
grouped_df = dfWifi[dfWifi['building_desc'] == '900 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 900 COMMONWEALTH AVENUE")
WithoutWaterBottle['900 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 4106 people will benefit from a existing water bottle station at 900 COMMONWEALTH AVENUE

<ipython-input-62-314c091892b0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 900 COMMONWEALTH AVENUE")
<ipython-input-62-314c091892b0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['900 COMMONWEALTH AVENUE'] = int(grouped_df)

In [63]:
grouped_df = dfWifi[dfWifi['building_desc'] == '16 ARUNDEL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a existing water bottle station at 16 ARUNDEL STREET

<ipython-input-63-7138e254e126>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
<ipython-input-63-7138e254e126>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

In [64]:
grouped_df = dfWifi[dfWifi['building_desc'] == '38 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 38 BUSWELL STREET")
WithoutWaterBottle['38 BUSWELL STREET'] = int(grouped_df)

On an average day, 116 people will benefit from a existing water bottle station at 38 BUSWELL STREET

<ipython-input-64-2f0ecf178624>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 38 BUSWELL STREET")
<ipython-input-64-2f0ecf178624>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['38 BUSWELL STREET'] = int(grouped_df)

In [65]:
grouped_df = dfWifi[dfWifi['building_desc'] == '44 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 44 BUSWELL STREET")
WithoutWaterBottle['44 BUSWELL STREET'] = int(grouped_df)

On an average day, 3 people will benefit from a existing water bottle station at 44 BUSWELL STREET

<ipython-input-65-fdcfa2c25268>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 44 BUSWELL STREET")
<ipython-input-65-fdcfa2c25268>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['44 BUSWELL STREET'] = int(grouped_df)

In [66]:
grouped_df = dfWifi[dfWifi['building_desc'] == '48 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 48 BUSWELL STREET")
WithoutWaterBottle['48 BUSWELL STREET'] = int(grouped_df)

On an average day, 5 people will benefit from a existing water bottle station at 48 BUSWELL STREET

<ipython-input-66-30e62bfb7e8b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 48 BUSWELL STREET")
<ipython-input-66-30e62bfb7e8b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['48 BUSWELL STREET'] = int(grouped_df)

In [67]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1053 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1053 BEACON STREET")
WithoutWaterBottle['1053 BEACON STREET'] = int(grouped_df)

On an average day, 28 people will benefit from a existing water bottle station at 1053 BEACON STREET

<ipython-input-67-f609d5747606>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1053 BEACON STREET")
<ipython-input-67-f609d5747606>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['1053 BEACON STREET'] = int(grouped_df)

In [68]:
grouped_df = dfWifi[dfWifi['building_desc'] == '483 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 483 COMMONWEALTH AVENUE")
WithoutWaterBottle['483 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1 people will benefit from a existing water bottle station at 483 COMMONWEALTH AVENUE

<ipython-input-68-33a3433e751b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 483 COMMONWEALTH AVENUE")
<ipython-input-68-33a3433e751b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['483 COMMONWEALTH AVENUE'] = int(grouped_df)

In [69]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 2 BUSWELL STREET")
WithoutWaterBottle['2 BUSWELL STREET'] = int(grouped_df)

On an average day, 20 people will benefit from a existing water bottle station at 2 BUSWELL STREET

<ipython-input-69-25e79de5b727>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 2 BUSWELL STREET")
<ipython-input-69-25e79de5b727>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['2 BUSWELL STREET'] = int(grouped_df)

In [70]:
grouped_df = dfWifi[dfWifi['building_desc'] == '210-212 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 210-212 BAY STATE ROAD")
WithoutWaterBottle['210-212 BAY STATE ROAD'] = int(grouped_df)

On an average day, 197 people will benefit from a existing water bottle station at 210-212 BAY STATE ROAD

<ipython-input-70-88759cade3b8>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 210-212 BAY STATE ROAD")
<ipython-input-70-88759cade3b8>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['210-212 BAY STATE ROAD'] = int(grouped_df)

In [71]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 LENOX STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 LENOX STREET")
WithoutWaterBottle['10 LENOX STREET'] = int(grouped_df)

On an average day, 659 people will benefit from a existing water bottle station at 10 LENOX STREET

<ipython-input-71-267b4dbc251d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 LENOX STREET")
<ipython-input-71-267b4dbc251d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['10 LENOX STREET'] = int(grouped_df)

In [72]:
grouped_df = dfWifi[dfWifi['building_desc'] == '540 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 540 COMMONWEALTH AVENUE")
WithoutWaterBottle['540 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 563 people will benefit from a existing water bottle station at 540 COMMONWEALTH AVENUE

<ipython-input-72-09a90315b741>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 540 COMMONWEALTH AVENUE")
<ipython-input-72-09a90315b741>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['540 COMMONWEALTH AVENUE'] = int(grouped_df)

In [73]:
grouped_df = dfWifi[dfWifi['building_desc'] == '90-92 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 90-92 BAY STATE ROAD")
WithoutWaterBottle['90-92 BAY STATE ROAD'] = int(grouped_df)

On an average day, 184 people will benefit from a existing water bottle station at 90-92 BAY STATE ROAD

<ipython-input-73-494f32468997>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 90-92 BAY STATE ROAD")
<ipython-input-73-494f32468997>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['90-92 BAY STATE ROAD'] = int(grouped_df)

In [74]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 30 HARRY AGGANIS WAY")
WithoutWaterBottle['30 HARRY AGGANIS WAY'] = int(grouped_df)

On an average day, 0 people will benefit from a existing water bottle station at 30 HARRY AGGANIS WAY

<ipython-input-74-c63ac13b61a5>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 30 HARRY AGGANIS WAY")
<ipython-input-74-c63ac13b61a5>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['30 HARRY AGGANIS WAY'] = int(grouped_df)

## Wifi Stations With Water Bottle Filling Stations

In [75]:
grouped_df = dfWifi[dfWifi['building_desc'] == '771 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 771 COMMONWEALTH AVENUE")

On an average day, 1065 people benefitted from the existing water bottle station at 771 COMMONWEALTH AVENUE

<ipython-input-75-a68256259827>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 771 COMMONWEALTH AVENUE")

In [76]:
grouped_df = dfWifi[dfWifi['building_desc'] == '775 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 775 COMMONWEALTH AVENUE")

On an average day, 4647 people benefitted from the existing water bottle station at 775 COMMONWEALTH AVENUE

<ipython-input-76-21f1597f2da3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 775 COMMONWEALTH AVENUE")

In [77]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 UNIVERSITY ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1 UNIVERSITY ROAD")

On an average day, 3219 people benefitted from the existing water bottle station at 1 UNIVERSITY ROAD

<ipython-input-77-40442fb7d789>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1 UNIVERSITY ROAD")

In [78]:
grouped_df = dfWifi[dfWifi['building_desc'] == '745 - 755 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")

On an average day, 1586 people benefitted from the existing water bottle station at 745 - 755 COMMONWEALTH AVENUE

<ipython-input-78-e8f96856b1d3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")

In [79]:
grouped_df = dfWifi[dfWifi['building_desc'] == '264-270 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 264-270 BAY STATE ROAD")

On an average day, 1104 people benefitted from the existing water bottle station at 264-270 BAY STATE ROAD

<ipython-input-79-a7c857a6e61e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 264-270 BAY STATE ROAD")

In [80]:
grouped_df = dfWifi[dfWifi['building_desc'] == '635 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 635 COMMONWEALTH AVENUE")

On an average day, 1527 people benefitted from the existing water bottle station at 635 COMMONWEALTH AVENUE

<ipython-input-80-809ee4955409>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 635 COMMONWEALTH AVENUE")

In [81]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 SILBER WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 SILBER WAY")

On an average day, 1472 people benefitted from the existing water bottle station at 2 SILBER WAY

<ipython-input-81-8b82de2791be>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 SILBER WAY")

In [82]:
grouped_df = dfWifi[dfWifi['building_desc'] == '595 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 595 COMMONWEALTH AVENUE")

On an average day, 4523 people benefitted from the existing water bottle station at 595 COMMONWEALTH AVENUE

<ipython-input-82-92ce90f965e6>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 595 COMMONWEALTH AVENUE")

In [83]:
grouped_df = dfWifi[dfWifi['building_desc'] == '285 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 285 BABCOCK STREET")

On an average day, 8131 people benefitted from the existing water bottle station at 285 BABCOCK STREET

<ipython-input-83-037354930e02>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 285 BABCOCK STREET")

In [84]:
grouped_df = dfWifi[dfWifi['building_desc'] == '120 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 120 ASHFORD STREET")

On an average day, 4037 people benefitted from the existing water bottle station at 120 ASHFORD STREET

<ipython-input-84-8f4b9a5a1452>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 120 ASHFORD STREET")

In [85]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 ASHFORD STREET")

On an average day, 8905 people benefitted from the existing water bottle station at 100 ASHFORD STREET

<ipython-input-85-6a10c934cbbf>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 ASHFORD STREET")

In [86]:
grouped_df = dfWifi[dfWifi['building_desc'] == '590 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 590 COMMONWEALTH AVENUE")

On an average day, 5117 people benefitted from the existing water bottle station at 590 COMMONWEALTH AVENUE

<ipython-input-86-295e6d252365>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 590 COMMONWEALTH AVENUE")

In [87]:
grouped_df = dfWifi[dfWifi['building_desc'] == '722-26-28 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")

On an average day, 837 people benefitted from the existing water bottle station at 722-26-28 COMMONWEALTH AVENUE

<ipython-input-87-59859a7a9dfd>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")

In [88]:
grouped_df = dfWifi[dfWifi['building_desc'] == '730 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 730 COMMONWEALTH AVENUE")

On an average day, 2205 people benefitted from the existing water bottle station at 730 COMMONWEALTH AVENUE

<ipython-input-88-551ff3317571>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 730 COMMONWEALTH AVENUE")

In [89]:
grouped_df = dfWifi[dfWifi['building_desc'] == "8 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 8 ST. MARY'S STREET")

On an average day, 2887 people benefitted from the existing water bottle station at 8 ST. MARY'S STREET

<ipython-input-89-bc8661ff363d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 8 ST. MARY'S STREET")

In [90]:
grouped_df = dfWifi[dfWifi['building_desc'] == '25 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 25 BUICK STREET")

On an average day, 3624 people benefitted from the existing water bottle station at 25 BUICK STREET

<ipython-input-90-6d3210156fab>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 25 BUICK STREET")

In [91]:
grouped_df = dfWifi[dfWifi['building_desc'] == '855 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 855 COMMONWEALTH AVENUE")

On an average day, 3123 people benefitted from the existing water bottle station at 855 COMMONWEALTH AVENUE

<ipython-input-91-35238480d61a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 855 COMMONWEALTH AVENUE")

In [92]:
grouped_df = dfWifi[dfWifi['building_desc'] == '871 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 871 COMMONWEALTH AVENUE")

On an average day, 2830 people benefitted from the existing water bottle station at 871 COMMONWEALTH AVENUE

<ipython-input-92-7524d6902efe>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 871 COMMONWEALTH AVENUE")

In [93]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 700 COMMONWEALTH AVENUE")

On an average day, 2640 people benefitted from the existing water bottle station at 700 COMMONWEALTH AVENUE

<ipython-input-93-7d7f64e6e05a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 700 COMMONWEALTH AVENUE")

In [94]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1019 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1019 COMMONWEALTH AVENUE")

On an average day, 1087 people benefitted from the existing water bottle station at 1019 COMMONWEALTH AVENUE

<ipython-input-94-36f1855f6d12>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1019 COMMONWEALTH AVENUE")

In [95]:
grouped_df = dfWifi[dfWifi['building_desc'] == '91 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 91 BAY STATE ROAD")

On an average day, 1831 people benefitted from the existing water bottle station at 91 BAY STATE ROAD

<ipython-input-95-8de1bf6152b8>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 91 BAY STATE ROAD")

In [96]:
grouped_df = dfWifi[dfWifi['building_desc'] == '275 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 275 BABCOCK STREET")

On an average day, 1727 people benefitted from the existing water bottle station at 275 BABCOCK STREET

<ipython-input-96-18a578d5c381>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 275 BABCOCK STREET")

In [97]:
grouped_df = dfWifi[dfWifi['building_desc'] == '33 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 33 HARRY AGGANIS WAY")

On an average day, 1266 people benefitted from the existing water bottle station at 33 HARRY AGGANIS WAY

<ipython-input-97-41b02c3bbfc5>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 33 HARRY AGGANIS WAY")

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [98]:
WithWaterBottle = {}

In [99]:
grouped_df = dfWifi[dfWifi['building_desc'] == '771 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 771 COMMONWEALTH AVENUE")
WithWaterBottle["771 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 355 people benefitted per existing water bottle station at 771 COMMONWEALTH AVENUE

<ipython-input-99-d66440c41fe4>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 771 COMMONWEALTH AVENUE")
<ipython-input-99-d66440c41fe4>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["771 COMMONWEALTH AVENUE"] = int(grouped_df)

In [100]:
grouped_df = dfWifi[dfWifi['building_desc'] == '775 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 775 COMMONWEALTH AVENUE")
WithWaterBottle["775 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 929 people benefitted per existing water bottle station at 775 COMMONWEALTH AVENUE

<ipython-input-100-686837cd0e7e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 775 COMMONWEALTH AVENUE")
<ipython-input-100-686837cd0e7e>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["775 COMMONWEALTH AVENUE"] = int(grouped_df)

In [101]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 UNIVERSITY ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1 UNIVERSITY ROAD")
WithWaterBottle["1 UNIVERSITY ROAD"] = int(grouped_df)

On an average day, 804 people benefitted per existing water bottle station at 1 UNIVERSITY ROAD

<ipython-input-101-e5c654ed5fbf>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1 UNIVERSITY ROAD")
<ipython-input-101-e5c654ed5fbf>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["1 UNIVERSITY ROAD"] = int(grouped_df)

In [102]:
grouped_df = dfWifi[dfWifi['building_desc'] == '745 - 755 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")
WithWaterBottle["745 - 755 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 396 people benefitted per existing water bottle station at 745 - 755 COMMONWEALTH AVENUE

<ipython-input-102-643a50c79ede>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")
<ipython-input-102-643a50c79ede>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["745 - 755 COMMONWEALTH AVENUE"] = int(grouped_df)

In [103]:
grouped_df = dfWifi[dfWifi['building_desc'] == '264-270 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 264-270 BAY STATE ROAD")
WithWaterBottle["264-270 BAY STATE ROAD"] = int(grouped_df)

On an average day, 368 people benefitted per existing water bottle station at 264-270 BAY STATE ROAD

<ipython-input-103-968d139dc61f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 264-270 BAY STATE ROAD")
<ipython-input-103-968d139dc61f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["264-270 BAY STATE ROAD"] = int(grouped_df)

In [104]:
grouped_df = dfWifi[dfWifi['building_desc'] == '635 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 635 COMMONWEALTH AVENUE")
WithWaterBottle["635 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 381 people benefitted per existing water bottle station at 635 COMMONWEALTH AVENUE

<ipython-input-104-52ef71c8fcc0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 635 COMMONWEALTH AVENUE")
<ipython-input-104-52ef71c8fcc0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["635 COMMONWEALTH AVENUE"] = int(grouped_df)

In [105]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 SILBER WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 SILBER WAY")
WithWaterBottle["2 SILBER WAY'"] = int(grouped_df)

On an average day, 245 people benefitted per existing water bottle station at 2 SILBER WAY

<ipython-input-105-cb983c510a22>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 SILBER WAY")
<ipython-input-105-cb983c510a22>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["2 SILBER WAY'"] = int(grouped_df)

In [106]:
grouped_df = dfWifi[dfWifi['building_desc'] == '595 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 9
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 595 COMMONWEALTH AVENUE")
WithWaterBottle["595 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 502 people benefitted per existing water bottle station at 595 COMMONWEALTH AVENUE

<ipython-input-106-af6221a1e2a0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 595 COMMONWEALTH AVENUE")
<ipython-input-106-af6221a1e2a0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["595 COMMONWEALTH AVENUE"] = int(grouped_df)

In [107]:
grouped_df = dfWifi[dfWifi['building_desc'] == '285 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 285 BABCOCK STREET")
WithWaterBottle["285 BABCOCK STREET"] = int(grouped_df)

On an average day, 1626 people benefitted per existing water bottle station at 285 BABCOCK STREET

<ipython-input-107-62252c306af0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 285 BABCOCK STREET")
<ipython-input-107-62252c306af0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["285 BABCOCK STREET"] = int(grouped_df)

In [108]:
grouped_df = dfWifi[dfWifi['building_desc'] == '120 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 120 ASHFORD STREET")
WithWaterBottle["120 ASHFORD STREET"] = int(grouped_df)

On an average day, 2018 people benefitted per existing water bottle station at 120 ASHFORD STREET

<ipython-input-108-24ef5511e229>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 120 ASHFORD STREET")
<ipython-input-108-24ef5511e229>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["120 ASHFORD STREET"] = int(grouped_df)

In [109]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 ASHFORD STREET")
WithWaterBottle["100 ASHFORD STREET"] = int(grouped_df)

On an average day, 8905 people benefitted per existing water bottle station at 100 ASHFORD STREET

<ipython-input-109-d5da026884f1>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 ASHFORD STREET")
<ipython-input-109-d5da026884f1>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["100 ASHFORD STREET"] = int(grouped_df)

In [110]:
grouped_df = dfWifi[dfWifi['building_desc'] == '590 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 590 COMMONWEALTH AVENUE")
WithWaterBottle["590 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 852 people benefitted per existing water bottle station at 590 COMMONWEALTH AVENUE

<ipython-input-110-fe739224037c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 590 COMMONWEALTH AVENUE")
<ipython-input-110-fe739224037c>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["590 COMMONWEALTH AVENUE"] = int(grouped_df)

In [111]:
grouped_df = dfWifi[dfWifi['building_desc'] == '722-26-28 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 7
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")
WithWaterBottle["722-26-28 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 119 people benefitted per existing water bottle station at 722-26-28 COMMONWEALTH AVENUE

<ipython-input-111-ef4a92e792f2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")
<ipython-input-111-ef4a92e792f2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["722-26-28 COMMONWEALTH AVENUE"] = int(grouped_df)

In [112]:
grouped_df = dfWifi[dfWifi['building_desc'] == '730 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 730 COMMONWEALTH AVENUE")
WithWaterBottle["730 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2205 people benefitted per existing water bottle station at 730 COMMONWEALTH AVENUE

<ipython-input-112-8c458d2e3a4d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 730 COMMONWEALTH AVENUE")
<ipython-input-112-8c458d2e3a4d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["730 COMMONWEALTH AVENUE"] = int(grouped_df)

In [113]:
grouped_df = dfWifi[dfWifi['building_desc'] == "8 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 8 ST. MARY'S STREET")
WithWaterBottle["8 ST. MARY'S STREET"] = int(grouped_df)

On an average day, 721 people benefitted per existing water bottle station at 8 ST. MARY'S STREET

<ipython-input-113-860919f2e23f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 8 ST. MARY'S STREET")
<ipython-input-113-860919f2e23f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["8 ST. MARY'S STREET"] = int(grouped_df)

In [114]:
grouped_df = dfWifi[dfWifi['building_desc'] == '25 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 25 BUICK STREET")
WithWaterBottle["25 BUICK STREET"] = int(grouped_df)

On an average day, 3624 people benefitted per existing water bottle station at 25 BUICK STREET

<ipython-input-114-05ef9d0c1659>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 25 BUICK STREET")
<ipython-input-114-05ef9d0c1659>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["25 BUICK STREET"] = int(grouped_df)

In [115]:
grouped_df = dfWifi[dfWifi['building_desc'] == '855 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 855 COMMONWEALTH AVENUE")
WithWaterBottle["855 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 520 people benefitted per existing water bottle station at 855 COMMONWEALTH AVENUE

<ipython-input-115-d87e2a484129>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 855 COMMONWEALTH AVENUE")
<ipython-input-115-d87e2a484129>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["855 COMMONWEALTH AVENUE"] = int(grouped_df)

In [116]:
grouped_df = dfWifi[dfWifi['building_desc'] == '871 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 12
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 871 COMMONWEALTH AVENUE")
WithWaterBottle["871 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 235 people benefitted per existing water bottle station at 871 COMMONWEALTH AVENUE

<ipython-input-116-7b3ce634561d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 871 COMMONWEALTH AVENUE")
<ipython-input-116-7b3ce634561d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["871 COMMONWEALTH AVENUE"] = int(grouped_df)

In [117]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 700 COMMONWEALTH AVENUE")
WithWaterBottle["700 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 440 people benefitted per existing water bottle station at 700 COMMONWEALTH AVENUE

<ipython-input-117-7dd0d37538b6>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 700 COMMONWEALTH AVENUE")
<ipython-input-117-7dd0d37538b6>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["700 COMMONWEALTH AVENUE"] = int(grouped_df)

In [118]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1019 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1019 COMMONWEALTH AVENUE")
WithWaterBottle["1019 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 181 people benefitted per existing water bottle station at 1019 COMMONWEALTH AVENUE

<ipython-input-118-0f8f2e3636d2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1019 COMMONWEALTH AVENUE")
<ipython-input-118-0f8f2e3636d2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["1019 COMMONWEALTH AVENUE"] = int(grouped_df)

In [119]:
grouped_df = dfWifi[dfWifi['building_desc'] == '91 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 91 BAY STATE ROAD")
WithWaterBottle["91 BAY STATE ROAD"] = int(grouped_df)

On an average day, 915 people benefitted per existing water bottle station at 91 BAY STATE ROAD

<ipython-input-119-c5374cad79ad>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 91 BAY STATE ROAD")
<ipython-input-119-c5374cad79ad>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["91 BAY STATE ROAD"] = int(grouped_df)

In [120]:
grouped_df = dfWifi[dfWifi['building_desc'] == '275 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 275 BABCOCK STREET")
WithWaterBottle["275 BABCOCK STREET"] = int(grouped_df)

On an average day, 1727 people benefitted per existing water bottle station at 275 BABCOCK STREET

<ipython-input-120-86ee6ff630ec>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 275 BABCOCK STREET")
<ipython-input-120-86ee6ff630ec>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["275 BABCOCK STREET"] = int(grouped_df)

In [121]:
grouped_df = dfWifi[dfWifi['building_desc'] == '33 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 33 HARRY AGGANIS WAY")
WithWaterBottle["33 HARRY AGGANIS WAY"] = int(grouped_df)

On an average day, 633 people benefitted per existing water bottle station at 33 HARRY AGGANIS WAY

<ipython-input-121-4d28547be67a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 33 HARRY AGGANIS WAY")
<ipython-input-121-4d28547be67a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["33 HARRY AGGANIS WAY"] = int(grouped_df)

## Summary

In [122]:
for key, value in WithoutWaterBottle.items():
    print(f"    '{key}' : {value},")

    '209 BAY STATE ROAD' : 120,
    '200-202 BAY STATE ROAD' : 199,
    '184 BAY STATE ROAD' : 134,
    '190 BAY STATE ROAD' : 146,
    '161 BAY STATE ROAD' : 86,
    '163 BAY STATE ROAD' : 70,
    '159 BAY STATE ROAD' : 106,
    '6 BUSWELL STREET' : 443,
    '22 BUSWELL STREET' : 209,
    '96 MOUNTFORT STREET' : 118,
    '806-820 BEACON STREET' : 197,
    '844 BEACON STREET' : 142,
    '46 MOUNTFORT STREET' : 298,
    '856-862 BEACON STREET' : 90,
    '870-872 BEACON STREET' : 34,
    '824-826 BEACON STREET' : 157,
    '24 BUSWELL STREET' : 193,
    '16 ARUNDEL STREET' : 71,
    '834-836 BEACON STREET' : 128,
    '830 BEACON STREET' : 68,
    '98 MOUNTFORT STREET' : 148,
    '1010 COMMONWEALTH AVENUE' : 1457,
    '930-940 COMMONWEALTH AVENUE' : 6202,
    '186 BAY STATE ROAD' : 69,
    '10 BUICK STREET' : 1081,
    '900 COMMONWEALTH AVENUE' : 4106,
    '38 BUSWELL STREET' : 116,
    '44 BUSWELL STREET' : 3,
    '48 BUSWELL STREET' : 5,
    '1053 BEACON STREET' : 28,
    '483 COMMONWEALTH AVENUE' : 1,
    '2 BUSWELL STREET' : 20,
    '210-212 BAY STATE ROAD' : 197,
    '10 LENOX STREET' : 659,
    '540 COMMONWEALTH AVENUE' : 563,
    '90-92 BAY STATE ROAD' : 184,
    '30 HARRY AGGANIS WAY' : 0,

In [123]:
for key, value in WithWaterBottle.items():
    print(f"    '{key}' : {value},")

    '771 COMMONWEALTH AVENUE' : 355,
    '775 COMMONWEALTH AVENUE' : 929,
    '1 UNIVERSITY ROAD' : 804,
    '745 - 755 COMMONWEALTH AVENUE' : 396,
    '264-270 BAY STATE ROAD' : 368,
    '635 COMMONWEALTH AVENUE' : 381,
    '2 SILBER WAY'' : 245,
    '595 COMMONWEALTH AVENUE' : 502,
    '285 BABCOCK STREET' : 1626,
    '120 ASHFORD STREET' : 2018,
    '100 ASHFORD STREET' : 8905,
    '590 COMMONWEALTH AVENUE' : 852,
    '722-26-28 COMMONWEALTH AVENUE' : 119,
    '730 COMMONWEALTH AVENUE' : 2205,
    '8 ST. MARY'S STREET' : 721,
    '25 BUICK STREET' : 3624,
    '855 COMMONWEALTH AVENUE' : 520,
    '871 COMMONWEALTH AVENUE' : 235,
    '700 COMMONWEALTH AVENUE' : 440,
    '1019 COMMONWEALTH AVENUE' : 181,
    '91 BAY STATE ROAD' : 915,
    '275 BABCOCK STREET' : 1727,
    '33 HARRY AGGANIS WAY' : 633,

# Second 1/4 data -- done by Ryan

In [124]:
no_water_station = ['17 BUSWELL STREET', '35 BUSWELL STREET', '187 BAY STATE ROAD', '710 COMMONWEALTH AVENUE', '25 ABERDEEN STREET',
                    '515 PARK DRIVE', '171 BAY STATE ROAD', '278 BABCOCK STREET', '81 BAY STATE ROAD', '34 BUSWELL STREET',
                    '163-179 AMORY STREET', '112 BAY STATE ROAD','135 BAY STATE ROAD', '139 BAY STATE ROAD', '580 COMMONWEALTH AVENUE',
                    '31 BUSWELL STREET', '500-504 PARK DRIVE', '949 COMMONWEALTH AVENUE', '32 HARRY AGGANIS WAY', '11 BUSWELL STREET',
                    '514-522 PARK DRIVE', '41 BUSWELL STREET', '50-52 BUSWELL STREET', '80-82 IVY STREET', '3 BUSWELL STREET',
                    '29 BUSWELL STREET', '43 BUSWELL STREET', '55 BUSWELL STREET', '1A BUSWELL STREET', '15 BUSWELL STREET',
                    '33 BUSWELL STREET', '79 BAY STATE ROAD', '2 RALEIGH STREET', '481 COMMONWEALTH AVENUE', '94 BAY STATE ROAD',
                    '192 BAY STATE ROAD', '153 BAY STATE ROAD', '164 BAY STATE ROAD', '167-169 BAY STATE ROAD', '158-162 BAY STATE ROAD',
                    '176 BAY STATE ROAD', '175 BAY STATE ROAD', '166-168 BAY STATE ROAD', '182 BAY STATE ROAD', '208 BAY STATE ROAD',
                    '206 BAY STATE ROAD', '198 BAY STATE ROAD']

yes_water_station = []

for building in ryanData:
    if building not in no_water_station:
        yes_water_station.append(building)
        print(building)

140 BAY STATE ROAD
925 COMMONWEALTH AVENUE
517-521 BEACON STREET
48-52 CUMMINGTON MALL
808 COMMONWEALTH AVENUE
575 COMMONWEALTH AVENUE
273 BABCOCK STREET
277 BABCOCK STREET
640 COMMONWEALTH AVENUE
890 COMMONWEALTH AVENUE
915 COMMONWEALTH AVENUE
610 BEACON STREET
512 BEACON STREET

## Wifi Stations Without Water Bottle Filling Station

In [125]:
no_water = {}
total_water = {}

for building in no_water_station:
    grouped_df = dfWifi[dfWifi['building_desc'] == building]
    grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
    print(f"On an average day, {int(grouped_df.iloc[0])} people will benefit from a water bottle station at " + building)
    no_water[building] = int(grouped_df.iloc[0])
    total_water[building.title()] = int(grouped_df.iloc[0])

On an average day, 75 people will benefit from a water bottle station at 17 BUSWELL STREET
On an average day, 45 people will benefit from a water bottle station at 35 BUSWELL STREET
On an average day, 0 people will benefit from a water bottle station at 187 BAY STATE ROAD
On an average day, 67 people will benefit from a water bottle station at 710 COMMONWEALTH AVENUE
On an average day, 11 people will benefit from a water bottle station at 25 ABERDEEN STREET
On an average day, 2 people will benefit from a water bottle station at 515 PARK DRIVE
On an average day, 59 people will benefit from a water bottle station at 171 BAY STATE ROAD
On an average day, 0 people will benefit from a water bottle station at 278 BABCOCK STREET
On an average day, 97 people will benefit from a water bottle station at 81 BAY STATE ROAD
On an average day, 154 people will benefit from a water bottle station at 34 BUSWELL STREET
On an average day, 1359 people will benefit from a water bottle station at 163-179 AMORY STREET
On an average day, 48 people will benefit from a water bottle station at 112 BAY STATE ROAD
On an average day, 139 people will benefit from a water bottle station at 135 BAY STATE ROAD
On an average day, 40 people will benefit from a water bottle station at 139 BAY STATE ROAD
On an average day, 845 people will benefit from a water bottle station at 580 COMMONWEALTH AVENUE
On an average day, 69 people will benefit from a water bottle station at 31 BUSWELL STREET
On an average day, 236 people will benefit from a water bottle station at 500-504 PARK DRIVE
On an average day, 830 people will benefit from a water bottle station at 949 COMMONWEALTH AVENUE
On an average day, 359 people will benefit from a water bottle station at 32 HARRY AGGANIS WAY
On an average day, 89 people will benefit from a water bottle station at 11 BUSWELL STREET
On an average day, 598 people will benefit from a water bottle station at 514-522 PARK DRIVE
On an average day, 66 people will benefit from a water bottle station at 41 BUSWELL STREET
On an average day, 295 people will benefit from a water bottle station at 50-52 BUSWELL STREET
On an average day, 409 people will benefit from a water bottle station at 80-82 IVY STREET
On an average day, 68 people will benefit from a water bottle station at 3 BUSWELL STREET
On an average day, 136 people will benefit from a water bottle station at 29 BUSWELL STREET
On an average day, 94 people will benefit from a water bottle station at 43 BUSWELL STREET
On an average day, 276 people will benefit from a water bottle station at 55 BUSWELL STREET
On an average day, 98 people will benefit from a water bottle station at 1A BUSWELL STREET
On an average day, 55 people will benefit from a water bottle station at 15 BUSWELL STREET
On an average day, 93 people will benefit from a water bottle station at 33 BUSWELL STREET
On an average day, 165 people will benefit from a water bottle station at 79 BAY STATE ROAD
On an average day, 81 people will benefit from a water bottle station at 2 RALEIGH STREET
On an average day, 105 people will benefit from a water bottle station at 481 COMMONWEALTH AVENUE
On an average day, 61 people will benefit from a water bottle station at 94 BAY STATE ROAD
On an average day, 114 people will benefit from a water bottle station at 192 BAY STATE ROAD
On an average day, 105 people will benefit from a water bottle station at 153 BAY STATE ROAD
On an average day, 66 people will benefit from a water bottle station at 164 BAY STATE ROAD
On an average day, 187 people will benefit from a water bottle station at 167-169 BAY STATE ROAD
On an average day, 187 people will benefit from a water bottle station at 158-162 BAY STATE ROAD
On an average day, 94 people will benefit from a water bottle station at 176 BAY STATE ROAD
On an average day, 123 people will benefit from a water bottle station at 175 BAY STATE ROAD
On an average day, 175 people will benefit from a water bottle station at 166-168 BAY STATE ROAD
On an average day, 93 people will benefit from a water bottle station at 182 BAY STATE ROAD
On an average day, 121 people will benefit from a water bottle station at 208 BAY STATE ROAD
On an average day, 122 people will benefit from a water bottle station at 206 BAY STATE ROAD
On an average day, 88 people will benefit from a water bottle station at 198 BAY STATE ROAD

## Wifi Stations With Water Bottle Filling Station

In [126]:
yes_water = {}

for building in yes_water_station:
    grouped_df = dfWifi[dfWifi['building_desc'] == building]
    grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
    print(f"On an average day, {int(grouped_df.iloc[0])} people benefitted from the existing water bottle station at " + building)
    yes_water[building] = int(grouped_df.iloc[0])
    total_water[building.title()] = int(grouped_df.iloc[0])

On an average day, 905 people benefitted from the existing water bottle station at 140 BAY STATE ROAD
On an average day, 41 people benefitted from the existing water bottle station at 925 COMMONWEALTH AVENUE
On an average day, 304 people benefitted from the existing water bottle station at 517-521 BEACON STREET
On an average day, 658 people benefitted from the existing water bottle station at 48-52 CUMMINGTON MALL
On an average day, 4009 people benefitted from the existing water bottle station at 808 COMMONWEALTH AVENUE
On an average day, 1228 people benefitted from the existing water bottle station at 575 COMMONWEALTH AVENUE
On an average day, 952 people benefitted from the existing water bottle station at 273 BABCOCK STREET
On an average day, 1012 people benefitted from the existing water bottle station at 277 BABCOCK STREET
On an average day, 2569 people benefitted from the existing water bottle station at 640 COMMONWEALTH AVENUE
On an average day, 3494 people benefitted from the existing water bottle station at 890 COMMONWEALTH AVENUE
On an average day, 2739 people benefitted from the existing water bottle station at 915 COMMONWEALTH AVENUE
On an average day, 1752 people benefitted from the existing water bottle station at 610 BEACON STREET
On an average day, 572 people benefitted from the existing water bottle station at 512 BEACON STREET

In [127]:
dfInventory.head(5)

,Address,Floor,Description,Space@Bu room,Quantity,Walk-Thru Notes
0,100 Ashford St,First,"Hallway across from vending machines, across f...",191,1.0,two additional drinking fountain locations in ...
1,120 Ashford St,First,"Kitchenette, Room 116A",116A,1.0,NaN
2,120 Ashford St,Second,"Kitchenette, Room 222",222,1.0,NaN
3,8 St. Mary's Street,Basement,Hallway by bathrooms,B81,1.0,NaN
4,8 St. Mary's Street,First,Hallway by electrical room,181,1.0,NaN

In [128]:
stations_multiple_floors = {}

for idx, row in dfInventory.iterrows():
    address = row['Address']
    quantity = row['Quantity']

    if address not in stations_multiple_floors:
        stations_multiple_floors[address] = quantity
    else:
        stations_multiple_floors[address] += quantity

for address in total_water:
    if address in stations_multiple_floors:
        quantity = stations_multiple_floors[address]
        print(f"On an average day, {total_water[address] / quantity} people benefitted per floor from the existing water bottle station at {address} with {quantity} floors")

On an average day, 452.5 people benefitted per floor from the existing water bottle station at 140 Bay State Road with 2.0 floors

# Third 1/4 data -- done by Junho

In [129]:
print(junhoData)

['177 BAY STATE ROAD' '179 BAY STATE ROAD' '157 BAY STATE ROAD'
 '195-197 BAY STATE ROAD' '203 BAY STATE ROAD' '181 BAY STATE ROAD'
 '627-629 COMMONWEALTH AVENUE' '173 BAY STATE ROAD' '178 BAY STATE ROAD'
 '205 BAY STATE ROAD' '96-100 CUMMINGTON MALL' '42 BUSWELL STREET'
 '852 BEACON STREET' '848 BEACON STREET' '864 BEACON STREET'
 '133 BAY STATE ROAD' '625 COMMONWEALTH AVENUE' '832 BEACON STREET'
 '881 COMMONWEALTH AVENUE' '141 BAY STATE ROAD' '117 BAY STATE ROAD'
 '53 BAY STATE ROAD' '67 BAY STATE ROAD' '100 BAY STATE ROAD'
 '110 BAY STATE ROAD' '115 BAY STATE ROAD' '704 COMMONWEALTH AVENUE'
 '610 COMMONWEALTH AVENUE' '928 COMMONWEALTH AVENUE' '141 CARLTON STREET'
 '985 COMMONWEALTH AVENUE' '888 COMMONWEALTH AVENUE'
 '37-39 CARLTON STREET' '1 BUSWELL STREET' '5 BUSWELL STREET'
 '37 BUSWELL STREET' '39 BUSWELL STREET' '45 BUSWELL STREET'
 '47 BUSWELL STREET' '7 BUSWELL STREET' '60 BAY STATE ROAD'
 '80 BAY STATE ROAD' '820 COMMONWEALTH AVENUE' '191 BAY STATE ROAD'
 '199 BAY STATE ROAD' '232 BAY STATE ROAD' '196 BAY STATE ROAD'
 '201 BAY STATE ROAD' '214 BAY STATE ROAD' '207 BAY STATE ROAD'
 '188 BAY STATE ROAD' '204 BAY STATE ROAD' '619 MEMORIAL DRIVE'
 '100 MOUNTFORT STREET' '300 BABCOCK STREET' '2 CUMMINGTON MALL'
 '30-38 CUMMINGTON MALL' '3 - 5 CUMMINGTON MALL' '24 CUMMINGTON MALL'
 '677 BEACON STREET']

## Wifi Stations Without Water Bottle Filling Station

In [130]:
WithoutWaterBottle = {}

In [131]:
grouped_df = dfWifi[dfWifi['building_desc'] == '177 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 177 BAY STATE ROAD")
WithoutWaterBottle['177 BAY STATE ROAD'] = int(grouped_df)

On an average day, 148 people will benefit from a water bottle station at 177 BAY STATE ROAD

<ipython-input-131-0c334f19a557>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 177 BAY STATE ROAD")
<ipython-input-131-0c334f19a557>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['177 BAY STATE ROAD'] = int(grouped_df)

In [132]:
grouped_df = dfWifi[dfWifi['building_desc'] == '179 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 179 BAY STATE ROAD")
WithoutWaterBottle['179 BAY STATE ROAD'] = int(grouped_df)

On an average day, 98 people will benefit from a water bottle station at 179 BAY STATE ROAD

<ipython-input-132-cdf0e091c19b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 179 BAY STATE ROAD")
<ipython-input-132-cdf0e091c19b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['179 BAY STATE ROAD'] = int(grouped_df)

In [133]:
grouped_df = dfWifi[dfWifi['building_desc'] == '157 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 157 BAY STATE ROAD")
WithoutWaterBottle['157 BAY STATE ROAD'] = int(grouped_df)

On an average day, 151 people will benefit from a water bottle station at 157 BAY STATE ROAD

<ipython-input-133-85a353f0413d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 157 BAY STATE ROAD")
<ipython-input-133-85a353f0413d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['157 BAY STATE ROAD'] = int(grouped_df)

In [134]:
grouped_df = dfWifi[dfWifi['building_desc'] == '203 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 203 BAY STATE ROAD")
WithoutWaterBottle['203 BAY STATE ROAD'] = int(grouped_df)

On an average day, 155 people will benefit from a water bottle station at 203 BAY STATE ROAD

<ipython-input-134-16284df6e1a9>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 203 BAY STATE ROAD")
<ipython-input-134-16284df6e1a9>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['203 BAY STATE ROAD'] = int(grouped_df)

In [135]:
grouped_df = dfWifi[dfWifi['building_desc'] == '181 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 181 BAY STATE ROAD")
WithoutWaterBottle['181 BAY STATE ROAD'] = int(grouped_df)

On an average day, 103 people will benefit from a water bottle station at 181 BAY STATE ROAD

<ipython-input-135-ce6ad363eb44>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 181 BAY STATE ROAD")
<ipython-input-135-ce6ad363eb44>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['181 BAY STATE ROAD'] = int(grouped_df)

In [136]:
grouped_df = dfWifi[dfWifi['building_desc'] == '173 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 173 BAY STATE ROAD")
WithoutWaterBottle['173 BAY STATE ROAD'] = int(grouped_df)

On an average day, 46 people will benefit from a water bottle station at 173 BAY STATE ROAD

<ipython-input-136-fed343df163b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 173 BAY STATE ROAD")
<ipython-input-136-fed343df163b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['173 BAY STATE ROAD'] = int(grouped_df)

In [137]:
grouped_df = dfWifi[dfWifi['building_desc'] == '178 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 178 BAY STATE ROAD")
WithoutWaterBottle['178 BAY STATE ROAD'] = int(grouped_df)

On an average day, 138 people will benefit from a water bottle station at 178 BAY STATE ROAD

<ipython-input-137-b601f9227ac2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 178 BAY STATE ROAD")
<ipython-input-137-b601f9227ac2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['178 BAY STATE ROAD'] = int(grouped_df)

In [138]:
grouped_df = dfWifi[dfWifi['building_desc'] == '205 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 205 BAY STATE ROAD")
WithoutWaterBottle['205 BAY STATE ROAD'] = int(grouped_df)

On an average day, 69 people will benefit from a water bottle station at 205 BAY STATE ROAD

<ipython-input-138-f25be767b7cd>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 205 BAY STATE ROAD")
<ipython-input-138-f25be767b7cd>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['205 BAY STATE ROAD'] = int(grouped_df)

In [139]:
grouped_df = dfWifi[dfWifi['building_desc'] == '42 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 42 BUSWELL STREET")
WithoutWaterBottle['42 BUSWELL STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 42 BUSWELL STREET

<ipython-input-139-86b92c7036da>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 42 BUSWELL STREET")
<ipython-input-139-86b92c7036da>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['42 BUSWELL STREET'] = int(grouped_df)

In [140]:
grouped_df = dfWifi[dfWifi['building_desc'] == '852 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 852 BEACON STREET")
WithoutWaterBottle['852 BEACON STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 852 BEACON STREET

<ipython-input-140-92fff5886a32>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 852 BEACON STREET")
<ipython-input-140-92fff5886a32>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['852 BEACON STREET'] = int(grouped_df)

In [141]:
grouped_df = dfWifi[dfWifi['building_desc'] == '848 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 848 BEACON STREET")
WithoutWaterBottle['848 BEACON STREET'] = int(grouped_df)

On an average day, 2 people will benefit from a water bottle station at 848 BEACON STREET

<ipython-input-141-0aeb6441f31b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 848 BEACON STREET")
<ipython-input-141-0aeb6441f31b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['848 BEACON STREET'] = int(grouped_df)

In [142]:
grouped_df = dfWifi[dfWifi['building_desc'] == '864 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 864 BEACON STREET")
WithoutWaterBottle['864 BEACON STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 864 BEACON STREET

<ipython-input-142-4ffeef3f0ab3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 864 BEACON STREET")
<ipython-input-142-4ffeef3f0ab3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['864 BEACON STREET'] = int(grouped_df)

In [143]:
grouped_df = dfWifi[dfWifi['building_desc'] == '133 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 133 BAY STATE ROAD")
WithoutWaterBottle['133 BAY STATE ROAD'] = int(grouped_df)

On an average day, 54 people will benefit from a water bottle station at 133 BAY STATE ROAD

<ipython-input-143-03df081d91af>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 133 BAY STATE ROAD")
<ipython-input-143-03df081d91af>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['133 BAY STATE ROAD'] = int(grouped_df)

In [144]:
grouped_df = dfWifi[dfWifi['building_desc'] == '625 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 625 COMMONWEALTH AVENUE")
WithoutWaterBottle['625 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 25 people will benefit from a water bottle station at 625 COMMONWEALTH AVENUE

<ipython-input-144-79345f738192>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 625 COMMONWEALTH AVENUE")
<ipython-input-144-79345f738192>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['625 COMMONWEALTH AVENUE'] = int(grouped_df)

In [145]:
grouped_df = dfWifi[dfWifi['building_desc'] == '832 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 832 BEACON STREET")
WithoutWaterBottle['832 BEACON STREET'] = int(grouped_df)

On an average day, 61 people will benefit from a water bottle station at 832 BEACON STREET

<ipython-input-145-a5ac4b5f3826>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 832 BEACON STREET")
<ipython-input-145-a5ac4b5f3826>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['832 BEACON STREET'] = int(grouped_df)

In [146]:
grouped_df = dfWifi[dfWifi['building_desc'] == '141 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 BAY STATE ROAD")
WithoutWaterBottle['141 BAY STATE ROAD'] = int(grouped_df)

On an average day, 101 people will benefit from a water bottle station at 141 BAY STATE ROAD

<ipython-input-146-58494bdf1ac3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 BAY STATE ROAD")
<ipython-input-146-58494bdf1ac3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['141 BAY STATE ROAD'] = int(grouped_df)

In [147]:
grouped_df = dfWifi[dfWifi['building_desc'] == '117 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 117 BAY STATE ROAD")
WithoutWaterBottle['117 BAY STATE ROAD'] = int(grouped_df)

On an average day, 103 people will benefit from a water bottle station at 117 BAY STATE ROAD

<ipython-input-147-dc0ad50fd26a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 117 BAY STATE ROAD")
<ipython-input-147-dc0ad50fd26a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['117 BAY STATE ROAD'] = int(grouped_df)

In [148]:
grouped_df = dfWifi[dfWifi['building_desc'] == '53 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 53 BAY STATE ROAD")
WithoutWaterBottle['53 BAY STATE ROAD'] = int(grouped_df)

On an average day, 349 people will benefit from a water bottle station at 53 BAY STATE ROAD

<ipython-input-148-0051ef9b9de2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 53 BAY STATE ROAD")
<ipython-input-148-0051ef9b9de2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['53 BAY STATE ROAD'] = int(grouped_df)

In [149]:
grouped_df = dfWifi[dfWifi['building_desc'] == '67 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 67 BAY STATE ROAD")
WithoutWaterBottle['67 BAY STATE ROAD'] = int(grouped_df)

On an average day, 157 people will benefit from a water bottle station at 67 BAY STATE ROAD

<ipython-input-149-842e4295c8eb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 67 BAY STATE ROAD")
<ipython-input-149-842e4295c8eb>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['67 BAY STATE ROAD'] = int(grouped_df)

In [150]:
grouped_df = dfWifi[dfWifi['building_desc'] == '110 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 110 BAY STATE ROAD")
WithoutWaterBottle['110 BAY STATE ROAD'] = int(grouped_df)

On an average day, 54 people will benefit from a water bottle station at 110 BAY STATE ROAD

<ipython-input-150-08941585e47b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 110 BAY STATE ROAD")
<ipython-input-150-08941585e47b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['110 BAY STATE ROAD'] = int(grouped_df)

In [151]:
grouped_df = dfWifi[dfWifi['building_desc'] == '115 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 115 BAY STATE ROAD")
WithoutWaterBottle['115 BAY STATE ROAD'] = int(grouped_df)

On an average day, 59 people will benefit from a water bottle station at 115 BAY STATE ROAD

<ipython-input-151-28bfaf1408b2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 115 BAY STATE ROAD")
<ipython-input-151-28bfaf1408b2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['115 BAY STATE ROAD'] = int(grouped_df)

In [152]:
grouped_df = dfWifi[dfWifi['building_desc'] == '704 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 704 COMMONWEALTH AVENUE")
WithoutWaterBottle['704 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 510 people will benefit from a water bottle station at 704 COMMONWEALTH AVENUE

<ipython-input-152-128610f5c181>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 704 COMMONWEALTH AVENUE")
<ipython-input-152-128610f5c181>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['704 COMMONWEALTH AVENUE'] = int(grouped_df)

In [153]:
grouped_df = dfWifi[dfWifi['building_desc'] == '141 CARLTON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 CARLTON STREET")
WithoutWaterBottle['141 CARLTON STREET'] = int(grouped_df)

On an average day, 134 people will benefit from a water bottle station at 141 CARLTON STREET

<ipython-input-153-e5ef7babc48f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 CARLTON STREET")
<ipython-input-153-e5ef7babc48f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['141 CARLTON STREET'] = int(grouped_df)

In [154]:
grouped_df = dfWifi[dfWifi['building_desc'] == '37-39 CARLTON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37-39 CARLTON STREET")
WithoutWaterBottle['37-39 CARLTON STREET'] = int(grouped_df)

On an average day, 211 people will benefit from a water bottle station at 37-39 CARLTON STREET

<ipython-input-154-69e5e0d7b302>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37-39 CARLTON STREET")
<ipython-input-154-69e5e0d7b302>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['37-39 CARLTON STREET'] = int(grouped_df)

In [155]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 1 BUSWELL STREET")
WithoutWaterBottle['1 BUSWELL STREET'] = int(grouped_df)

On an average day, 75 people will benefit from a water bottle station at 1 BUSWELL STREET

<ipython-input-155-1f8da49ca8e5>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 1 BUSWELL STREET")
<ipython-input-155-1f8da49ca8e5>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['1 BUSWELL STREET'] = int(grouped_df)

In [156]:
grouped_df = dfWifi[dfWifi['building_desc'] == '5 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 5 BUSWELL STREET")
WithoutWaterBottle['5 BUSWELL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a water bottle station at 5 BUSWELL STREET

<ipython-input-156-3bcd77a1575a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 5 BUSWELL STREET")
<ipython-input-156-3bcd77a1575a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['5 BUSWELL STREET'] = int(grouped_df)

In [157]:
grouped_df = dfWifi[dfWifi['building_desc'] == '37 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37 BUSWELL STREET")
WithoutWaterBottle['37 BUSWELL STREET'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 37 BUSWELL STREET

<ipython-input-157-3c0c8e843aa4>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37 BUSWELL STREET")
<ipython-input-157-3c0c8e843aa4>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['37 BUSWELL STREET'] = int(grouped_df)

In [158]:
grouped_df = dfWifi[dfWifi['building_desc'] == '39 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 39 BUSWELL STREET")
WithoutWaterBottle['39 BUSWELL STREET'] = int(grouped_df)

On an average day, 40 people will benefit from a water bottle station at 39 BUSWELL STREET

<ipython-input-158-35e28ba11c1b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 39 BUSWELL STREET")
<ipython-input-158-35e28ba11c1b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['39 BUSWELL STREET'] = int(grouped_df)

In [159]:
grouped_df = dfWifi[dfWifi['building_desc'] == '45 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 45 BUSWELL STREET")
WithoutWaterBottle['45 BUSWELL STREET'] = int(grouped_df)

On an average day, 110 people will benefit from a water bottle station at 45 BUSWELL STREET

<ipython-input-159-cf978c20836f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 45 BUSWELL STREET")
<ipython-input-159-cf978c20836f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['45 BUSWELL STREET'] = int(grouped_df)

In [160]:
grouped_df = dfWifi[dfWifi['building_desc'] == '47 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 47 BUSWELL STREET")
WithoutWaterBottle['47 BUSWELL STREET'] = int(grouped_df)

On an average day, 98 people will benefit from a water bottle station at 47 BUSWELL STREET

<ipython-input-160-7dcfefa18371>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 47 BUSWELL STREET")
<ipython-input-160-7dcfefa18371>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['47 BUSWELL STREET'] = int(grouped_df)

In [161]:
grouped_df = dfWifi[dfWifi['building_desc'] == '7 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 7 BUSWELL STREET")
WithoutWaterBottle['7 BUSWELL STREET'] = int(grouped_df)

On an average day, 84 people will benefit from a water bottle station at 7 BUSWELL STREET

<ipython-input-161-43ba968d8d87>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 7 BUSWELL STREET")
<ipython-input-161-43ba968d8d87>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['7 BUSWELL STREET'] = int(grouped_df)

In [162]:
grouped_df = dfWifi[dfWifi['building_desc'] == '60 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 60 BAY STATE ROAD")
WithoutWaterBottle['60 BAY STATE ROAD'] = int(grouped_df)

On an average day, 70 people will benefit from a water bottle station at 60 BAY STATE ROAD

<ipython-input-162-3633f2098cc6>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 60 BAY STATE ROAD")
<ipython-input-162-3633f2098cc6>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['60 BAY STATE ROAD'] = int(grouped_df)

In [163]:
grouped_df = dfWifi[dfWifi['building_desc'] == '80 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 80 BAY STATE ROAD")
WithoutWaterBottle['80 BAY STATE ROAD'] = int(grouped_df)

On an average day, 68 people will benefit from a water bottle station at 80 BAY STATE ROAD

<ipython-input-163-8c805fef6bd3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 80 BAY STATE ROAD")
<ipython-input-163-8c805fef6bd3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['80 BAY STATE ROAD'] = int(grouped_df)

In [164]:
grouped_df = dfWifi[dfWifi['building_desc'] == '191 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 191 BAY STATE ROAD")
WithoutWaterBottle['191 BAY STATE ROAD'] = int(grouped_df)

On an average day, 145 people will benefit from a water bottle station at 191 BAY STATE ROAD

<ipython-input-164-a80d126665b0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 191 BAY STATE ROAD")
<ipython-input-164-a80d126665b0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['191 BAY STATE ROAD'] = int(grouped_df)

In [165]:
grouped_df = dfWifi[dfWifi['building_desc'] == '199 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 199 BAY STATE ROAD")
WithoutWaterBottle['199 BAY STATE ROAD'] = int(grouped_df)

On an average day, 128 people will benefit from a water bottle station at 199 BAY STATE ROAD

<ipython-input-165-dbf354e8ba55>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 199 BAY STATE ROAD")
<ipython-input-165-dbf354e8ba55>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['199 BAY STATE ROAD'] = int(grouped_df)

In [166]:
grouped_df = dfWifi[dfWifi['building_desc'] == '232 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 232 BAY STATE ROAD")
WithoutWaterBottle['232 BAY STATE ROAD'] = int(grouped_df)

On an average day, 720 people will benefit from a water bottle station at 232 BAY STATE ROAD

<ipython-input-166-2b56cb78bd8a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 232 BAY STATE ROAD")
<ipython-input-166-2b56cb78bd8a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['232 BAY STATE ROAD'] = int(grouped_df)

In [167]:
grouped_df = dfWifi[dfWifi['building_desc'] == '201 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 201 BAY STATE ROAD")
WithoutWaterBottle['201 BAY STATE ROAD'] = int(grouped_df)

On an average day, 126 people will benefit from a water bottle station at 201 BAY STATE ROAD

<ipython-input-167-b5025d34dcb3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 201 BAY STATE ROAD")
<ipython-input-167-b5025d34dcb3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['201 BAY STATE ROAD'] = int(grouped_df)

In [168]:
grouped_df = dfWifi[dfWifi['building_desc'] == '214 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 214 BAY STATE ROAD")
WithoutWaterBottle['214 BAY STATE ROAD'] = int(grouped_df)

On an average day, 44 people will benefit from a water bottle station at 214 BAY STATE ROAD

<ipython-input-168-eba0591ff864>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 214 BAY STATE ROAD")
<ipython-input-168-eba0591ff864>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['214 BAY STATE ROAD'] = int(grouped_df)

In [169]:
grouped_df = dfWifi[dfWifi['building_desc'] == '207 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 207 BAY STATE ROAD")
WithoutWaterBottle['207 BAY STATE ROAD'] = int(grouped_df)

On an average day, 83 people will benefit from a water bottle station at 207 BAY STATE ROAD

<ipython-input-169-83899aba9191>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 207 BAY STATE ROAD")
<ipython-input-169-83899aba9191>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['207 BAY STATE ROAD'] = int(grouped_df)

In [170]:
grouped_df = dfWifi[dfWifi['building_desc'] == '188 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 188 BAY STATE ROAD")
WithoutWaterBottle['188 BAY STATE ROAD'] = int(grouped_df)

On an average day, 169 people will benefit from a water bottle station at 188 BAY STATE ROAD

<ipython-input-170-bd231df9052c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 188 BAY STATE ROAD")
<ipython-input-170-bd231df9052c>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['188 BAY STATE ROAD'] = int(grouped_df)

In [171]:
grouped_df = dfWifi[dfWifi['building_desc'] == '204 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 204 BAY STATE ROAD")
WithoutWaterBottle['204 BAY STATE ROAD'] = int(grouped_df)

On an average day, 121 people will benefit from a water bottle station at 204 BAY STATE ROAD

<ipython-input-171-4fc7af58520c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 204 BAY STATE ROAD")
<ipython-input-171-4fc7af58520c>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['204 BAY STATE ROAD'] = int(grouped_df)

In [172]:
grouped_df = dfWifi[dfWifi['building_desc'] == '619 MEMORIAL DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 619 MEMORIAL DRIVE")
WithoutWaterBottle['619 MEMORIAL DRIVE'] = int(grouped_df)

On an average day, 1067 people will benefit from a water bottle station at 619 MEMORIAL DRIVE

<ipython-input-172-c0874e055fea>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 619 MEMORIAL DRIVE")
<ipython-input-172-c0874e055fea>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['619 MEMORIAL DRIVE'] = int(grouped_df)

In [173]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 100 MOUNTFORT STREET")
WithoutWaterBottle['100 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 100 MOUNTFORT STREET

<ipython-input-173-badb224f85f3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 100 MOUNTFORT STREET")
<ipython-input-173-badb224f85f3>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['100 MOUNTFORT STREET'] = int(grouped_df)

In [174]:
grouped_df = dfWifi[dfWifi['building_desc'] == '677 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 677 BEACON STREET")
WithoutWaterBottle['677 BEACON STREET'] = int(grouped_df)

On an average day, 667 people will benefit from a water bottle station at 677 BEACON STREET

<ipython-input-174-05dc0c2e044d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 677 BEACON STREET")
<ipython-input-174-05dc0c2e044d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['677 BEACON STREET'] = int(grouped_df)

## Wifi Stations With Water Bottle Filling Stations

In [175]:
grouped_df = dfWifi[dfWifi['building_desc'] == '195-197 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")

On an average day, 262 people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD

<ipython-input-175-8151d642a1ee>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")

In [176]:
grouped_df = dfWifi[dfWifi['building_desc'] == '627-629 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 627-629 COMMONWEALTH AVENUE")

On an average day, 183 people benefitted from the existing water bottle station at 627-629 COMMONWEALTH AVENUE

<ipython-input-176-71b9ce719ceb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 627-629 COMMONWEALTH AVENUE")

In [177]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96-100 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 96-100 CUMMINGTON MALL")

On an average day, 916 people benefitted from the existing water bottle station at 96-100 CUMMINGTON MALL

<ipython-input-177-b758c3b5f48d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 96-100 CUMMINGTON MALL")

In [178]:
grouped_df = dfWifi[dfWifi['building_desc'] == '881 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")

On an average day, 1620 people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE

<ipython-input-178-a3895200547c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")

In [179]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 BAY STATE ROAD")

On an average day, 1957 people benefitted from the existing water bottle station at 100 BAY STATE ROAD

<ipython-input-179-9bba25364999>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 BAY STATE ROAD")

In [180]:
grouped_df = dfWifi[dfWifi['building_desc'] == '928 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 928 COMMONWEALTH AVENUE")

On an average day, 1533 people benefitted from the existing water bottle station at 928 COMMONWEALTH AVENUE

<ipython-input-180-d98440344c98>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 928 COMMONWEALTH AVENUE")

In [181]:
grouped_df = dfWifi[dfWifi['building_desc'] == '985 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 985 COMMONWEALTH AVENUE")

On an average day, 2074 people benefitted from the existing water bottle station at 985 COMMONWEALTH AVENUE

<ipython-input-181-adaca9db8b91>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 985 COMMONWEALTH AVENUE")

In [182]:
grouped_df = dfWifi[dfWifi['building_desc'] == '888 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 888 COMMONWEALTH AVENUE")

On an average day, 2396 people benefitted from the existing water bottle station at 888 COMMONWEALTH AVENUE

<ipython-input-182-244260c963f8>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 888 COMMONWEALTH AVENUE")

In [183]:
grouped_df = dfWifi[dfWifi['building_desc'] == '820 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 820 COMMONWEALTH AVENUE")

On an average day, 1619 people benefitted from the existing water bottle station at 820 COMMONWEALTH AVENUE

<ipython-input-183-c876d83da1bb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 820 COMMONWEALTH AVENUE")

In [184]:
grouped_df = dfWifi[dfWifi['building_desc'] == '196 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 196 BAY STATE ROAD")

On an average day, 143 people benefitted from the existing water bottle station at 196 BAY STATE ROAD

<ipython-input-184-1984175cd6a5>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 196 BAY STATE ROAD")

In [185]:
grouped_df = dfWifi[dfWifi['building_desc'] == '300 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 300 BABCOCK STREET")

On an average day, 4138 people benefitted from the existing water bottle station at 300 BABCOCK STREET

<ipython-input-185-c32ca3774291>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 300 BABCOCK STREET")

In [186]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 CUMMINGTON MALL")

On an average day, 1032 people benefitted from the existing water bottle station at 2 CUMMINGTON MALL

<ipython-input-186-d69d20108ce3>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 CUMMINGTON MALL")

In [187]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30-38 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 30-38 CUMMINGTON MALL")

On an average day, 1053 people benefitted from the existing water bottle station at 30-38 CUMMINGTON MALL

<ipython-input-187-e94470191e32>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 30-38 CUMMINGTON MALL")

In [188]:
grouped_df = dfWifi[dfWifi['building_desc'] == '3 - 5 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")

On an average day, 2435 people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL

<ipython-input-188-665bac6ba705>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")

In [189]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")

On an average day, 1915 people benefitted from the existing water bottle station at 24 CUMMINGTON MALL

<ipython-input-189-d5f4d103eb75>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [190]:
WithWaterBottle = {}

In [191]:
grouped_df = dfWifi[dfWifi['building_desc'] == '195-197 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")
WithWaterBottle["195-197 BAY STATE ROAD"] = int(grouped_df)

On an average day, 262 people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD

<ipython-input-191-0cfa4665b877>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")
<ipython-input-191-0cfa4665b877>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["195-197 BAY STATE ROAD"] = int(grouped_df)

In [192]:
grouped_df = dfWifi[dfWifi['building_desc'] == '627-629 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 627-629 COMMONWEALTH AVENUE")
WithWaterBottle["627-629 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 183 people benefitted per existing water bottle station at 627-629 COMMONWEALTH AVENUE

<ipython-input-192-0dc56840ef2a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 627-629 COMMONWEALTH AVENUE")
<ipython-input-192-0dc56840ef2a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["627-629 COMMONWEALTH AVENUE"] = int(grouped_df)

In [193]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96-100 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 96-100 CUMMINGTON MALL")
WithWaterBottle["96-100 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 916 people benefitted per existing water bottle station at 96-100 CUMMINGTON MALL

<ipython-input-193-b31f13299cd1>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 96-100 CUMMINGTON MALL")
<ipython-input-193-b31f13299cd1>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["96-100 CUMMINGTON MALL"] = int(grouped_df)

In [194]:
grouped_df = dfWifi[dfWifi['building_desc'] == '881 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")
WithWaterBottle["881 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 540 people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE

<ipython-input-194-7c51fec49bd6>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")
<ipython-input-194-7c51fec49bd6>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["881 COMMONWEALTH AVENUE"] = int(grouped_df)

In [195]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 BAY STATE ROAD")
WithWaterBottle["100 BAY STATE ROAD"] = int(grouped_df)

On an average day, 326 people benefitted per existing water bottle station at 100 BAY STATE ROAD

<ipython-input-195-e2e12d1ff2a9>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 BAY STATE ROAD")
<ipython-input-195-e2e12d1ff2a9>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["100 BAY STATE ROAD"] = int(grouped_df)

In [196]:
grouped_df = dfWifi[dfWifi['building_desc'] == '928 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 928 COMMONWEALTH AVENUE")
WithWaterBottle["928 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 511 people benefitted per existing water bottle station at 928 COMMONWEALTH AVENUE

<ipython-input-196-ff5dba64f1de>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 928 COMMONWEALTH AVENUE")
<ipython-input-196-ff5dba64f1de>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["928 COMMONWEALTH AVENUE"] = int(grouped_df)

In [197]:
grouped_df = dfWifi[dfWifi['building_desc'] == '985 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 985 COMMONWEALTH AVENUE")
WithWaterBottle["985 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2074 people benefitted per existing water bottle station at 985 COMMONWEALTH AVENUE

<ipython-input-197-7c6dce1738a0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 985 COMMONWEALTH AVENUE")
<ipython-input-197-7c6dce1738a0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["985 COMMONWEALTH AVENUE"] = int(grouped_df)

In [198]:
grouped_df = dfWifi[dfWifi['building_desc'] == '888 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 888 COMMONWEALTH AVENUE")
WithWaterBottle["888 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2396 people benefitted per existing water bottle station at 888 COMMONWEALTH AVENUE

<ipython-input-198-7d351e833633>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 888 COMMONWEALTH AVENUE")
<ipython-input-198-7d351e833633>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["888 COMMONWEALTH AVENUE"] = int(grouped_df)

In [199]:
grouped_df = dfWifi[dfWifi['building_desc'] == '820 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 820 COMMONWEALTH AVENUE")
WithWaterBottle["820 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 323 people benefitted per existing water bottle station at 820 COMMONWEALTH AVENUE

<ipython-input-199-8154f32a35bb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 820 COMMONWEALTH AVENUE")
<ipython-input-199-8154f32a35bb>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["820 COMMONWEALTH AVENUE"] = int(grouped_df)

In [200]:
grouped_df = dfWifi[dfWifi['building_desc'] == '196 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 196 BAY STATE ROAD")
WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

On an average day, 143 people benefitted per existing water bottle station at 196 BAY STATE ROAD

<ipython-input-200-1c10a3954a3e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 196 BAY STATE ROAD")
<ipython-input-200-1c10a3954a3e>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

In [201]:
grouped_df = dfWifi[dfWifi['building_desc'] == '300 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 300 BABCOCK STREET")
WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

On an average day, 2069 people benefitted per existing water bottle station at 300 BABCOCK STREET

<ipython-input-201-56adfef04d7f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 300 BABCOCK STREET")
<ipython-input-201-56adfef04d7f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

In [202]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 CUMMINGTON MALL")
WithWaterBottle["2 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 516 people benefitted per existing water bottle station at 2 CUMMINGTON MALL

<ipython-input-202-4a8b33a592bc>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 CUMMINGTON MALL")
<ipython-input-202-4a8b33a592bc>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["2 CUMMINGTON MALL"] = int(grouped_df)

In [203]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30-38 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 30-38 CUMMINGTON MALL")
WithWaterBottle["30-38 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 526 people benefitted per existing water bottle station at 30-38 CUMMINGTON MALL

<ipython-input-203-29a5c47ae0d2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 30-38 CUMMINGTON MALL")
<ipython-input-203-29a5c47ae0d2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["30-38 CUMMINGTON MALL"] = int(grouped_df)

In [204]:
grouped_df = dfWifi[dfWifi['building_desc'] == '3 - 5 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")
WithWaterBottle["3 - 5 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 2435 people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL

<ipython-input-204-f08c46345a96>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")
<ipython-input-204-f08c46345a96>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["3 - 5 CUMMINGTON MALL"] = int(grouped_df)

In [205]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")
WithWaterBottle["24 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 957 people benefitted from the existing water bottle station at 24 CUMMINGTON MALL

<ipython-input-205-019adeb4b836>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")
<ipython-input-205-019adeb4b836>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["24 CUMMINGTON MALL"] = int(grouped_df)

In [206]:
exsisting = {
    '195-197 BAY STATE ROAD' : 262,
    '627-629 COMMONWEALTH AVENUE' : 183,
    '96-100 CUMMINGTON MALL' : 916,
    '881 COMMONWEALTH AVENUE' : 540, # 1620/3
    '100 BAY STATE ROAD' : 326, # 1957/6
    '928 COMMONWEALTH AVENUE' : 511, # 1533/3
    '985 COMMONWEALTH AVENUE' : 2074,
    '888 COMMONWEALTH AVENUE' : 2396,
    '820 COMMONWEALTH AVENUE' : 323, # 1619/5
    '196 BAY STATE ROAD' : 143,
    '300 BABCOCK STREET' : 2069, # 4138/2
    '2 CUMMINGTON MALL' : 516, # 1032/2
    '30-38 CUMMINGTON MALL' : 526, # 1053/2
    '3 - 5 CUMMINGTON MALL' : 2435,
    '24 CUMMINGTON MALL' : 957 # 1915/2
}

## Summary of Junho's work

In [207]:
for key, value in WithoutWaterBottle.items():
    print(f"{value}")

148
98
151
155
103
46
138
69
1
1
2
1
54
25
61
101
103
349
157
54
59
510
134
211
75
71
79
40
110
98
84
70
68
145
128
720
126
44
83
169
121
1067
79
667

In [208]:
for key, value in WithWaterBottle.items():
    print(f"{value}")

262
183
916
540
326
511
2074
2396
323
2069
516
526
2435
957

In [209]:
nonexsisting = {
    '177 BAY STATE ROAD' :148,
    '179 BAY STATE ROAD': 98,
    '157 BAY STATE ROAD': 151,
    '203 BAY STATE ROAD': 155,
    '181 BAY STATE ROAD': 103,
    '173 BAY STATE ROAD': 46,
    '178 BAY STATE ROAD': 138,
    '205 BAY STATE ROAD': 69,
    '42 BUSWELL STREET': 1,
    '852 BEACON STREET': 1,
    '848 BEACON STREET': 2,
    '864 BEACON STREET': 1,
    '133 BAY STATE ROAD': 54,
    '625 COMMONWEALTH AVENUE': 25,
    '832 BEACON STREET': 61,
    '141 BAY STATE ROAD': 101,
    '117 BAY STATE ROAD': 103,
    '53 BAY STATE ROAD': 349,
    '67 BAY STATE ROAD': 157,
    '110 BAY STATE ROAD': 54,
    '115 BAY STATE ROAD': 59,
    '704 COMMONWEALTH AVENUE': 510,
    '141 CARLTON STREET': 134,
    '37-39 CARLTON STREET': 211,
    '1 BUSWELL STREET': 75,
    '5 BUSWELL STREET': 71,
    '37 BUSWELL STREET': 37,
    '39 BUSWELL STREET': 40,
    '45 BUSWELL STREET': 110,
    '47 BUSWELL STREET': 98,
    '7 BUSWELL STREET': 84,
    '60 BAY STATE ROAD': 70,
    '80 BAY STATE ROAD': 68,
    '191 BAY STATE ROAD': 145,
    '199 BAY STATE ROAD': 128,
    '232 BAY STATE ROAD': 720,
    '201 BAY STATE ROAD': 126,
    '214 BAY STATE ROAD': 44,
    '207 BAY STATE ROAD': 83,
    '188 BAY STATE ROAD': 169,
    '204 BAY STATE ROAD': 121,
    '619 MEMORIAL DRIVE': 1067,
    '100 MOUNTFORT STREET': 79,
    '677 BEACON STREET': 667
}

# Final 1/4 data -- done by Woohyeon

In [210]:
print(wooData)

['700 BEACON STREET' '736 - 738 COMMONWEALTH AVENUE'
 '916-922 COMMONWEALTH AVENUE' '866 BEACON STREET'
 '714 COMMONWEALTH AVENUE' '154 BAY STATE ROAD' '111 CUMMINGTON MALL'
 '531 BEACON STREET' '180 BAY STATE ROAD' '830-846 COMMONWEALTH AVENUE'
 '24 COTTAGE FARM ROAD' '828 BEACON STREET' '40 BUSWELL STREET'
 '152 BAY STATE ROAD' '138 MOUNTFORT STREET' '765 COMMONWEALTH AVENUE'
 '565 COMMONWEALTH AVENUE' '44 CUMMINGTON MALL' '110-112 CUMMINGTON MALL'
 '76 BAY STATE ROAD' '27 ABERDEEN STREET' '236 BAY STATE ROAD'
 '675 - 725 COMMONWEALTH AVENUE' '128 BAY STATE ROAD'
 '910 COMMONWEALTH AVENUE' '194 BAY STATE ROAD' '213 BAY STATE ROAD'
 '457 PARK DRIVE' '455 PARK DRIVE' '750 COMMONWEALTH AVENUE'
 '735 COMMONWEALTH AVENUE' '147 BAY STATE ROAD' '226 BAY STATE ROAD'
 '172 BAY STATE ROAD' "15 ST. MARY'S STREET" '56 BAY STATE ROAD'
 '718 COMMONWEALTH AVENUE' '124 BAY STATE ROAD' '225 BAY STATE ROAD'
 '64-86 CUMMINGTON MALL' '125 BAY STATE ROAD' '975 COMMONWEALTH AVENUE'
 '617-621 COMMONWEALTH AVENUE' '708 COMMONWEALTH AVENUE'
 '121 BAY STATE ROAD' '185 BAY STATE ROAD' '116 BAY STATE ROAD'
 '602 COMMONWEALTH AVENUE' '61 BAY STATE ROAD' '233 BAY STATE ROAD'
 '193 BAY STATE ROAD' '10 COTTAGE FARM ROAD' '78 BAY STATE ROAD'
 '143 BAY STATE ROAD' '135 IVY STREET' '75 BAY STATE ROAD'
 '74 BAY STATE ROAD' '84 BAY STATE ROAD' '118 BAY STATE ROAD'
 '156 BAY STATE ROAD' '122 BAY STATE ROAD' '50 WORTHINGTON ROAD'
 '68-70 BAY STATE ROAD']

## Wifi Stations Without Water Bottle Filling Station

In [211]:
WithoutWaterBottle = {}

In [212]:
grouped_df = dfWifi[dfWifi['building_desc'] == '736 - 738 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE")
WithoutWaterBottle['736 - 738 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 692 people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE

<ipython-input-212-8a17ba8f05ee>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE")
<ipython-input-212-8a17ba8f05ee>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['736 - 738 COMMONWEALTH AVENUE'] = int(grouped_df)

In [213]:
grouped_df = dfWifi[dfWifi['building_desc'] == '916-922 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE")
WithoutWaterBottle['916-922 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1610 people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE

<ipython-input-213-b9b6950b8da0>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE")
<ipython-input-213-b9b6950b8da0>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['916-922 COMMONWEALTH AVENUE'] = int(grouped_df)

In [214]:
grouped_df = dfWifi[dfWifi['building_desc'] == '866 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 866 BEACON STREET")
WithoutWaterBottle['866 BEACON STREET'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 866 BEACON STREET

<ipython-input-214-e04eb1ed0b34>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 866 BEACON STREET")
<ipython-input-214-e04eb1ed0b34>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['866 BEACON STREET'] = int(grouped_df)

In [215]:
grouped_df = dfWifi[dfWifi['building_desc'] == '714 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE")
WithoutWaterBottle['714 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE

<ipython-input-215-4839de0a7226>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE")
<ipython-input-215-4839de0a7226>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['714 COMMONWEALTH AVENUE'] = int(grouped_df)

In [216]:
grouped_df = dfWifi[dfWifi['building_desc'] == '531 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 531 BEACON STREET")
WithoutWaterBottle['531 BEACON STREET'] = int(grouped_df)

On an average day, 18 people will benefit from a water bottle station at 531 BEACON STREET

<ipython-input-216-630da1d4b59b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 531 BEACON STREET")
<ipython-input-216-630da1d4b59b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['531 BEACON STREET'] = int(grouped_df)

In [217]:
grouped_df = dfWifi[dfWifi['building_desc'] == '180 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 180 BAY STATE ROAD")
WithoutWaterBottle['180 BAY STATE ROAD'] = int(grouped_df)

On an average day, 66 people will benefit from a water bottle station at 180 BAY STATE ROAD

<ipython-input-217-b593a65c2dbb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 180 BAY STATE ROAD")
<ipython-input-217-b593a65c2dbb>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['180 BAY STATE ROAD'] = int(grouped_df)

In [218]:
grouped_df = dfWifi[dfWifi['building_desc'] == '830-846 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE")
WithoutWaterBottle['830-846 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 273 people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE

<ipython-input-218-7e0f1c778069>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE")
<ipython-input-218-7e0f1c778069>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['830-846 COMMONWEALTH AVENUE'] = int(grouped_df)

In [219]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 COTTAGE FARM ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 24 COTTAGE FARM ROAD")
WithoutWaterBottle['24 COTTAGE FARM ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 24 COTTAGE FARM ROAD

<ipython-input-219-ccfe3f09f91c>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 24 COTTAGE FARM ROAD")
<ipython-input-219-ccfe3f09f91c>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['24 COTTAGE FARM ROAD'] = int(grouped_df)

In [220]:
grouped_df = dfWifi[dfWifi['building_desc'] == '828 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 828 BEACON STREET")
WithoutWaterBottle['828 BEACON STREET'] = int(grouped_df)

On an average day, 69 people will benefit from a water bottle station at 828 BEACON STREET

<ipython-input-220-406408c0efde>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 828 BEACON STREET")
<ipython-input-220-406408c0efde>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['828 BEACON STREET'] = int(grouped_df)

In [221]:
grouped_df = dfWifi[dfWifi['building_desc'] == '40 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 40 BUSWELL STREET")
WithoutWaterBottle['40 BUSWELL STREET'] = int(grouped_df)

On an average day, 100 people will benefit from a water bottle station at 40 BUSWELL STREET

<ipython-input-221-50e11a638234>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 40 BUSWELL STREET")
<ipython-input-221-50e11a638234>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['40 BUSWELL STREET'] = int(grouped_df)

In [222]:
grouped_df = dfWifi[dfWifi['building_desc'] == '152 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 152 BAY STATE ROAD")
WithoutWaterBottle['152 BAY STATE ROAD'] = int(grouped_df)

On an average day, 161 people will benefit from a water bottle station at 152 BAY STATE ROAD

<ipython-input-222-a754cd5fd4ff>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 152 BAY STATE ROAD")
<ipython-input-222-a754cd5fd4ff>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['152 BAY STATE ROAD'] = int(grouped_df)

In [223]:
grouped_df = dfWifi[dfWifi['building_desc'] == '138 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 138 MOUNTFORT STREET")
WithoutWaterBottle['138 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 85 people will benefit from a water bottle station at 138 MOUNTFORT STREET

<ipython-input-223-220049274aff>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 138 MOUNTFORT STREET")
<ipython-input-223-220049274aff>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['138 MOUNTFORT STREET'] = int(grouped_df)

In [224]:
grouped_df = dfWifi[dfWifi['building_desc'] == '76 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 76 BAY STATE ROAD")
WithoutWaterBottle['76 BAY STATE ROAD'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 76 BAY STATE ROAD

<ipython-input-224-43d3aace24d4>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 76 BAY STATE ROAD")
<ipython-input-224-43d3aace24d4>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['76 BAY STATE ROAD'] = int(grouped_df)

In [225]:
grouped_df = dfWifi[dfWifi['building_desc'] == '27 ABERDEEN STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 27 ABERDEEN STREET")
WithoutWaterBottle['27 ABERDEEN STREET'] = int(grouped_df)

On an average day, 2 people will benefit from a water bottle station at 27 ABERDEEN STREET

<ipython-input-225-154e8e9acdeb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 27 ABERDEEN STREET")
<ipython-input-225-154e8e9acdeb>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['27 ABERDEEN STREET'] = int(grouped_df)

In [226]:
grouped_df = dfWifi[dfWifi['building_desc'] == '236 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 236 BAY STATE ROAD")
WithoutWaterBottle['236 BAY STATE ROAD'] = int(grouped_df)

On an average day, 301 people will benefit from a water bottle station at 236 BAY STATE ROAD

<ipython-input-226-4f7a33808d87>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 236 BAY STATE ROAD")
<ipython-input-226-4f7a33808d87>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['236 BAY STATE ROAD'] = int(grouped_df)

In [227]:
grouped_df = dfWifi[dfWifi['building_desc'] == '128 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 128 BAY STATE ROAD")
WithoutWaterBottle['128 BAY STATE ROAD'] = int(grouped_df)

On an average day, 133 people will benefit from a water bottle station at 128 BAY STATE ROAD

<ipython-input-227-1bf1354e11b1>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 128 BAY STATE ROAD")
<ipython-input-227-1bf1354e11b1>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['128 BAY STATE ROAD'] = int(grouped_df)

In [228]:
grouped_df = dfWifi[dfWifi['building_desc'] == '910 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE")
WithoutWaterBottle['910 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1607 people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE

<ipython-input-228-cbb4373b887b>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE")
<ipython-input-228-cbb4373b887b>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['910 COMMONWEALTH AVENUE'] = int(grouped_df)

In [229]:
grouped_df = dfWifi[dfWifi['building_desc'] == '194 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 194 BAY STATE ROAD")
WithoutWaterBottle['194 BAY STATE ROAD'] = int(grouped_df)

On an average day, 105 people will benefit from a water bottle station at 194 BAY STATE ROAD

<ipython-input-229-5e04607b65c4>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 194 BAY STATE ROAD")
<ipython-input-229-5e04607b65c4>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['194 BAY STATE ROAD'] = int(grouped_df)

In [230]:
grouped_df = dfWifi[dfWifi['building_desc'] == '213 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 213 BAY STATE ROAD")
WithoutWaterBottle['213 BAY STATE ROAD'] = int(grouped_df)

On an average day, 1511 people will benefit from a water bottle station at 213 BAY STATE ROAD

<ipython-input-230-427916468523>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 213 BAY STATE ROAD")
<ipython-input-230-427916468523>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['213 BAY STATE ROAD'] = int(grouped_df)

In [231]:
grouped_df = dfWifi[dfWifi['building_desc'] == '457 PARK DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 457 PARK DRIVE")
WithoutWaterBottle['457 PARK DRIVE'] = int(grouped_df)

On an average day, 156 people will benefit from a water bottle station at 457 PARK DRIVE

<ipython-input-231-7b61b9b057bd>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 457 PARK DRIVE")
<ipython-input-231-7b61b9b057bd>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['457 PARK DRIVE'] = int(grouped_df)

In [232]:
grouped_df = dfWifi[dfWifi['building_desc'] == '455 PARK DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 455 PARK DRIVE")
WithoutWaterBottle['455 PARK DRIVE'] = int(grouped_df)

On an average day, 156 people will benefit from a water bottle station at 455 PARK DRIVE

<ipython-input-232-ea8b5fcea2a9>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 455 PARK DRIVE")
<ipython-input-232-ea8b5fcea2a9>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['455 PARK DRIVE'] = int(grouped_df)

In [233]:
grouped_df = dfWifi[dfWifi['building_desc'] == '147 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 147 BAY STATE ROAD")
WithoutWaterBottle['147 BAY STATE ROAD'] = int(grouped_df)

On an average day, 380 people will benefit from a water bottle station at 147 BAY STATE ROAD

<ipython-input-233-f6dfd8fe51db>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 147 BAY STATE ROAD")
<ipython-input-233-f6dfd8fe51db>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['147 BAY STATE ROAD'] = int(grouped_df)

In [234]:
grouped_df = dfWifi[dfWifi['building_desc'] == '172 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 172 BAY STATE ROAD")
WithoutWaterBottle['172 BAY STATE ROAD'] = int(grouped_df)

On an average day, 106 people will benefit from a water bottle station at 172 BAY STATE ROAD

<ipython-input-234-66630a860d69>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 172 BAY STATE ROAD")
<ipython-input-234-66630a860d69>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['172 BAY STATE ROAD'] = int(grouped_df)

In [235]:
grouped_df = dfWifi[dfWifi['building_desc'] == "15 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 15 ST. MARY'S STREET")
WithoutWaterBottle["15 ST. MARY'S STREET"] = int(grouped_df)

On an average day, 1868 people will benefit from a water bottle station at 15 ST. MARY'S STREET

<ipython-input-235-4532e5a013fa>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 15 ST. MARY'S STREET")
<ipython-input-235-4532e5a013fa>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle["15 ST. MARY'S STREET"] = int(grouped_df)

In [236]:
grouped_df = dfWifi[dfWifi['building_desc'] == '56 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 56 BAY STATE ROAD")
WithoutWaterBottle['56 BAY STATE ROAD'] = int(grouped_df)

On an average day, 66 people will benefit from a water bottle station at 56 BAY STATE ROAD

<ipython-input-236-90480b112a58>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 56 BAY STATE ROAD")
<ipython-input-236-90480b112a58>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['56 BAY STATE ROAD'] = int(grouped_df)

In [237]:
grouped_df = dfWifi[dfWifi['building_desc'] == '718 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE")
WithoutWaterBottle['718 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 326 people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE

<ipython-input-237-ac7084ae4206>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE")
<ipython-input-237-ac7084ae4206>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['718 COMMONWEALTH AVENUE'] = int(grouped_df)

In [238]:
grouped_df = dfWifi[dfWifi['building_desc'] == '124 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 124 BAY STATE ROAD")
WithoutWaterBottle['124 BAY STATE ROAD'] = int(grouped_df)

On an average day, 58 people will benefit from a water bottle station at 124 BAY STATE ROAD

<ipython-input-238-032aa6f4d79a>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 124 BAY STATE ROAD")
<ipython-input-238-032aa6f4d79a>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['124 BAY STATE ROAD'] = int(grouped_df)

In [239]:
grouped_df = dfWifi[dfWifi['building_desc'] == '125 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 125 BAY STATE ROAD")
WithoutWaterBottle['125 BAY STATE ROAD'] = int(grouped_df)

On an average day, 154 people will benefit from a water bottle station at 125 BAY STATE ROAD

<ipython-input-239-75faac3cd1ab>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 125 BAY STATE ROAD")
<ipython-input-239-75faac3cd1ab>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['125 BAY STATE ROAD'] = int(grouped_df)

In [240]:
grouped_df = dfWifi[dfWifi['building_desc'] == '975 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE")
WithoutWaterBottle['975 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1054 people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE

<ipython-input-240-440fcbf84521>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE")
<ipython-input-240-440fcbf84521>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['975 COMMONWEALTH AVENUE'] = int(grouped_df)

In [241]:
grouped_df = dfWifi[dfWifi['building_desc'] == '708 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE")
WithoutWaterBottle['708 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE

<ipython-input-241-bd4a05bcb6f6>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE")
<ipython-input-241-bd4a05bcb6f6>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['708 COMMONWEALTH AVENUE'] = int(grouped_df)

In [242]:
grouped_df = dfWifi[dfWifi['building_desc'] == '121 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 121 BAY STATE ROAD")
WithoutWaterBottle['121 BAY STATE ROAD'] = int(grouped_df)

On an average day, 211 people will benefit from a water bottle station at 121 BAY STATE ROAD

<ipython-input-242-b45ecf91881d>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 121 BAY STATE ROAD")
<ipython-input-242-b45ecf91881d>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['121 BAY STATE ROAD'] = int(grouped_df)

In [243]:
grouped_df = dfWifi[dfWifi['building_desc'] == '185 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 185 BAY STATE ROAD")
WithoutWaterBottle['185 BAY STATE ROAD'] = int(grouped_df)

On an average day, 153 people will benefit from a water bottle station at 185 BAY STATE ROAD

<ipython-input-243-6dbde7d7552f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 185 BAY STATE ROAD")
<ipython-input-243-6dbde7d7552f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['185 BAY STATE ROAD'] = int(grouped_df)

In [244]:
grouped_df = dfWifi[dfWifi['building_desc'] == '116 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 116 BAY STATE ROAD")
WithoutWaterBottle['116 BAY STATE ROAD'] = int(grouped_df)

On an average day, 85 people will benefit from a water bottle station at 116 BAY STATE ROAD

<ipython-input-244-c16fefb75825>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 116 BAY STATE ROAD")
<ipython-input-244-c16fefb75825>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['116 BAY STATE ROAD'] = int(grouped_df)

In [245]:
grouped_df = dfWifi[dfWifi['building_desc'] == '602 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE")
WithoutWaterBottle['602 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 829 people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE

<ipython-input-245-5427c3675d01>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE")
<ipython-input-245-5427c3675d01>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['602 COMMONWEALTH AVENUE'] = int(grouped_df)

In [246]:
grouped_df = dfWifi[dfWifi['building_desc'] == '61 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 61 BAY STATE ROAD")
WithoutWaterBottle['61 BAY STATE ROAD'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 61 BAY STATE ROAD

<ipython-input-246-5661edc5f326>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 61 BAY STATE ROAD")
<ipython-input-246-5661edc5f326>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['61 BAY STATE ROAD'] = int(grouped_df)

In [247]:
grouped_df = dfWifi[dfWifi['building_desc'] == '193 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 193 BAY STATE ROAD")
WithoutWaterBottle['193 BAY STATE ROAD'] = int(grouped_df)

On an average day, 151 people will benefit from a water bottle station at 193 BAY STATE ROAD

<ipython-input-247-355cad5a5243>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 193 BAY STATE ROAD")
<ipython-input-247-355cad5a5243>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['193 BAY STATE ROAD'] = int(grouped_df)

In [248]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 COTTAGE FARM ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 10 COTTAGE FARM ROAD")
WithoutWaterBottle['10 COTTAGE FARM ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 10 COTTAGE FARM ROAD

<ipython-input-248-11f1bc9baa59>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 10 COTTAGE FARM ROAD")
<ipython-input-248-11f1bc9baa59>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['10 COTTAGE FARM ROAD'] = int(grouped_df)

In [249]:
grouped_df = dfWifi[dfWifi['building_desc'] == '78 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 78 BAY STATE ROAD")
WithoutWaterBottle['78 BAY STATE ROAD'] = int(grouped_df)

On an average day, 52 people will benefit from a water bottle station at 78 BAY STATE ROAD

<ipython-input-249-715a37ba0d04>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 78 BAY STATE ROAD")
<ipython-input-249-715a37ba0d04>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['78 BAY STATE ROAD'] = int(grouped_df)

In [250]:
grouped_df = dfWifi[dfWifi['building_desc'] == '143 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 143 BAY STATE ROAD")
WithoutWaterBottle['143 BAY STATE ROAD'] = int(grouped_df)

On an average day, 194 people will benefit from a water bottle station at 143 BAY STATE ROAD

<ipython-input-250-8905577de6bc>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 143 BAY STATE ROAD")
<ipython-input-250-8905577de6bc>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['143 BAY STATE ROAD'] = int(grouped_df)

In [251]:
grouped_df = dfWifi[dfWifi['building_desc'] == '135 IVY STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 135 IVY STREET")
WithoutWaterBottle['135 IVY STREET'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 135 IVY STREET

<ipython-input-251-104f652b39a9>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 135 IVY STREET")
<ipython-input-251-104f652b39a9>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['135 IVY STREET'] = int(grouped_df)

In [252]:
grouped_df = dfWifi[dfWifi['building_desc'] == '75 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 75 BAY STATE ROAD")
WithoutWaterBottle['75 BAY STATE ROAD'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 75 BAY STATE ROAD

<ipython-input-252-6d55cf3c461f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 75 BAY STATE ROAD")
<ipython-input-252-6d55cf3c461f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['75 BAY STATE ROAD'] = int(grouped_df)

In [253]:
grouped_df = dfWifi[dfWifi['building_desc'] == '74 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 74 BAY STATE ROAD")
WithoutWaterBottle['74 BAY STATE ROAD'] = int(grouped_df)

On an average day, 50 people will benefit from a water bottle station at 74 BAY STATE ROAD

<ipython-input-253-08e9b7427a99>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 74 BAY STATE ROAD")
<ipython-input-253-08e9b7427a99>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['74 BAY STATE ROAD'] = int(grouped_df)

In [254]:
grouped_df = dfWifi[dfWifi['building_desc'] == '84 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 84 BAY STATE ROAD")
WithoutWaterBottle['84 BAY STATE ROAD'] = int(grouped_df)

On an average day, 52 people will benefit from a water bottle station at 84 BAY STATE ROAD

<ipython-input-254-7461aaa1f720>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 84 BAY STATE ROAD")
<ipython-input-254-7461aaa1f720>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['84 BAY STATE ROAD'] = int(grouped_df)

In [255]:
grouped_df = dfWifi[dfWifi['building_desc'] == '118 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 118 BAY STATE ROAD")
WithoutWaterBottle['118 BAY STATE ROAD'] = int(grouped_df)

On an average day, 72 people will benefit from a water bottle station at 118 BAY STATE ROAD

<ipython-input-255-39d2e8ad5025>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 118 BAY STATE ROAD")
<ipython-input-255-39d2e8ad5025>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['118 BAY STATE ROAD'] = int(grouped_df)

In [256]:
grouped_df = dfWifi[dfWifi['building_desc'] == '122 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 122 BAY STATE ROAD")
WithoutWaterBottle['122 BAY STATE ROAD'] = int(grouped_df)

On an average day, 177 people will benefit from a water bottle station at 122 BAY STATE ROAD

<ipython-input-256-c42ba0a5e19f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 122 BAY STATE ROAD")
<ipython-input-256-c42ba0a5e19f>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['122 BAY STATE ROAD'] = int(grouped_df)

In [257]:
grouped_df = dfWifi[dfWifi['building_desc'] == '50 WORTHINGTON ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 50 WORTHINGTON ROAD")
WithoutWaterBottle['50 WORTHINGTON ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 50 WORTHINGTON ROAD

<ipython-input-257-a6d698682259>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 50 WORTHINGTON ROAD")
<ipython-input-257-a6d698682259>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['50 WORTHINGTON ROAD'] = int(grouped_df)

In [258]:
grouped_df = dfWifi[dfWifi['building_desc'] == '68-70 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 68-70 BAY STATE ROAD")
WithoutWaterBottle['68-70 BAY STATE ROAD'] = int(grouped_df)

On an average day, 119 people will benefit from a water bottle station at 68-70 BAY STATE ROAD

<ipython-input-258-b9202733297e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 68-70 BAY STATE ROAD")
<ipython-input-258-b9202733297e>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['68-70 BAY STATE ROAD'] = int(grouped_df)

## Wifi Stations With Water Bottle Filling Stations

In [259]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 700 BEACON STREET")

On an average day, 924 people benefitted from a water bottle station at 700 BEACON STREET

<ipython-input-259-943b8fe9eeb8>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 700 BEACON STREET")

In [260]:
grouped_df = dfWifi[dfWifi['building_desc'] == '154 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 154 BAY STATE ROAD")

On an average day, 113 people benefitted from a water bottle station at 154 BAY STATE ROAD

<ipython-input-260-ab6197ef9e43>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 154 BAY STATE ROAD")

In [261]:
grouped_df = dfWifi[dfWifi['building_desc'] == '111 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 111 CUMMINGTON MALL")

On an average day, 1046 people benefitted from a water bottle station at 111 CUMMINGTON MALL

<ipython-input-261-3caa05f5f6d5>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 111 CUMMINGTON MALL")

In [262]:
grouped_df = dfWifi[dfWifi['building_desc'] == '765 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE")

On an average day, 3471 people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE

<ipython-input-262-ffcc4ddaf6bb>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE")

In [263]:
grouped_df = dfWifi[dfWifi['building_desc'] == '565 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE")

On an average day, 1969 people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE

<ipython-input-263-14de66cd649f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE")

In [264]:
grouped_df = dfWifi[dfWifi['building_desc'] == '44 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 44 CUMMINGTON MALL")

On an average day, 1156 people benefitted from a water bottle station at 44 CUMMINGTON MALL

<ipython-input-264-3fee7e626eac>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 44 CUMMINGTON MALL")

In [265]:
grouped_df = dfWifi[dfWifi['building_desc'] == '110-112 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 110-112 CUMMINGTON MALL")

On an average day, 1111 people benefitted from a water bottle station at 110-112 CUMMINGTON MALL

<ipython-input-265-0d10d9427f56>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 110-112 CUMMINGTON MALL")

In [266]:
grouped_df = dfWifi[dfWifi['building_desc'] == '675 - 725 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE")

On an average day, 0 people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE

<ipython-input-266-99bd2a663945>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE")

In [267]:
grouped_df = dfWifi[dfWifi['building_desc'] == '750 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE")

On an average day, 1921 people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE

<ipython-input-267-4177ddd65447>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE")

In [268]:
grouped_df = dfWifi[dfWifi['building_desc'] == '735 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE")

On an average day, 304 people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE

<ipython-input-268-1b4fb77ed4ab>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE")

In [269]:
grouped_df = dfWifi[dfWifi['building_desc'] == '226 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 226 BAY STATE ROAD")

On an average day, 273 people benefitted from a water bottle station at 226 BAY STATE ROAD

<ipython-input-269-8b14e0644c21>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 226 BAY STATE ROAD")

In [270]:
grouped_df = dfWifi[dfWifi['building_desc'] == '225 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 225 BAY STATE ROAD")

On an average day, 385 people benefitted from a water bottle station at 225 BAY STATE ROAD

<ipython-input-270-62311437899f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 225 BAY STATE ROAD")

In [271]:
grouped_df = dfWifi[dfWifi['building_desc'] == '64-86 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 64-86 CUMMINGTON MALL")

On an average day, 1853 people benefitted from a water bottle station at 64-86 CUMMINGTON MALL

<ipython-input-271-1a20e652eb08>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 64-86 CUMMINGTON MALL")

In [272]:
grouped_df = dfWifi[dfWifi['building_desc'] == '617-621 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE")

On an average day, 480 people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE

<ipython-input-272-5a106cf6402f>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE")

In [273]:
grouped_df = dfWifi[dfWifi['building_desc'] == '233 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 233 BAY STATE ROAD")

On an average day, 929 people benefitted from a water bottle station at 233 BAY STATE ROAD

<ipython-input-273-dc0bc4eee82e>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 233 BAY STATE ROAD")

In [274]:
grouped_df = dfWifi[dfWifi['building_desc'] == '156 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 156 BAY STATE ROAD")

On an average day, 107 people benefitted from a water bottle station at 156 BAY STATE ROAD

<ipython-input-274-84bfa8e523b2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 156 BAY STATE ROAD")

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [275]:
WithWaterBottle = {}

In [276]:
grouped_df = dfWifi[dfWifi['building_desc'] == '111 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 111 CUMMINGTON MALL")
WithWaterBottle["111 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 261 people benefitted per existing water bottle station at 111 CUMMINGTON MALL

<ipython-input-276-791a86b56a92>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 111 CUMMINGTON MALL")
<ipython-input-276-791a86b56a92>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["111 CUMMINGTON MALL"] = int(grouped_df)

In [277]:
grouped_df = dfWifi[dfWifi['building_desc'] == '765 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 23
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE")
WithWaterBottle["765 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 150 people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE

<ipython-input-277-bd6c4a983c13>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE")
<ipython-input-277-bd6c4a983c13>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["765 COMMONWEALTH AVENUE"] = int(grouped_df)

In [278]:
grouped_df = dfWifi[dfWifi['building_desc'] == '226 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 226 BAY STATE ROAD")
WithWaterBottle["226 BAY STATE ROAD"] = int(grouped_df)

On an average day, 136 people benefitted per existing water bottle station at 226 BAY STATE ROAD

<ipython-input-278-4e1bfb3541e2>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 226 BAY STATE ROAD")
<ipython-input-278-4e1bfb3541e2>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["226 BAY STATE ROAD"] = int(grouped_df)

In [279]:
grouped_df = dfWifi[dfWifi['building_desc'] == '617-621 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE")
WithWaterBottle["617-621 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 240 people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE

<ipython-input-279-d47ce9ed8c81>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE")
<ipython-input-279-d47ce9ed8c81>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["617-621 COMMONWEALTH AVENUE"] = int(grouped_df)

In [280]:
grouped_df = dfWifi[dfWifi['building_desc'] == '233 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 233 BAY STATE ROAD")
WithWaterBottle["233 BAY STATE ROAD"] = int(grouped_df)

On an average day, 232 people benefitted per existing water bottle station at 233 BAY STATE ROAD

<ipython-input-280-4bcdfe3c7e91>:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 233 BAY STATE ROAD")
<ipython-input-280-4bcdfe3c7e91>:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["233 BAY STATE ROAD"] = int(grouped_df)

## Summary of Woohyeon's data

In [281]:
for key, value in WithoutWaterBottle.items():
    print(f"{value}")

692
1610
0
1
18
66
273
0
69
100
161
85
1
2
301
133
1607
105
1511
156
156
380
106
1868
66
326
58
154
1054
79
211
153
85
829
79
151
0
52
194
0
79
50
52
72
177
0
119

In [282]:
for key, value in WithWaterBottle.items():
    print(f"{value}")

261
150
136
240
232

In [283]:
nonexisting = {
    '736 - 738 COMMONWEALTH AVENUE': 692,
    '916-922 COMMONWEALTH AVENUE' : 1610,
    '866 BEACON STREET' : 0,
    '714 COMMONWEALTH AVENUE' : 1,
    '531 BEACON STREET' : 18,
    '180 BAY STATE ROAD' : 66,
    '830-846 COMMONWEALTH AVENUE' : 273,
    '24 COTTAGE FARM ROAD' : 0,
    '828 BEACON STREET' : 69,
    '40 BUSWELL STREET' : 100,
    '152 BAY STATE ROAD' : 161,
    '138 MOUNTFORT STREET' : 85,
    '76 BAY STATE ROAD' : 1,
    '27 ABERDEEN STREET' : 2,
    '236 BAY STATE ROAD' : 301,
    '128 BAY STATE ROAD' : 133,
    '910 COMMONWEALTH AVENUE' : 1607,
    '194 BAY STATE ROAD' : 105,
    '213 BAY STATE ROAD' : 1511,
    '457 PARK DRIVE' : 156,
    '455 PARK DRIVE' : 156,
    '147 BAY STATE ROAD' : 380,
    '172 BAY STATE ROAD' : 106,
    "15 ST. MARY'S STREET" : 1868,
    '56 BAY STATE ROAD' : 66,
    '718 COMMONWEALTH AVENUE' : 326,
    '124 BAY STATE ROAD' : 58,
    '125 BAY STATE ROAD' : 154,
    '975 COMMONWEALTH AVENUE' : 1054,
    '708 COMMONWEALTH AVENUE' : 79,
    '121 BAY STATE ROAD' : 211,
    '185 BAY STATE ROAD' : 153,
    '116 BAY STATE ROAD' : 85,
    '602 COMMONWEALTH AVENUE' : 829,
    '61 BAY STATE ROAD' : 79,
    '193 BAY STATE ROAD' : 151,
    '10 COTTAGE FARM ROAD' : 0,
    '78 BAY STATE ROAD' : 52,
    '143 BAY STATE ROAD' : 194,
    '135 IVY STREET' : 0,
    '75 BAY STATE ROAD' : 79,
    '74 BAY STATE ROAD' : 50,
    '84 BAY STATE ROAD' : 52,
    '118 BAY STATE ROAD' : 72,
    '122 BAY STATE ROAD' : 177,
    '50 WORTHINGTON ROAD' : 0,
    '68-70 BAY STATE ROAD' : 119
}

In [284]:
# Certain counts have been divided by a number (which represents the number of water foundations in the specific address) in order to generalize the data.
existing = {
    '700 BEACON STREET' : 924,
    '154 BAY STATE ROAD' : 113,
    '111 CUMMINGTON MALL' : 1046 / 4, # Supposed to be 1046, but divided by 4
    '765 COMMONWEALTH AVENUE' : 3471 / 23, # Supposed to be 3471, but divided by 23
    '565 COMMONWEALTH AVENUE' : 1969,
    '44 CUMMINGTON MALL' : 1156 / 4, # Supposed to be 1156, but divided by 4
    '110-112 CUMMINGTON MALL' : 1111,
    '675 - 725 COMMONWEALTH AVENUE' : 0, # 675 Commonwealth has 3, 685 Commonwealth has 6, 700 Commonwealth has 31, 705 Commonwealth has 3, 725 Commonwealth has 7, but the estimation is 0.
    '750 COMMONWEALTH AVENUE' : 1921,
    '735 COMMONWEALTH AVENUE' : 304,
    '226 BAY STATE ROAD' : 273 / 2, # Supposed to be 273, but divided by 2
    '225 BAY STATE ROAD' : 385,
    '64-86 CUMMINGTON MALL' : 1853,
    '617-621 COMMONWEALTH AVENUE' : 480 / 2, # Supposed to be 480, but divided by 2
    '233 BAY STATE ROAD' : 929 / 4, # Supposed to be 929, but divided by 4
    '156 BAY STATE ROAD' : 107
}