In [ ]:
import pandas as pd
import csv
import numpy as np

In [ ]:
dfGeospatial = pd.read_csv("updated_geospatial.csv")
dfGeospatial.head(5)

             BUILDING FLOOR  TOTAL STATIONS/BUILDING
0   1019 Commonwealth     1                        1
1  110-112 Cummington     2                        1
2      111 Cummington     1                        4
3      111 Cummington     1                        4
4      111 Cummington     0                        4

In [ ]:
dfInventory = pd.read_csv("updated_Bottle_Fillers_Inventory.csv")
dfInventory.head(5)

,Address,Floor,Description,Space@Bu room,Quantity,Walk-Thru Notes
0,100 Ashford St,First,"Hallway across from vending machines, across f...",191,1.0,two additional drinking fountain locations in ...
1,120 Ashford St,First,"Kitchenette, Room 116A",116A,1.0,NaN
2,120 Ashford St,Second,"Kitchenette, Room 222",222,1.0,NaN
3,8 St. Mary's Street,Basement,Hallway by bathrooms,B81,1.0,NaN
4,8 St. Mary's Street,First,Hallway by electrical room,181,1.0,NaN

In [ ]:
dfHighVolume = pd.read_csv("updated_High_Volume_Event_Spaces.csv")
dfHighVolume.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
0,Agganis Arena Burke Club Room,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,2
1,Agganis Arena Friends of Hockey Lounge,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,1
2,Case Center Eilberg Lounge,285 Babcock Street,use of the space is limited; there are fillers...,5,3
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
4,College of Communication Lounge,640 Commowealth Avenue,hallway by room 105,5,1

In [ ]:
dfHighVolume["Candidacy"].unique()

array([2, 5, 4, 1, 3])

In [ ]:
dfGeospatial["BUILDING"].unique()

array(['1019 Commonwealth', '110-112 Cummington', '111 Cummington',
       '154 Bay State Road', '156 Bay State Road', '196 Bay State Road',
       '2 Cummington', '25 Buick', '270 Bay State Road', '300 Babcock',
       '33 Harry Agganis', '36 Cummington', '48 Cummington',
       '5 Cummington', '517 Beacon', '565 Commonwealth', '64 Cummington',
       '712 Beacon', '881 Commonwealth', '96 Cummington', 'Admissions',
       'Booth', 'BUA', 'CAS', 'Case Center', 'CELOP', 'CFA', 'CGS',
       'Claflin', 'COM', 'Danielson', 'EMA', 'ENG', 'Fitrec',
       'Fuller Building', 'GRS', 'GSU', 'Hojo', 'Kilachand',
       'Law Auditorium', 'Law', 'Linguistics', 'Marcom', 'Marsh',
       'Metcalf', 'Mugar', 'Myles Annex', 'Myles Standish', 'Photonics',
       'Questrom', 'Rich', 'Sargent', 'SHA', 'Sleeper', 'SSW', 'STH',
       'Stone', 'Towers', 'Tsai', 'TTC', 'Warren', 'Wheelock', 'Yawkey'],
      dtype=object)

In [ ]:
dfInventory["Address"].unique()

array(['100 Ashford St', '120 Ashford St', "8 St. Mary's Street",
       '273 Babcock St', '275 Babcock St', '277 Babcock St',
       '285 Babcock St', '300 Babcock St', '91 Bay State Road',
       '100 Bay State Road', '140 Bay State Road', '156 Bay State Road',
       '196 Bay State Road', '226 Bay State Road', '233 Bay State Road',
       '264 Bay State Road', '270 Bay State Road', '512 Beacon St',
       '517 Beacon St', '610 Beacon St', '25 Buick St',
       '565 Commonwealth Ave', '575 Commonwealth Ave',
       '590 Commonwealth Ave', '595 Commonwealth Ave', '2 Silber Way',
       '610 Commonwealth Ave', '621 Commonwealth Ave',
       '635 Commonwealth Ave', '640 Commonwealth Ave',
       '675 Commonwealth Ave', '685 Commonwealth Ave',
       '700 Commonwealth Ave', '705 Commonwealth Ave',
       '725 Commonwealth Ave', '735 Commonwealth Ave',
       '745 Commonwealth Ave', '750 Commonwealth Ave',
       '765 Commonwealth Ave', '767 Commonwealth Ave',
       '771 Commonwealth Ave', '775 Commonwealth Ave', '1 University Rd',
       '808 Commonwealth Ave', '820 Commonwealth Ave',
       '855 Commonwealth Ave', '871 Commonwealth Ave',
       '881 Commonwealth Ave', '890 Commonwealth Ave',
       '915 Commonwealth Ave', '925 Commonwealth Ave',
       '928 Commonwealth Ave', '985 Commonwealth Ave',
       '1019 Commonwealth Ave', '808 Commonwealth Ave ',
       '2 Cummington Mall', '5 Cummington Mall', '24 Cummington Mall',
       '36 Cummington Mall', '44 Cummington Mall', '48 Cummington Mall',
       '64 Cummington Mall', '68 Cummington Mall', '96 Cummington Mall',
       '111 Cummington Mall', '110-112 Cummington Mall',
       '33 Harry Agganis Way', 'nan nan'], dtype=object)

In [ ]:
dfHighVolumeOne = dfHighVolume[dfHighVolume["Candidacy"] == 4]
dfHighVolumeTwo = dfHighVolume[dfHighVolume["Candidacy"] == 3]
dfHighVolumeOne.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
5,College of General Studies Gilbane Lounge,871 Commonwealth Avenue,one on each floor,4,1
6,College of General Studies Katzenberg Lounge,871 Commonwealth Avenue,NaN,4,4
7,College of General Studies Sleeper Auditorium,871 Commonwealth Avenue,NaN,4,1
8,Dahod Family Alumni Center,225 Bay State Road,There's one in the space btw Castle and Admiss...,4,1

In [ ]:
dfHighVolumeTwo.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
11,George Sherman Union Metcalf Hall,775 Commonwealth Avenue,"There are 3 on the second floor, just not in t...",3,2
15,Kilachand Center Eichenbaum Colloquium Room an...,610 Commonwealth Avenue,there's one in the hallway; a bottle filler in...,3,1

In [ ]:
dfHighVolumeOne["Address"].unique()

array([' 675-725 Commonwealth Avenue', ' 871 Commonwealth Avenue',
       ' 225 Bay State Road', ' 775 Commonwealth Avenue',
       ' 33 Agganis Way', ' 685 Commonwealth Avenue'], dtype=object)

In [ ]:
dfHighVolumeTwo["Address"].unique()

array([' 775 Commonwealth Avenue', ' 610 Commonwealth Avenue'],
      dtype=object)

In [ ]:
dfWifi = pd.read_csv("updated_wifi.csv")
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [ ]:
dfWifi = dfWifi[~dfWifi['hour'].isin([3, 4, 5, 6])]
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [ ]:
wifiList = dfWifi["building_desc"].unique()
lengthOfList = int(len(wifiList)/4)
chrisData = wifiList[:lengthOfList]
ryanData = wifiList[lengthOfList:lengthOfList*2]
junhoData = wifiList[lengthOfList*2:lengthOfList*3]
wooData = wifiList[lengthOfList*3:]

In [ ]:
print(chrisData)

['209 BAY STATE ROAD' '200-202 BAY STATE ROAD' '184 BAY STATE ROAD'
 '190 BAY STATE ROAD' '161 BAY STATE ROAD' '163 BAY STATE ROAD'
 '159 BAY STATE ROAD' '771 COMMONWEALTH AVENUE' '775 COMMONWEALTH AVENUE'
 '1 UNIVERSITY ROAD' '745 - 755 COMMONWEALTH AVENUE'
 '264-270 BAY STATE ROAD' '6 BUSWELL STREET' '22 BUSWELL STREET'
 '96 MOUNTFORT STREET' '806-820 BEACON STREET' '844 BEACON STREET'
 '46 MOUNTFORT STREET' '856-862 BEACON STREET' '870-872 BEACON STREET'
 '824-826 BEACON STREET' '24 BUSWELL STREET' '16 ARUNDEL STREET'
 '834-836 BEACON STREET' '830 BEACON STREET' '98 MOUNTFORT STREET'
 '635 COMMONWEALTH AVENUE' '2 SILBER WAY' '595 COMMONWEALTH AVENUE'
 '285 BABCOCK STREET' '120 ASHFORD STREET' '100 ASHFORD STREET'
 '590 COMMONWEALTH AVENUE' '722-26-28 COMMONWEALTH AVENUE'
 '730 COMMONWEALTH AVENUE' "8 ST. MARY'S STREET"
 '1010 COMMONWEALTH AVENUE' '930-940 COMMONWEALTH AVENUE'
 '186 BAY STATE ROAD' '10 BUICK STREET' '900 COMMONWEALTH AVENUE'
 '25 BUICK STREET' '855 COMMONWEALTH AVENUE' '871 COMMONWEALTH AVENUE'
 '700 COMMONWEALTH AVENUE' '1019 COMMONWEALTH AVENUE' '38 BUSWELL STREET'
 '44 BUSWELL STREET' '48 BUSWELL STREET' '1053 BEACON STREET'
 '483 COMMONWEALTH AVENUE' '2 BUSWELL STREET' '210-212 BAY STATE ROAD'
 '10 LENOX STREET' '91 BAY STATE ROAD' '275 BABCOCK STREET'
 '540 COMMONWEALTH AVENUE' '33 HARRY AGGANIS WAY' '90-92 BAY STATE ROAD'
 '30 HARRY AGGANIS WAY']

## Wifi Stations Without Water Bottle Filling Station

In [ ]:
WithoutWaterBottle = {}

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '209 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 209 BAY STATE ROAD")
WithoutWaterBottle['209 BAY STATE ROAD'] = int(grouped_df)

On an average day, 120 people will benefit from a water bottle station at 209 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '200-202 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 200-202 BAY STATE ROAD")
WithoutWaterBottle['200-202 BAY STATE ROAD'] = int(grouped_df)

On an average day, 199 people will benefit from a water bottle station at 200-202 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '184 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 184 BAY STATE ROAD")
WithoutWaterBottle['184 BAY STATE ROAD'] = int(grouped_df)

On an average day, 134 people will benefit from a water bottle station at 184 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '190 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 190 BAY STATE ROAD")
WithoutWaterBottle['190 BAY STATE ROAD'] = int(grouped_df)

On an average day, 146 people will benefit from a water bottle station at 190 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '161 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 161 BAY STATE ROAD")
WithoutWaterBottle['161 BAY STATE ROAD'] = int(grouped_df)

On an average day, 86 people will benefit from a water bottle station at 161 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '163 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 163 BAY STATE ROAD")
WithoutWaterBottle['163 BAY STATE ROAD'] = int(grouped_df)

On an average day, 70 people will benefit from a water bottle station at 163 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '159 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 159 BAY STATE ROAD")
WithoutWaterBottle['159 BAY STATE ROAD'] = int(grouped_df)

On an average day, 106 people will benefit from a water bottle station at 159 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '6 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 6 BUSWELL STREET")
WithoutWaterBottle['6 BUSWELL STREET'] = int(grouped_df)

On an average day, 443 people will benefit from a existing water bottle station at 6 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '22 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 22 BUSWELL STREET")
WithoutWaterBottle['22 BUSWELL STREET'] = int(grouped_df)

On an average day, 209 people will benefit from a existing water bottle station at 22 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 96 MOUNTFORT STREET")
WithoutWaterBottle['96 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 118 people will benefit from a existing water bottle station at 96 MOUNTFORT STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '806-820 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 806-820 BEACON STREET")
WithoutWaterBottle['806-820 BEACON STREET'] = int(grouped_df)

On an average day, 197 people will benefit from a existing water bottle station at 806-820 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '844 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 844 BEACON STREET")
WithoutWaterBottle['844 BEACON STREET'] = int(grouped_df)

On an average day, 142 people will benefit from a existing water bottle station at 844 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '46 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 46 MOUNTFORT STREET")
WithoutWaterBottle['46 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 298 people will benefit from a existing water bottle station at 46 MOUNTFORT STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '856-862 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 856-862 BEACON STREET")
WithoutWaterBottle['856-862 BEACON STREET'] = int(grouped_df)

On an average day, 90 people will benefit from a existing water bottle station at 856-862 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '870-872 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 870-872 BEACON STREET")
WithoutWaterBottle['870-872 BEACON STREET'] = int(grouped_df)

On an average day, 34 people will benefit from a existing water bottle station at 870-872 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '824-826 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 824-826 BEACON STREET")
WithoutWaterBottle['824-826 BEACON STREET'] = int(grouped_df)

On an average day, 157 people will benefit from a existing water bottle station at 824-826 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 24 BUSWELL STREET")
WithoutWaterBottle['24 BUSWELL STREET'] = int(grouped_df)

On an average day, 193 people will benefit from a existing water bottle station at 24 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '16 ARUNDEL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a existing water bottle station at 16 ARUNDEL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '834-836 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 834-836 BEACON STREET")
WithoutWaterBottle['834-836 BEACON STREET'] = int(grouped_df)

On an average day, 128 people will benefit from a existing water bottle station at 834-836 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '830 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 830 BEACON STREET")
WithoutWaterBottle['830 BEACON STREET'] = int(grouped_df)

On an average day, 68 people will benefit from a existing water bottle station at 830 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '98 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 98 MOUNTFORT STREET")
WithoutWaterBottle['98 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 148 people will benefit from a existing water bottle station at 98 MOUNTFORT STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1010 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1010 COMMONWEALTH AVENUE")
WithoutWaterBottle['1010 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1457 people will benefit from a existing water bottle station at 1010 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '930-940 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 930-940 COMMONWEALTH AVENUE")
WithoutWaterBottle['930-940 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 6202 people will benefit from a existing water bottle station at 930-940 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '186 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 186 BAY STATE ROAD")
WithoutWaterBottle['186 BAY STATE ROAD'] = int(grouped_df)

On an average day, 69 people will benefit from a existing water bottle station at 186 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 BUICK STREET")
WithoutWaterBottle['10 BUICK STREET'] = int(grouped_df)

On an average day, 1081 people will benefit from a existing water bottle station at 10 BUICK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '900 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 900 COMMONWEALTH AVENUE")
WithoutWaterBottle['900 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 4106 people will benefit from a existing water bottle station at 900 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '16 ARUNDEL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 16 ARUNDEL STREET")
WithoutWaterBottle['16 ARUNDEL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a existing water bottle station at 16 ARUNDEL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '38 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 38 BUSWELL STREET")
WithoutWaterBottle['38 BUSWELL STREET'] = int(grouped_df)

On an average day, 116 people will benefit from a existing water bottle station at 38 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '44 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 44 BUSWELL STREET")
WithoutWaterBottle['44 BUSWELL STREET'] = int(grouped_df)

On an average day, 3 people will benefit from a existing water bottle station at 44 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '48 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 48 BUSWELL STREET")
WithoutWaterBottle['48 BUSWELL STREET'] = int(grouped_df)

On an average day, 5 people will benefit from a existing water bottle station at 48 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1053 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 1053 BEACON STREET")
WithoutWaterBottle['1053 BEACON STREET'] = int(grouped_df)

On an average day, 28 people will benefit from a existing water bottle station at 1053 BEACON STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '483 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 483 COMMONWEALTH AVENUE")
WithoutWaterBottle['483 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1 people will benefit from a existing water bottle station at 483 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 2 BUSWELL STREET")
WithoutWaterBottle['2 BUSWELL STREET'] = int(grouped_df)

On an average day, 20 people will benefit from a existing water bottle station at 2 BUSWELL STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '210-212 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 210-212 BAY STATE ROAD")
WithoutWaterBottle['210-212 BAY STATE ROAD'] = int(grouped_df)

On an average day, 197 people will benefit from a existing water bottle station at 210-212 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 LENOX STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 10 LENOX STREET")
WithoutWaterBottle['10 LENOX STREET'] = int(grouped_df)

On an average day, 659 people will benefit from a existing water bottle station at 10 LENOX STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '540 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 540 COMMONWEALTH AVENUE")
WithoutWaterBottle['540 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 563 people will benefit from a existing water bottle station at 540 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '90-92 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 90-92 BAY STATE ROAD")
WithoutWaterBottle['90-92 BAY STATE ROAD'] = int(grouped_df)

On an average day, 184 people will benefit from a existing water bottle station at 90-92 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a existing water bottle station at 30 HARRY AGGANIS WAY")
WithoutWaterBottle['30 HARRY AGGANIS WAY'] = int(grouped_df)

On an average day, 0 people will benefit from a existing water bottle station at 30 HARRY AGGANIS WAY

## Wifi Stations With Water Bottle Filling Stations

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '771 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 771 COMMONWEALTH AVENUE")

On an average day, 1065 people benefitted from the existing water bottle station at 771 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '775 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 775 COMMONWEALTH AVENUE")

On an average day, 4647 people benefitted from the existing water bottle station at 775 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 UNIVERSITY ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1 UNIVERSITY ROAD")

On an average day, 3219 people benefitted from the existing water bottle station at 1 UNIVERSITY ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '745 - 755 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")

On an average day, 1586 people benefitted from the existing water bottle station at 745 - 755 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '264-270 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 264-270 BAY STATE ROAD")

On an average day, 1104 people benefitted from the existing water bottle station at 264-270 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '635 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 635 COMMONWEALTH AVENUE")

On an average day, 1527 people benefitted from the existing water bottle station at 635 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 SILBER WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 SILBER WAY")

On an average day, 1472 people benefitted from the existing water bottle station at 2 SILBER WAY

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '595 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 595 COMMONWEALTH AVENUE")

On an average day, 4523 people benefitted from the existing water bottle station at 595 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '285 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 285 BABCOCK STREET")

On an average day, 8131 people benefitted from the existing water bottle station at 285 BABCOCK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '120 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 120 ASHFORD STREET")

On an average day, 4037 people benefitted from the existing water bottle station at 120 ASHFORD STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 ASHFORD STREET")

On an average day, 8905 people benefitted from the existing water bottle station at 100 ASHFORD STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '590 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 590 COMMONWEALTH AVENUE")

On an average day, 5117 people benefitted from the existing water bottle station at 590 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '722-26-28 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")

On an average day, 837 people benefitted from the existing water bottle station at 722-26-28 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '730 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 730 COMMONWEALTH AVENUE")

On an average day, 2205 people benefitted from the existing water bottle station at 730 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == "8 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 8 ST. MARY'S STREET")

On an average day, 2887 people benefitted from the existing water bottle station at 8 ST. MARY'S STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '25 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 25 BUICK STREET")

On an average day, 3624 people benefitted from the existing water bottle station at 25 BUICK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '855 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 855 COMMONWEALTH AVENUE")

On an average day, 3123 people benefitted from the existing water bottle station at 855 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '871 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 871 COMMONWEALTH AVENUE")

On an average day, 2830 people benefitted from the existing water bottle station at 871 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 700 COMMONWEALTH AVENUE")

On an average day, 2640 people benefitted from the existing water bottle station at 700 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1019 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 1019 COMMONWEALTH AVENUE")

On an average day, 1087 people benefitted from the existing water bottle station at 1019 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '91 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 91 BAY STATE ROAD")

On an average day, 1831 people benefitted from the existing water bottle station at 91 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '275 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 275 BABCOCK STREET")

On an average day, 1727 people benefitted from the existing water bottle station at 275 BABCOCK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '33 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 33 HARRY AGGANIS WAY")

On an average day, 1266 people benefitted from the existing water bottle station at 33 HARRY AGGANIS WAY

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [ ]:
WithWaterBottle = {}

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '771 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 771 COMMONWEALTH AVENUE")
WithWaterBottle["771 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 355 people benefitted per existing water bottle station at 771 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '775 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 775 COMMONWEALTH AVENUE")
WithWaterBottle["775 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 929 people benefitted per existing water bottle station at 775 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 UNIVERSITY ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1 UNIVERSITY ROAD")
WithWaterBottle["1 UNIVERSITY ROAD"] = int(grouped_df)

On an average day, 804 people benefitted per existing water bottle station at 1 UNIVERSITY ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '745 - 755 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 745 - 755 COMMONWEALTH AVENUE")
WithWaterBottle["745 - 755 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 396 people benefitted per existing water bottle station at 745 - 755 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '264-270 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 264-270 BAY STATE ROAD")
WithWaterBottle["264-270 BAY STATE ROAD"] = int(grouped_df)

On an average day, 368 people benefitted per existing water bottle station at 264-270 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '635 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 635 COMMONWEALTH AVENUE")
WithWaterBottle["635 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 381 people benefitted per existing water bottle station at 635 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 SILBER WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 SILBER WAY")
WithWaterBottle["2 SILBER WAY'"] = int(grouped_df)

On an average day, 245 people benefitted per existing water bottle station at 2 SILBER WAY

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '595 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 9
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 595 COMMONWEALTH AVENUE")
WithWaterBottle["595 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 502 people benefitted per existing water bottle station at 595 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '285 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 285 BABCOCK STREET")
WithWaterBottle["285 BABCOCK STREET"] = int(grouped_df)

On an average day, 1626 people benefitted per existing water bottle station at 285 BABCOCK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '120 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 120 ASHFORD STREET")
WithWaterBottle["120 ASHFORD STREET"] = int(grouped_df)

On an average day, 2018 people benefitted per existing water bottle station at 120 ASHFORD STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 ASHFORD STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 ASHFORD STREET")
WithWaterBottle["100 ASHFORD STREET"] = int(grouped_df)

On an average day, 8905 people benefitted per existing water bottle station at 100 ASHFORD STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '590 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 590 COMMONWEALTH AVENUE")
WithWaterBottle["590 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 852 people benefitted per existing water bottle station at 590 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '722-26-28 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 7
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 722-26-28 COMMONWEALTH AVENUE")
WithWaterBottle["722-26-28 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 119 people benefitted per existing water bottle station at 722-26-28 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '730 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 730 COMMONWEALTH AVENUE")
WithWaterBottle["730 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2205 people benefitted per existing water bottle station at 730 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == "8 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 8 ST. MARY'S STREET")
WithWaterBottle["8 ST. MARY'S STREET"] = int(grouped_df)

On an average day, 721 people benefitted per existing water bottle station at 8 ST. MARY'S STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '25 BUICK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 25 BUICK STREET")
WithWaterBottle["25 BUICK STREET"] = int(grouped_df)

On an average day, 3624 people benefitted per existing water bottle station at 25 BUICK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '855 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 855 COMMONWEALTH AVENUE")
WithWaterBottle["855 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 520 people benefitted per existing water bottle station at 855 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '871 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 12
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 871 COMMONWEALTH AVENUE")
WithWaterBottle["871 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 235 people benefitted per existing water bottle station at 871 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 700 COMMONWEALTH AVENUE")
WithWaterBottle["700 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 440 people benefitted per existing water bottle station at 700 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1019 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 1019 COMMONWEALTH AVENUE")
WithWaterBottle["1019 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 181 people benefitted per existing water bottle station at 1019 COMMONWEALTH AVENUE

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '91 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 91 BAY STATE ROAD")
WithWaterBottle["91 BAY STATE ROAD"] = int(grouped_df)

On an average day, 915 people benefitted per existing water bottle station at 91 BAY STATE ROAD

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '275 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 1
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 275 BABCOCK STREET")
WithWaterBottle["275 BABCOCK STREET"] = int(grouped_df)

On an average day, 1727 people benefitted per existing water bottle station at 275 BABCOCK STREET

In [ ]:
grouped_df = dfWifi[dfWifi['building_desc'] == '33 HARRY AGGANIS WAY']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 33 HARRY AGGANIS WAY")
WithWaterBottle["33 HARRY AGGANIS WAY"] = int(grouped_df)

On an average day, 633 people benefitted per existing water bottle station at 33 HARRY AGGANIS WAY

## Summary

In [ ]:
for key, value in WithoutWaterBottle.items():
    print(f"{value}")

120
199
134
146
86
70
106
443
209
118
197
142
298
90
34
157
193
71
128
68
148
1457
6202
69
1081
4106
116
3
5
28
1
20
197
659
563
184
0

In [ ]:
for key, value in WithWaterBottle.items():
    print(f"{value}")

355
929
804
396
368
381
245
502
1626
2018
8905
852
119
2205
721
3624
520
235
440
181
915
1727
633

In [ ]:
nonexsisting = {
    '177 BAY STATE ROAD' :148,
    '179 BAY STATE ROAD': 98,
    '157 BAY STATE ROAD': 151,
    '203 BAY STATE ROAD': 155,
    '181 BAY STATE ROAD': 103,
    '173 BAY STATE ROAD': 46,
    '178 BAY STATE ROAD': 138,
    '205 BAY STATE ROAD': 69,
    '42 BUSWELL STREET': 1,
    '852 BEACON STREET': 1,
    '848 BEACON STREET': 2,
    '864 BEACON STREET': 1,
    '133 BAY STATE ROAD': 54,
    '625 COMMONWEALTH AVENUE': 25,
    '832 BEACON STREET': 61,
    '141 BAY STATE ROAD': 101,
    '117 BAY STATE ROAD': 103,
    '53 BAY STATE ROAD': 349,
    '67 BAY STATE ROAD': 157,
    '110 BAY STATE ROAD': 54,
    '115 BAY STATE ROAD': 59,
    '704 COMMONWEALTH AVENUE': 510,
    '141 CARLTON STREET': 134,
    '37-39 CARLTON STREET': 211,
    '1 BUSWELL STREET': 75,
    '5 BUSWELL STREET': 71,
    '37 BUSWELL STREET': 37,
    '39 BUSWELL STREET': 40,
    '45 BUSWELL STREET': 110,
    '47 BUSWELL STREET': 98,
    '7 BUSWELL STREET': 84,
    '60 BAY STATE ROAD': 70,
    '80 BAY STATE ROAD': 68,
    '191 BAY STATE ROAD': 145,
    '199 BAY STATE ROAD': 128,
    '232 BAY STATE ROAD': 720,
    '201 BAY STATE ROAD': 126,
    '214 BAY STATE ROAD': 44,
    '207 BAY STATE ROAD': 83,
    '188 BAY STATE ROAD': 169,
    '204 BAY STATE ROAD': 121,
    '619 MEMORIAL DRIVE': 1067,
    '100 MOUNTFORT STREET': 79,
    '677 BEACON STREET': 667
}