In [5]:
import pandas as pd
import csv
import numpy as np

In [6]:
dfGeospatial = pd.read_csv("updated_geospatial.csv")
dfGeospatial.head(5)

             BUILDING FLOOR  TOTAL STATIONS/BUILDING
0   1019 Commonwealth     1                        1
1  110-112 Cummington     2                        1
2      111 Cummington     1                        4
3      111 Cummington     1                        4
4      111 Cummington     0                        4

In [7]:
dfInventory = pd.read_csv("updated_Bottle_Fillers_Inventory.csv")
dfInventory.head(5)

,Address,Floor,Description,Space@Bu room,Quantity,Walk-Thru Notes
0,100 Ashford St,First,"Hallway across from vending machines, across f...",191,1.0,two additional drinking fountain locations in ...
1,120 Ashford St,First,"Kitchenette, Room 116A",116A,1.0,NaN
2,120 Ashford St,Second,"Kitchenette, Room 222",222,1.0,NaN
3,8 St. Mary's Street,Basement,Hallway by bathrooms,B81,1.0,NaN
4,8 St. Mary's Street,First,Hallway by electrical room,181,1.0,NaN

In [8]:
dfHighVolume = pd.read_csv("updated_High_Volume_Event_Spaces.csv")
dfHighVolume.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
0,Agganis Arena Burke Club Room,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,2
1,Agganis Arena Friends of Hockey Lounge,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,1
2,Case Center Eilberg Lounge,285 Babcock Street,use of the space is limited; there are fillers...,5,3
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
4,College of Communication Lounge,640 Commowealth Avenue,hallway by room 105,5,1

In [9]:
dfHighVolume["Candidacy"].unique()

array([2, 5, 4, 1, 3])

In [10]:
dfGeospatial["BUILDING"].unique()

array(['1019 Commonwealth', '110-112 Cummington', '111 Cummington',
       '154 Bay State Road', '156 Bay State Road', '196 Bay State Road',
       '2 Cummington', '25 Buick', '270 Bay State Road', '300 Babcock',
       '33 Harry Agganis', '36 Cummington', '48 Cummington',
       '5 Cummington', '517 Beacon', '565 Commonwealth', '64 Cummington',
       '712 Beacon', '881 Commonwealth', '96 Cummington', 'Admissions',
       'Booth', 'BUA', 'CAS', 'Case Center', 'CELOP', 'CFA', 'CGS',
       'Claflin', 'COM', 'Danielson', 'EMA', 'ENG', 'Fitrec',
       'Fuller Building', 'GRS', 'GSU', 'Hojo', 'Kilachand',
       'Law Auditorium', 'Law', 'Linguistics', 'Marcom', 'Marsh',
       'Metcalf', 'Mugar', 'Myles Annex', 'Myles Standish', 'Photonics',
       'Questrom', 'Rich', 'Sargent', 'SHA', 'Sleeper', 'SSW', 'STH',
       'Stone', 'Towers', 'Tsai', 'TTC', 'Warren', 'Wheelock', 'Yawkey'],
      dtype=object)

In [11]:
dfInventory["Address"].unique()

array(['100 Ashford St', '120 Ashford St', "8 St. Mary's Street",
       '273 Babcock St', '275 Babcock St', '277 Babcock St',
       '285 Babcock St', '300 Babcock St', '91 Bay State Road',
       '100 Bay State Road', '140 Bay State Road', '156 Bay State Road',
       '196 Bay State Road', '226 Bay State Road', '233 Bay State Road',
       '264 Bay State Road', '270 Bay State Road', '512 Beacon St',
       '517 Beacon St', '610 Beacon St', '25 Buick St',
       '565 Commonwealth Ave', '575 Commonwealth Ave',
       '590 Commonwealth Ave', '595 Commonwealth Ave', '2 Silber Way',
       '610 Commonwealth Ave', '621 Commonwealth Ave',
       '635 Commonwealth Ave', '640 Commonwealth Ave',
       '675 Commonwealth Ave', '685 Commonwealth Ave',
       '700 Commonwealth Ave', '705 Commonwealth Ave',
       '725 Commonwealth Ave', '735 Commonwealth Ave',
       '745 Commonwealth Ave', '750 Commonwealth Ave',
       '765 Commonwealth Ave', '767 Commonwealth Ave',
       '771 Commonwealth Ave', '775 Commonwealth Ave', '1 University Rd',
       '808 Commonwealth Ave', '820 Commonwealth Ave',
       '855 Commonwealth Ave', '871 Commonwealth Ave',
       '881 Commonwealth Ave', '890 Commonwealth Ave',
       '915 Commonwealth Ave', '925 Commonwealth Ave',
       '928 Commonwealth Ave', '985 Commonwealth Ave',
       '1019 Commonwealth Ave', '808 Commonwealth Ave ',
       '2 Cummington Mall', '5 Cummington Mall', '24 Cummington Mall',
       '36 Cummington Mall', '44 Cummington Mall', '48 Cummington Mall',
       '64 Cummington Mall', '68 Cummington Mall', '96 Cummington Mall',
       '111 Cummington Mall', '110-112 Cummington Mall',
       '33 Harry Agganis Way', 'nan nan'], dtype=object)

In [12]:
dfHighVolumeOne = dfHighVolume[dfHighVolume["Candidacy"] == 4]
dfHighVolumeTwo = dfHighVolume[dfHighVolume["Candidacy"] == 3]
dfHighVolumeOne.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
5,College of General Studies Gilbane Lounge,871 Commonwealth Avenue,one on each floor,4,1
6,College of General Studies Katzenberg Lounge,871 Commonwealth Avenue,NaN,4,4
7,College of General Studies Sleeper Auditorium,871 Commonwealth Avenue,NaN,4,1
8,Dahod Family Alumni Center,225 Bay State Road,There's one in the space btw Castle and Admiss...,4,1

In [13]:
dfHighVolumeTwo.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
11,George Sherman Union Metcalf Hall,775 Commonwealth Avenue,"There are 3 on the second floor, just not in t...",3,2
15,Kilachand Center Eichenbaum Colloquium Room an...,610 Commonwealth Avenue,there's one in the hallway; a bottle filler in...,3,1

In [14]:
dfHighVolumeOne["Address"].unique()

array([' 675-725 Commonwealth Avenue', ' 871 Commonwealth Avenue',
       ' 225 Bay State Road', ' 775 Commonwealth Avenue',
       ' 33 Agganis Way', ' 685 Commonwealth Avenue'], dtype=object)

In [15]:
dfHighVolumeTwo["Address"].unique()

array([' 775 Commonwealth Avenue', ' 610 Commonwealth Avenue'],
      dtype=object)

In [16]:
dfWifi = pd.read_csv("updated_wifi.csv")
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [17]:
dfWifi = dfWifi[~dfWifi['hour'].isin([3, 4, 5, 6])]
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [18]:
wifiList = dfWifi["building_desc"].unique()
lengthOfList = int(len(wifiList)/4)
chrisData = wifiList[:lengthOfList]
ryanData = wifiList[lengthOfList:lengthOfList*2]
junhoData = wifiList[lengthOfList*2:lengthOfList*3]
wooData = wifiList[lengthOfList*3:]

In [19]:
print(junhoData)

['177 BAY STATE ROAD' '179 BAY STATE ROAD' '157 BAY STATE ROAD'
 '195-197 BAY STATE ROAD' '203 BAY STATE ROAD' '181 BAY STATE ROAD'
 '627-629 COMMONWEALTH AVENUE' '173 BAY STATE ROAD' '178 BAY STATE ROAD'
 '205 BAY STATE ROAD' '96-100 CUMMINGTON MALL' '42 BUSWELL STREET'
 '852 BEACON STREET' '848 BEACON STREET' '864 BEACON STREET'
 '133 BAY STATE ROAD' '625 COMMONWEALTH AVENUE' '832 BEACON STREET'
 '881 COMMONWEALTH AVENUE' '141 BAY STATE ROAD' '117 BAY STATE ROAD'
 '53 BAY STATE ROAD' '67 BAY STATE ROAD' '100 BAY STATE ROAD'
 '110 BAY STATE ROAD' '115 BAY STATE ROAD' '704 COMMONWEALTH AVENUE'
 '610 COMMONWEALTH AVENUE' '928 COMMONWEALTH AVENUE' '141 CARLTON STREET'
 '985 COMMONWEALTH AVENUE' '888 COMMONWEALTH AVENUE'
 '37-39 CARLTON STREET' '1 BUSWELL STREET' '5 BUSWELL STREET'
 '37 BUSWELL STREET' '39 BUSWELL STREET' '45 BUSWELL STREET'
 '47 BUSWELL STREET' '7 BUSWELL STREET' '60 BAY STATE ROAD'
 '80 BAY STATE ROAD' '820 COMMONWEALTH AVENUE' '191 BAY STATE ROAD'
 '199 BAY STATE ROAD' '232 BAY STATE ROAD' '196 BAY STATE ROAD'
 '201 BAY STATE ROAD' '214 BAY STATE ROAD' '207 BAY STATE ROAD'
 '188 BAY STATE ROAD' '204 BAY STATE ROAD' '619 MEMORIAL DRIVE'
 '100 MOUNTFORT STREET' '300 BABCOCK STREET' '2 CUMMINGTON MALL'
 '30-38 CUMMINGTON MALL' '3 - 5 CUMMINGTON MALL' '24 CUMMINGTON MALL'
 '677 BEACON STREET']

## Wifi Stations Without Water Bottle Filling Station

In [99]:
WithoutWaterBottle = {}

In [100]:
grouped_df = dfWifi[dfWifi['building_desc'] == '177 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 177 BAY STATE ROAD")
WithoutWaterBottle['177 BAY STATE ROAD'] = int(grouped_df)

On an average day, 148 people will benefit from a water bottle station at 177 BAY STATE ROAD

In [101]:
grouped_df = dfWifi[dfWifi['building_desc'] == '179 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 179 BAY STATE ROAD")
WithoutWaterBottle['179 BAY STATE ROAD'] = int(grouped_df)

On an average day, 98 people will benefit from a water bottle station at 179 BAY STATE ROAD

In [102]:
grouped_df = dfWifi[dfWifi['building_desc'] == '157 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 157 BAY STATE ROAD")
WithoutWaterBottle['157 BAY STATE ROAD'] = int(grouped_df)

On an average day, 151 people will benefit from a water bottle station at 157 BAY STATE ROAD

In [103]:
grouped_df = dfWifi[dfWifi['building_desc'] == '203 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 203 BAY STATE ROAD")
WithoutWaterBottle['203 BAY STATE ROAD'] = int(grouped_df)

On an average day, 155 people will benefit from a water bottle station at 203 BAY STATE ROAD

In [104]:
grouped_df = dfWifi[dfWifi['building_desc'] == '181 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 181 BAY STATE ROAD")
WithoutWaterBottle['181 BAY STATE ROAD'] = int(grouped_df)

On an average day, 103 people will benefit from a water bottle station at 181 BAY STATE ROAD

In [105]:
grouped_df = dfWifi[dfWifi['building_desc'] == '173 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 173 BAY STATE ROAD")
WithoutWaterBottle['173 BAY STATE ROAD'] = int(grouped_df)

On an average day, 46 people will benefit from a water bottle station at 173 BAY STATE ROAD

In [106]:
grouped_df = dfWifi[dfWifi['building_desc'] == '178 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 178 BAY STATE ROAD")
WithoutWaterBottle['178 BAY STATE ROAD'] = int(grouped_df)

On an average day, 138 people will benefit from a water bottle station at 178 BAY STATE ROAD

In [107]:
grouped_df = dfWifi[dfWifi['building_desc'] == '205 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 205 BAY STATE ROAD")
WithoutWaterBottle['205 BAY STATE ROAD'] = int(grouped_df)

On an average day, 69 people will benefit from a water bottle station at 205 BAY STATE ROAD

In [108]:
grouped_df = dfWifi[dfWifi['building_desc'] == '42 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 42 BUSWELL STREET")
WithoutWaterBottle['42 BUSWELL STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 42 BUSWELL STREET

In [109]:
grouped_df = dfWifi[dfWifi['building_desc'] == '852 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 852 BEACON STREET")
WithoutWaterBottle['852 BEACON STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 852 BEACON STREET

In [110]:
grouped_df = dfWifi[dfWifi['building_desc'] == '848 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 848 BEACON STREET")
WithoutWaterBottle['848 BEACON STREET'] = int(grouped_df)

On an average day, 2 people will benefit from a water bottle station at 848 BEACON STREET

In [111]:
grouped_df = dfWifi[dfWifi['building_desc'] == '864 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 864 BEACON STREET")
WithoutWaterBottle['864 BEACON STREET'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 864 BEACON STREET

In [112]:
grouped_df = dfWifi[dfWifi['building_desc'] == '133 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 133 BAY STATE ROAD")
WithoutWaterBottle['133 BAY STATE ROAD'] = int(grouped_df)

On an average day, 54 people will benefit from a water bottle station at 133 BAY STATE ROAD

In [113]:
grouped_df = dfWifi[dfWifi['building_desc'] == '625 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 625 COMMONWEALTH AVENUE")
WithoutWaterBottle['625 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 25 people will benefit from a water bottle station at 625 COMMONWEALTH AVENUE

In [114]:
grouped_df = dfWifi[dfWifi['building_desc'] == '832 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 832 BEACON STREET")
WithoutWaterBottle['832 BEACON STREET'] = int(grouped_df)

On an average day, 61 people will benefit from a water bottle station at 832 BEACON STREET

In [115]:
grouped_df = dfWifi[dfWifi['building_desc'] == '141 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 BAY STATE ROAD")
WithoutWaterBottle['141 BAY STATE ROAD'] = int(grouped_df)

On an average day, 101 people will benefit from a water bottle station at 141 BAY STATE ROAD

In [116]:
grouped_df = dfWifi[dfWifi['building_desc'] == '117 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 117 BAY STATE ROAD")
WithoutWaterBottle['117 BAY STATE ROAD'] = int(grouped_df)

On an average day, 103 people will benefit from a water bottle station at 117 BAY STATE ROAD

In [117]:
grouped_df = dfWifi[dfWifi['building_desc'] == '53 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 53 BAY STATE ROAD")
WithoutWaterBottle['53 BAY STATE ROAD'] = int(grouped_df)

On an average day, 349 people will benefit from a water bottle station at 53 BAY STATE ROAD

In [118]:
grouped_df = dfWifi[dfWifi['building_desc'] == '67 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 67 BAY STATE ROAD")
WithoutWaterBottle['67 BAY STATE ROAD'] = int(grouped_df)

On an average day, 157 people will benefit from a water bottle station at 67 BAY STATE ROAD

In [119]:
grouped_df = dfWifi[dfWifi['building_desc'] == '110 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 110 BAY STATE ROAD")
WithoutWaterBottle['110 BAY STATE ROAD'] = int(grouped_df)

On an average day, 54 people will benefit from a water bottle station at 110 BAY STATE ROAD

In [120]:
grouped_df = dfWifi[dfWifi['building_desc'] == '115 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 115 BAY STATE ROAD")
WithoutWaterBottle['115 BAY STATE ROAD'] = int(grouped_df)

On an average day, 59 people will benefit from a water bottle station at 115 BAY STATE ROAD

In [121]:
grouped_df = dfWifi[dfWifi['building_desc'] == '704 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 704 COMMONWEALTH AVENUE")
WithoutWaterBottle['704 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 510 people will benefit from a water bottle station at 704 COMMONWEALTH AVENUE

In [122]:
grouped_df = dfWifi[dfWifi['building_desc'] == '141 CARLTON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 141 CARLTON STREET")
WithoutWaterBottle['141 CARLTON STREET'] = int(grouped_df)

On an average day, 134 people will benefit from a water bottle station at 141 CARLTON STREET

In [123]:
grouped_df = dfWifi[dfWifi['building_desc'] == '37-39 CARLTON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37-39 CARLTON STREET")
WithoutWaterBottle['37-39 CARLTON STREET'] = int(grouped_df)

On an average day, 211 people will benefit from a water bottle station at 37-39 CARLTON STREET

In [124]:
grouped_df = dfWifi[dfWifi['building_desc'] == '1 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 1 BUSWELL STREET")
WithoutWaterBottle['1 BUSWELL STREET'] = int(grouped_df)

On an average day, 75 people will benefit from a water bottle station at 1 BUSWELL STREET

In [125]:
grouped_df = dfWifi[dfWifi['building_desc'] == '5 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 5 BUSWELL STREET")
WithoutWaterBottle['5 BUSWELL STREET'] = int(grouped_df)

On an average day, 71 people will benefit from a water bottle station at 5 BUSWELL STREET

In [126]:
grouped_df = dfWifi[dfWifi['building_desc'] == '37 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 37 BUSWELL STREET")
WithoutWaterBottle['37 BUSWELL STREET'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 37 BUSWELL STREET

In [127]:
grouped_df = dfWifi[dfWifi['building_desc'] == '39 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 39 BUSWELL STREET")
WithoutWaterBottle['39 BUSWELL STREET'] = int(grouped_df)

On an average day, 40 people will benefit from a water bottle station at 39 BUSWELL STREET

In [128]:
grouped_df = dfWifi[dfWifi['building_desc'] == '45 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 45 BUSWELL STREET")
WithoutWaterBottle['45 BUSWELL STREET'] = int(grouped_df)

On an average day, 110 people will benefit from a water bottle station at 45 BUSWELL STREET

In [129]:
grouped_df = dfWifi[dfWifi['building_desc'] == '47 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 47 BUSWELL STREET")
WithoutWaterBottle['47 BUSWELL STREET'] = int(grouped_df)

On an average day, 98 people will benefit from a water bottle station at 47 BUSWELL STREET

In [130]:
grouped_df = dfWifi[dfWifi['building_desc'] == '7 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 7 BUSWELL STREET")
WithoutWaterBottle['7 BUSWELL STREET'] = int(grouped_df)

On an average day, 84 people will benefit from a water bottle station at 7 BUSWELL STREET

In [131]:
grouped_df = dfWifi[dfWifi['building_desc'] == '60 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 60 BAY STATE ROAD")
WithoutWaterBottle['60 BAY STATE ROAD'] = int(grouped_df)

On an average day, 70 people will benefit from a water bottle station at 60 BAY STATE ROAD

In [132]:
grouped_df = dfWifi[dfWifi['building_desc'] == '80 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 80 BAY STATE ROAD")
WithoutWaterBottle['80 BAY STATE ROAD'] = int(grouped_df)

On an average day, 68 people will benefit from a water bottle station at 80 BAY STATE ROAD

In [133]:
grouped_df = dfWifi[dfWifi['building_desc'] == '191 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 191 BAY STATE ROAD")
WithoutWaterBottle['191 BAY STATE ROAD'] = int(grouped_df)

On an average day, 145 people will benefit from a water bottle station at 191 BAY STATE ROAD

In [134]:
grouped_df = dfWifi[dfWifi['building_desc'] == '199 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 199 BAY STATE ROAD")
WithoutWaterBottle['199 BAY STATE ROAD'] = int(grouped_df)

On an average day, 128 people will benefit from a water bottle station at 199 BAY STATE ROAD

In [135]:
grouped_df = dfWifi[dfWifi['building_desc'] == '232 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 232 BAY STATE ROAD")
WithoutWaterBottle['232 BAY STATE ROAD'] = int(grouped_df)

On an average day, 720 people will benefit from a water bottle station at 232 BAY STATE ROAD

In [136]:
grouped_df = dfWifi[dfWifi['building_desc'] == '201 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 201 BAY STATE ROAD")
WithoutWaterBottle['201 BAY STATE ROAD'] = int(grouped_df)

On an average day, 126 people will benefit from a water bottle station at 201 BAY STATE ROAD

In [137]:
grouped_df = dfWifi[dfWifi['building_desc'] == '214 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 214 BAY STATE ROAD")
WithoutWaterBottle['214 BAY STATE ROAD'] = int(grouped_df)

On an average day, 44 people will benefit from a water bottle station at 214 BAY STATE ROAD

In [138]:
grouped_df = dfWifi[dfWifi['building_desc'] == '207 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 207 BAY STATE ROAD")
WithoutWaterBottle['207 BAY STATE ROAD'] = int(grouped_df)

On an average day, 83 people will benefit from a water bottle station at 207 BAY STATE ROAD

In [139]:
grouped_df = dfWifi[dfWifi['building_desc'] == '188 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 188 BAY STATE ROAD")
WithoutWaterBottle['188 BAY STATE ROAD'] = int(grouped_df)

On an average day, 169 people will benefit from a water bottle station at 188 BAY STATE ROAD

In [140]:
grouped_df = dfWifi[dfWifi['building_desc'] == '204 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 204 BAY STATE ROAD")
WithoutWaterBottle['204 BAY STATE ROAD'] = int(grouped_df)

On an average day, 121 people will benefit from a water bottle station at 204 BAY STATE ROAD

In [141]:
grouped_df = dfWifi[dfWifi['building_desc'] == '619 MEMORIAL DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 619 MEMORIAL DRIVE")
WithoutWaterBottle['619 MEMORIAL DRIVE'] = int(grouped_df)

On an average day, 1067 people will benefit from a water bottle station at 619 MEMORIAL DRIVE

In [142]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 100 MOUNTFORT STREET")
WithoutWaterBottle['100 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 100 MOUNTFORT STREET

In [143]:
grouped_df = dfWifi[dfWifi['building_desc'] == '677 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 677 BEACON STREET")
WithoutWaterBottle['677 BEACON STREET'] = int(grouped_df)

On an average day, 667 people will benefit from a water bottle station at 677 BEACON STREET

## Wifi Stations With Water Bottle Filling Stations

In [144]:
grouped_df = dfWifi[dfWifi['building_desc'] == '195-197 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")

On an average day, 262 people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD

In [145]:
grouped_df = dfWifi[dfWifi['building_desc'] == '627-629 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 627-629 COMMONWEALTH AVENUE")

On an average day, 183 people benefitted from the existing water bottle station at 627-629 COMMONWEALTH AVENUE

In [146]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96-100 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 96-100 CUMMINGTON MALL")

On an average day, 916 people benefitted from the existing water bottle station at 96-100 CUMMINGTON MALL

In [147]:
grouped_df = dfWifi[dfWifi['building_desc'] == '881 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")

On an average day, 1620 people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE

In [148]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 100 BAY STATE ROAD")

On an average day, 1957 people benefitted from the existing water bottle station at 100 BAY STATE ROAD

In [149]:
grouped_df = dfWifi[dfWifi['building_desc'] == '928 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 928 COMMONWEALTH AVENUE")

On an average day, 1533 people benefitted from the existing water bottle station at 928 COMMONWEALTH AVENUE

In [150]:
grouped_df = dfWifi[dfWifi['building_desc'] == '985 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 985 COMMONWEALTH AVENUE")

On an average day, 2074 people benefitted from the existing water bottle station at 985 COMMONWEALTH AVENUE

In [151]:
grouped_df = dfWifi[dfWifi['building_desc'] == '888 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 888 COMMONWEALTH AVENUE")

On an average day, 2396 people benefitted from the existing water bottle station at 888 COMMONWEALTH AVENUE

In [152]:
grouped_df = dfWifi[dfWifi['building_desc'] == '820 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 820 COMMONWEALTH AVENUE")

On an average day, 1619 people benefitted from the existing water bottle station at 820 COMMONWEALTH AVENUE

In [153]:
grouped_df = dfWifi[dfWifi['building_desc'] == '196 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 196 BAY STATE ROAD")

On an average day, 143 people benefitted from the existing water bottle station at 196 BAY STATE ROAD

In [154]:
grouped_df = dfWifi[dfWifi['building_desc'] == '300 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 300 BABCOCK STREET")

On an average day, 4138 people benefitted from the existing water bottle station at 300 BABCOCK STREET

In [155]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 2 CUMMINGTON MALL")

On an average day, 1032 people benefitted from the existing water bottle station at 2 CUMMINGTON MALL

In [156]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30-38 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 30-38 CUMMINGTON MALL")

On an average day, 1053 people benefitted from the existing water bottle station at 30-38 CUMMINGTON MALL

In [157]:
grouped_df = dfWifi[dfWifi['building_desc'] == '3 - 5 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")

On an average day, 2435 people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL

In [158]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")

On an average day, 1915 people benefitted from the existing water bottle station at 24 CUMMINGTON MALL

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [159]:
WithWaterBottle = {}

In [160]:
grouped_df = dfWifi[dfWifi['building_desc'] == '195-197 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD")
WithWaterBottle["195-197 BAY STATE ROAD"] = int(grouped_df)

On an average day, 262 people benefitted from the existing water bottle station at 195-197 BAY STATE ROAD

In [161]:
grouped_df = dfWifi[dfWifi['building_desc'] == '627-629 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 627-629 COMMONWEALTH AVENUE")
WithWaterBottle["627-629 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 183 people benefitted per existing water bottle station at 627-629 COMMONWEALTH AVENUE

In [162]:
grouped_df = dfWifi[dfWifi['building_desc'] == '96-100 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 96-100 CUMMINGTON MALL")
WithWaterBottle["96-100 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 916 people benefitted per existing water bottle station at 96-100 CUMMINGTON MALL

In [163]:
grouped_df = dfWifi[dfWifi['building_desc'] == '881 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE")
WithWaterBottle["881 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 540 people benefitted from the existing water bottle station at 881 COMMONWEALTH AVENUE

In [164]:
grouped_df = dfWifi[dfWifi['building_desc'] == '100 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 6
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 100 BAY STATE ROAD")
WithWaterBottle["100 BAY STATE ROAD"] = int(grouped_df)

On an average day, 326 people benefitted per existing water bottle station at 100 BAY STATE ROAD

In [165]:
grouped_df = dfWifi[dfWifi['building_desc'] == '928 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 3
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 928 COMMONWEALTH AVENUE")
WithWaterBottle["928 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 511 people benefitted per existing water bottle station at 928 COMMONWEALTH AVENUE

In [166]:
grouped_df = dfWifi[dfWifi['building_desc'] == '985 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 985 COMMONWEALTH AVENUE")
WithWaterBottle["985 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2074 people benefitted per existing water bottle station at 985 COMMONWEALTH AVENUE

In [167]:
grouped_df = dfWifi[dfWifi['building_desc'] == '888 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 888 COMMONWEALTH AVENUE")
WithWaterBottle["888 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 2396 people benefitted per existing water bottle station at 888 COMMONWEALTH AVENUE

In [168]:
grouped_df = dfWifi[dfWifi['building_desc'] == '820 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 5
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 820 COMMONWEALTH AVENUE")
WithWaterBottle["820 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 323 people benefitted per existing water bottle station at 820 COMMONWEALTH AVENUE

In [169]:
grouped_df = dfWifi[dfWifi['building_desc'] == '196 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 196 BAY STATE ROAD")
WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

On an average day, 143 people benefitted per existing water bottle station at 196 BAY STATE ROAD

In [170]:
grouped_df = dfWifi[dfWifi['building_desc'] == '300 BABCOCK STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 300 BABCOCK STREET")
WithWaterBottle["196 BAY STATE ROAD"] = int(grouped_df)

On an average day, 2069 people benefitted per existing water bottle station at 300 BABCOCK STREET

In [171]:
grouped_df = dfWifi[dfWifi['building_desc'] == '2 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 2 CUMMINGTON MALL")
WithWaterBottle["2 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 516 people benefitted per existing water bottle station at 2 CUMMINGTON MALL

In [172]:
grouped_df = dfWifi[dfWifi['building_desc'] == '30-38 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2 
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 30-38 CUMMINGTON MALL")
WithWaterBottle["30-38 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 526 people benefitted per existing water bottle station at 30-38 CUMMINGTON MALL

In [173]:
grouped_df = dfWifi[dfWifi['building_desc'] == '3 - 5 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL")
WithWaterBottle["3 - 5 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 2435 people benefitted from the existing water bottle station at 3 - 5 CUMMINGTON MALL

In [174]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted from the existing water bottle station at 24 CUMMINGTON MALL")
WithWaterBottle["24 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 957 people benefitted from the existing water bottle station at 24 CUMMINGTON MALL

In [175]:
exsisting = {
    '195-197 BAY STATE ROAD' : 262, 
    '627-629 COMMONWEALTH AVENUE' : 183, 
    '96-100 CUMMINGTON MALL' : 916, 
    '881 COMMONWEALTH AVENUE' : 540, # 1620/3 
    '100 BAY STATE ROAD' : 326, # 1957/6 
    '928 COMMONWEALTH AVENUE' : 511, # 1533/3
    '985 COMMONWEALTH AVENUE' : 2074, 
    '888 COMMONWEALTH AVENUE' : 2396,  
    '820 COMMONWEALTH AVENUE' : 323, # 1619/5
    '196 BAY STATE ROAD' : 143,
    '300 BABCOCK STREET' : 2069, # 4138/2 
    '2 CUMMINGTON MALL' : 516, # 1032/2
    '30-38 CUMMINGTON MALL' : 526, # 1053/2
    '3 - 5 CUMMINGTON MALL' : 2435, 
    '24 CUMMINGTON MALL' : 957 # 1915/2
}

## Summary

In [176]:
for key, value in WithoutWaterBottle.items():
    print(f"{value}")

148
98
151
155
103
46
138
69
1
1
2
1
54
25
61
101
103
349
157
54
59
510
134
211
75
71
79
40
110
98
84
70
68
145
128
720
126
44
83
169
121
1067
79
667

In [177]:
for key, value in WithWaterBottle.items():
    print(f"{value}")

262
183
916
540
326
511
2074
2396
323
2069
516
526
2435
957

In [178]:
nonexsisting = {
    '177 BAY STATE ROAD' :148,
    '179 BAY STATE ROAD': 98,
    '157 BAY STATE ROAD': 151,
    '203 BAY STATE ROAD': 155,
    '181 BAY STATE ROAD': 103,
    '173 BAY STATE ROAD': 46,
    '178 BAY STATE ROAD': 138,
    '205 BAY STATE ROAD': 69,
    '42 BUSWELL STREET': 1,
    '852 BEACON STREET': 1,
    '848 BEACON STREET': 2,
    '864 BEACON STREET': 1,
    '133 BAY STATE ROAD': 54,
    '625 COMMONWEALTH AVENUE': 25,
    '832 BEACON STREET': 61,
    '141 BAY STATE ROAD': 101,
    '117 BAY STATE ROAD': 103,
    '53 BAY STATE ROAD': 349,
    '67 BAY STATE ROAD': 157,
    '110 BAY STATE ROAD': 54,
    '115 BAY STATE ROAD': 59,
    '704 COMMONWEALTH AVENUE': 510,
    '141 CARLTON STREET': 134,
    '37-39 CARLTON STREET': 211,
    '1 BUSWELL STREET': 75,
    '5 BUSWELL STREET': 71,
    '37 BUSWELL STREET': 37,
    '39 BUSWELL STREET': 40,
    '45 BUSWELL STREET': 110,
    '47 BUSWELL STREET': 98,
    '7 BUSWELL STREET': 84,
    '60 BAY STATE ROAD': 70,
    '80 BAY STATE ROAD': 68,
    '191 BAY STATE ROAD': 145,
    '199 BAY STATE ROAD': 128,
    '232 BAY STATE ROAD': 720,
    '201 BAY STATE ROAD': 126,
    '214 BAY STATE ROAD': 44,
    '207 BAY STATE ROAD': 83,
    '188 BAY STATE ROAD': 169,
    '204 BAY STATE ROAD': 121,
    '619 MEMORIAL DRIVE': 1067,
    '100 MOUNTFORT STREET': 79,
    '677 BEACON STREET': 667
}