In [93]:
import pandas as pd
import csv
import numpy as np

In [94]:
dfGeospatial = pd.read_csv("datata/updated_geospatial.csv")
dfGeospatial.head(5)

             BUILDING FLOOR  TOTAL STATIONS/BUILDING
0   1019 Commonwealth     1                        1
1  110-112 Cummington     2                        1
2      111 Cummington     1                        4
3      111 Cummington     1                        4
4      111 Cummington     0                        4

In [95]:
dfInventory = pd.read_csv("datata/updated_Bottle_Fillers_Inventory.csv")
dfInventory.head(5)

,Address,Floor,Description,Space@Bu room,Quantity,Walk-Thru Notes
0,100 Ashford St,First,"Hallway across from vending machines, across f...",191,1.0,two additional drinking fountain locations in ...
1,120 Ashford St,First,"Kitchenette, Room 116A",116A,1.0,NaN
2,120 Ashford St,Second,"Kitchenette, Room 222",222,1.0,NaN
3,8 St. Mary's Street,Basement,Hallway by bathrooms,B81,1.0,NaN
4,8 St. Mary's Street,First,Hallway by electrical room,181,1.0,NaN

In [96]:
dfHighVolume = pd.read_csv("datata/updated_High_Volume_Event_Spaces.csv")
dfHighVolume.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
0,Agganis Arena Burke Club Room,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,2
1,Agganis Arena Friends of Hockey Lounge,925 Commonwealth Avenue,"casual catered events, high liklihood of using...",2,1
2,Case Center Eilberg Lounge,285 Babcock Street,use of the space is limited; there are fillers...,5,3
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
4,College of Communication Lounge,640 Commowealth Avenue,hallway by room 105,5,1

In [97]:
dfHighVolume["Candidacy"].unique()

array([2, 5, 4, 1, 3], dtype=int64)

In [98]:
dfGeospatial["BUILDING"].unique()

array(['1019 Commonwealth', '110-112 Cummington', '111 Cummington',
       '154 Bay State Road', '156 Bay State Road', '196 Bay State Road',
       '2 Cummington', '25 Buick', '270 Bay State Road', '300 Babcock',
       '33 Harry Agganis', '36 Cummington', '48 Cummington',
       '5 Cummington', '517 Beacon', '565 Commonwealth', '64 Cummington',
       '712 Beacon', '881 Commonwealth', '96 Cummington', 'Admissions',
       'Booth', 'BUA', 'CAS', 'Case Center', 'CELOP', 'CFA', 'CGS',
       'Claflin', 'COM', 'Danielson', 'EMA', 'ENG', 'Fitrec',
       'Fuller Building', 'GRS', 'GSU', 'Hojo', 'Kilachand',
       'Law Auditorium', 'Law', 'Linguistics', 'Marcom', 'Marsh',
       'Metcalf', 'Mugar', 'Myles Annex', 'Myles Standish', 'Photonics',
       'Questrom', 'Rich', 'Sargent', 'SHA', 'Sleeper', 'SSW', 'STH',
       'Stone', 'Towers', 'Tsai', 'TTC', 'Warren', 'Wheelock', 'Yawkey'],
      dtype=object)

In [99]:
dfInventory["Address"].unique()

array(['100 Ashford St', '120 Ashford St', "8 St. Mary's Street",
       '273 Babcock St', '275 Babcock St', '277 Babcock St',
       '285 Babcock St', '300 Babcock St', '91 Bay State Road',
       '100 Bay State Road', '140 Bay State Road', '156 Bay State Road',
       '196 Bay State Road', '226 Bay State Road', '233 Bay State Road',
       '264 Bay State Road', '270 Bay State Road', '512 Beacon St',
       '517 Beacon St', '610 Beacon St', '25 Buick St',
       '565 Commonwealth Ave', '575 Commonwealth Ave',
       '590 Commonwealth Ave', '595 Commonwealth Ave', '2 Silber Way',
       '610 Commonwealth Ave', '621 Commonwealth Ave',
       '635 Commonwealth Ave', '640 Commonwealth Ave',
       '675 Commonwealth Ave', '685 Commonwealth Ave',
       '700 Commonwealth Ave', '705 Commonwealth Ave',
       '725 Commonwealth Ave', '735 Commonwealth Ave',
       '745 Commonwealth Ave', '750 Commonwealth Ave',
       '765 Commonwealth Ave', '767 Commonwealth Ave',
       '771 Commonwealth Ave', '775 Commonwealth Ave', '1 University Rd',
       '808 Commonwealth Ave', '820 Commonwealth Ave',
       '855 Commonwealth Ave', '871 Commonwealth Ave',
       '881 Commonwealth Ave', '890 Commonwealth Ave',
       '915 Commonwealth Ave', '925 Commonwealth Ave',
       '928 Commonwealth Ave', '985 Commonwealth Ave',
       '1019 Commonwealth Ave', '808 Commonwealth Ave ',
       '2 Cummington Mall', '5 Cummington Mall', '24 Cummington Mall',
       '36 Cummington Mall', '44 Cummington Mall', '48 Cummington Mall',
       '64 Cummington Mall', '68 Cummington Mall', '96 Cummington Mall',
       '111 Cummington Mall', '110-112 Cummington Mall',
       '33 Harry Agganis Way', 'nan nan'], dtype=object)

In [100]:
dfHighVolumeOne = dfHighVolume[dfHighVolume["Candidacy"] == 4]
dfHighVolumeTwo = dfHighVolume[dfHighVolume["Candidacy"] == 3]
dfHighVolumeOne.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
3,College of Arts & Sciences Classrooms,675-725 Commonwealth Avenue,There are a bunch already down the hallways; 4...,4,0
5,College of General Studies Gilbane Lounge,871 Commonwealth Avenue,one on each floor,4,1
6,College of General Studies Katzenberg Lounge,871 Commonwealth Avenue,NaN,4,4
7,College of General Studies Sleeper Auditorium,871 Commonwealth Avenue,NaN,4,1
8,Dahod Family Alumni Center,225 Bay State Road,There's one in the space btw Castle and Admiss...,4,1

In [101]:
dfHighVolumeTwo.head(5)

,Room_Name,Address,Notes,Candidacy,Floor Number
11,George Sherman Union Metcalf Hall,775 Commonwealth Avenue,"There are 3 on the second floor, just not in t...",3,2
15,Kilachand Center Eichenbaum Colloquium Room an...,610 Commonwealth Avenue,there's one in the hallway; a bottle filler in...,3,1

In [102]:
dfHighVolumeOne["Address"].unique()

array([' 675-725 Commonwealth Avenue', ' 871 Commonwealth Avenue',
       ' 225 Bay State Road', ' 775 Commonwealth Avenue',
       ' 33 Agganis Way', ' 685 Commonwealth Avenue'], dtype=object)

In [103]:
dfHighVolumeTwo["Address"].unique()

array([' 775 Commonwealth Avenue', ' 610 Commonwealth Avenue'],
      dtype=object)

In [104]:
dfWifi = pd.read_csv("datata/updated_wifi.csv")
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [105]:
dfWifi = dfWifi[~dfWifi['hour'].isin([3, 4, 5, 6])]
dfWifi.head(5)

,date,hour,building_floor,building_desc,building_type,density_cnt,capacity,dc_ratio
0,2021-03-31,1,4,209 BAY STATE ROAD,Residential,1,8,0.13
1,2021-03-31,1,2,200-202 BAY STATE ROAD,Residential,1,12,0.08
2,2021-03-31,1,2,184 BAY STATE ROAD,Residential,1,6,0.17
3,2021-03-31,1,3,190 BAY STATE ROAD,Residential,1,9,0.11
4,2021-03-31,1,3,161 BAY STATE ROAD,Residential,1,5,0.20

In [106]:
wifiList = dfWifi["building_desc"].unique()
lengthOfList = int(len(wifiList)/4)
chrisData = wifiList[:lengthOfList]
ryanData = wifiList[lengthOfList:lengthOfList*2]
junhoData = wifiList[lengthOfList*2:lengthOfList*3]
wooData = wifiList[lengthOfList*3:]

In [107]:
print(wooData)

['700 BEACON STREET' '736 - 738 COMMONWEALTH AVENUE'
 '916-922 COMMONWEALTH AVENUE' '866 BEACON STREET'
 '714 COMMONWEALTH AVENUE' '154 BAY STATE ROAD' '111 CUMMINGTON MALL'
 '531 BEACON STREET' '180 BAY STATE ROAD' '830-846 COMMONWEALTH AVENUE'
 '24 COTTAGE FARM ROAD' '828 BEACON STREET' '40 BUSWELL STREET'
 '152 BAY STATE ROAD' '138 MOUNTFORT STREET' '765 COMMONWEALTH AVENUE'
 '565 COMMONWEALTH AVENUE' '44 CUMMINGTON MALL' '110-112 CUMMINGTON MALL'
 '76 BAY STATE ROAD' '27 ABERDEEN STREET' '236 BAY STATE ROAD'
 '675 - 725 COMMONWEALTH AVENUE' '128 BAY STATE ROAD'
 '910 COMMONWEALTH AVENUE' '194 BAY STATE ROAD' '213 BAY STATE ROAD'
 '457 PARK DRIVE' '455 PARK DRIVE' '750 COMMONWEALTH AVENUE'
 '735 COMMONWEALTH AVENUE' '147 BAY STATE ROAD' '226 BAY STATE ROAD'
 '172 BAY STATE ROAD' "15 ST. MARY'S STREET" '56 BAY STATE ROAD'
 '718 COMMONWEALTH AVENUE' '124 BAY STATE ROAD' '225 BAY STATE ROAD'
 '64-86 CUMMINGTON MALL' '125 BAY STATE ROAD' '975 COMMONWEALTH AVENUE'
 '617-621 COMMONWEALTH AVENUE' '708 COMMONWEALTH AVENUE'
 '121 BAY STATE ROAD' '185 BAY STATE ROAD' '116 BAY STATE ROAD'
 '602 COMMONWEALTH AVENUE' '61 BAY STATE ROAD' '233 BAY STATE ROAD'
 '193 BAY STATE ROAD' '10 COTTAGE FARM ROAD' '78 BAY STATE ROAD'
 '143 BAY STATE ROAD' '135 IVY STREET' '75 BAY STATE ROAD'
 '74 BAY STATE ROAD' '84 BAY STATE ROAD' '118 BAY STATE ROAD'
 '156 BAY STATE ROAD' '122 BAY STATE ROAD' '50 WORTHINGTON ROAD'
 '68-70 BAY STATE ROAD']

## Wifi Stations Without Water Bottle Filling Station

In [108]:
WithoutWaterBottle = {}

In [109]:
grouped_df = dfWifi[dfWifi['building_desc'] == '736 - 738 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE")
WithoutWaterBottle['736 - 738 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 692 people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1785521539.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 736 - 738 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1785521539.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['736 - 738 COMMONWEALTH AVENUE'] = int(grouped_df)

In [110]:
grouped_df = dfWifi[dfWifi['building_desc'] == '916-922 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE")
WithoutWaterBottle['916-922 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1610 people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\205550598.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 916-922 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\205550598.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['916-922 COMMONWEALTH AVENUE'] = int(grouped_df)

In [111]:
grouped_df = dfWifi[dfWifi['building_desc'] == '866 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 866 BEACON STREET")
WithoutWaterBottle['866 BEACON STREET'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 866 BEACON STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4248930259.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 866 BEACON STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4248930259.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['866 BEACON STREET'] = int(grouped_df)

In [112]:
grouped_df = dfWifi[dfWifi['building_desc'] == '714 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE")
WithoutWaterBottle['714 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\427117986.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 714 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\427117986.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['714 COMMONWEALTH AVENUE'] = int(grouped_df)

In [113]:
grouped_df = dfWifi[dfWifi['building_desc'] == '531 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 531 BEACON STREET")
WithoutWaterBottle['531 BEACON STREET'] = int(grouped_df)

On an average day, 18 people will benefit from a water bottle station at 531 BEACON STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2246671953.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 531 BEACON STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2246671953.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['531 BEACON STREET'] = int(grouped_df)

In [114]:
grouped_df = dfWifi[dfWifi['building_desc'] == '180 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 180 BAY STATE ROAD")
WithoutWaterBottle['180 BAY STATE ROAD'] = int(grouped_df)

On an average day, 66 people will benefit from a water bottle station at 180 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2306377382.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 180 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2306377382.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['180 BAY STATE ROAD'] = int(grouped_df)

In [115]:
grouped_df = dfWifi[dfWifi['building_desc'] == '830-846 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE")
WithoutWaterBottle['830-846 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 273 people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1096231537.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 830-846 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1096231537.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['830-846 COMMONWEALTH AVENUE'] = int(grouped_df)

In [116]:
grouped_df = dfWifi[dfWifi['building_desc'] == '24 COTTAGE FARM ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 24 COTTAGE FARM ROAD")
WithoutWaterBottle['24 COTTAGE FARM ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 24 COTTAGE FARM ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2684666362.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 24 COTTAGE FARM ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2684666362.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['24 COTTAGE FARM ROAD'] = int(grouped_df)

In [117]:
grouped_df = dfWifi[dfWifi['building_desc'] == '828 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 828 BEACON STREET")
WithoutWaterBottle['828 BEACON STREET'] = int(grouped_df)

On an average day, 69 people will benefit from a water bottle station at 828 BEACON STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4292857072.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 828 BEACON STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4292857072.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['828 BEACON STREET'] = int(grouped_df)

In [118]:
grouped_df = dfWifi[dfWifi['building_desc'] == '40 BUSWELL STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 40 BUSWELL STREET")
WithoutWaterBottle['40 BUSWELL STREET'] = int(grouped_df)

On an average day, 100 people will benefit from a water bottle station at 40 BUSWELL STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3976008023.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 40 BUSWELL STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3976008023.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['40 BUSWELL STREET'] = int(grouped_df)

In [119]:
grouped_df = dfWifi[dfWifi['building_desc'] == '152 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 152 BAY STATE ROAD")
WithoutWaterBottle['152 BAY STATE ROAD'] = int(grouped_df)

On an average day, 161 people will benefit from a water bottle station at 152 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3975616471.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 152 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3975616471.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['152 BAY STATE ROAD'] = int(grouped_df)

In [120]:
grouped_df = dfWifi[dfWifi['building_desc'] == '138 MOUNTFORT STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 138 MOUNTFORT STREET")
WithoutWaterBottle['138 MOUNTFORT STREET'] = int(grouped_df)

On an average day, 85 people will benefit from a water bottle station at 138 MOUNTFORT STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1925749511.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 138 MOUNTFORT STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1925749511.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['138 MOUNTFORT STREET'] = int(grouped_df)

In [121]:
grouped_df = dfWifi[dfWifi['building_desc'] == '76 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 76 BAY STATE ROAD")
WithoutWaterBottle['76 BAY STATE ROAD'] = int(grouped_df)

On an average day, 1 people will benefit from a water bottle station at 76 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2561928323.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 76 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2561928323.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['76 BAY STATE ROAD'] = int(grouped_df)

In [122]:
grouped_df = dfWifi[dfWifi['building_desc'] == '27 ABERDEEN STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 27 ABERDEEN STREET")
WithoutWaterBottle['27 ABERDEEN STREET'] = int(grouped_df)

On an average day, 2 people will benefit from a water bottle station at 27 ABERDEEN STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\408876456.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 27 ABERDEEN STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\408876456.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['27 ABERDEEN STREET'] = int(grouped_df)

In [123]:
grouped_df = dfWifi[dfWifi['building_desc'] == '236 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 236 BAY STATE ROAD")
WithoutWaterBottle['236 BAY STATE ROAD'] = int(grouped_df)

On an average day, 301 people will benefit from a water bottle station at 236 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\391045167.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 236 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\391045167.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['236 BAY STATE ROAD'] = int(grouped_df)

In [124]:
grouped_df = dfWifi[dfWifi['building_desc'] == '128 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 128 BAY STATE ROAD")
WithoutWaterBottle['128 BAY STATE ROAD'] = int(grouped_df)

On an average day, 133 people will benefit from a water bottle station at 128 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2875409981.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 128 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2875409981.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['128 BAY STATE ROAD'] = int(grouped_df)

In [125]:
grouped_df = dfWifi[dfWifi['building_desc'] == '910 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE")
WithoutWaterBottle['910 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1607 people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2973442725.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 910 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2973442725.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['910 COMMONWEALTH AVENUE'] = int(grouped_df)

In [126]:
grouped_df = dfWifi[dfWifi['building_desc'] == '194 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 194 BAY STATE ROAD")
WithoutWaterBottle['194 BAY STATE ROAD'] = int(grouped_df)

On an average day, 105 people will benefit from a water bottle station at 194 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1242674748.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 194 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1242674748.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['194 BAY STATE ROAD'] = int(grouped_df)

In [127]:
grouped_df = dfWifi[dfWifi['building_desc'] == '213 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 213 BAY STATE ROAD")
WithoutWaterBottle['213 BAY STATE ROAD'] = int(grouped_df)

On an average day, 1511 people will benefit from a water bottle station at 213 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2131218179.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 213 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2131218179.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['213 BAY STATE ROAD'] = int(grouped_df)

In [128]:
grouped_df = dfWifi[dfWifi['building_desc'] == '457 PARK DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 457 PARK DRIVE")
WithoutWaterBottle['457 PARK DRIVE'] = int(grouped_df)

On an average day, 156 people will benefit from a water bottle station at 457 PARK DRIVE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3456190035.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 457 PARK DRIVE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3456190035.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['457 PARK DRIVE'] = int(grouped_df)

In [129]:
grouped_df = dfWifi[dfWifi['building_desc'] == '455 PARK DRIVE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 455 PARK DRIVE")
WithoutWaterBottle['455 PARK DRIVE'] = int(grouped_df)

On an average day, 156 people will benefit from a water bottle station at 455 PARK DRIVE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1644150457.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 455 PARK DRIVE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1644150457.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['455 PARK DRIVE'] = int(grouped_df)

In [130]:
grouped_df = dfWifi[dfWifi['building_desc'] == '147 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 147 BAY STATE ROAD")
WithoutWaterBottle['147 BAY STATE ROAD'] = int(grouped_df)

On an average day, 380 people will benefit from a water bottle station at 147 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2443983355.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 147 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2443983355.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['147 BAY STATE ROAD'] = int(grouped_df)

In [131]:
grouped_df = dfWifi[dfWifi['building_desc'] == '172 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 172 BAY STATE ROAD")
WithoutWaterBottle['172 BAY STATE ROAD'] = int(grouped_df)

On an average day, 106 people will benefit from a water bottle station at 172 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2284112273.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 172 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2284112273.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['172 BAY STATE ROAD'] = int(grouped_df)

In [132]:
grouped_df = dfWifi[dfWifi['building_desc'] == "15 ST. MARY'S STREET"]
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 15 ST. MARY'S STREET")
WithoutWaterBottle["15 ST. MARY'S STREET"] = int(grouped_df)

On an average day, 1868 people will benefit from a water bottle station at 15 ST. MARY'S STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2521177769.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 15 ST. MARY'S STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2521177769.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle["15 ST. MARY'S STREET"] = int(grouped_df)

In [133]:
grouped_df = dfWifi[dfWifi['building_desc'] == '56 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 56 BAY STATE ROAD")
WithoutWaterBottle['56 BAY STATE ROAD'] = int(grouped_df)

On an average day, 66 people will benefit from a water bottle station at 56 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3908340724.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 56 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3908340724.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['56 BAY STATE ROAD'] = int(grouped_df)

In [134]:
grouped_df = dfWifi[dfWifi['building_desc'] == '718 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE")
WithoutWaterBottle['718 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 326 people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1992848753.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 718 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1992848753.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['718 COMMONWEALTH AVENUE'] = int(grouped_df)

In [135]:
grouped_df = dfWifi[dfWifi['building_desc'] == '124 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 124 BAY STATE ROAD")
WithoutWaterBottle['124 BAY STATE ROAD'] = int(grouped_df)

On an average day, 58 people will benefit from a water bottle station at 124 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\615237406.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 124 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\615237406.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['124 BAY STATE ROAD'] = int(grouped_df)

In [136]:
grouped_df = dfWifi[dfWifi['building_desc'] == '125 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 125 BAY STATE ROAD")
WithoutWaterBottle['125 BAY STATE ROAD'] = int(grouped_df)

On an average day, 154 people will benefit from a water bottle station at 125 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1732621153.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 125 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1732621153.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['125 BAY STATE ROAD'] = int(grouped_df)

In [137]:
grouped_df = dfWifi[dfWifi['building_desc'] == '975 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE")
WithoutWaterBottle['975 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 1054 people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1396691811.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 975 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1396691811.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['975 COMMONWEALTH AVENUE'] = int(grouped_df)

In [138]:
grouped_df = dfWifi[dfWifi['building_desc'] == '708 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE")
WithoutWaterBottle['708 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2954674435.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 708 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2954674435.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['708 COMMONWEALTH AVENUE'] = int(grouped_df)

In [139]:
grouped_df = dfWifi[dfWifi['building_desc'] == '121 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 121 BAY STATE ROAD")
WithoutWaterBottle['121 BAY STATE ROAD'] = int(grouped_df)

On an average day, 211 people will benefit from a water bottle station at 121 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1597763087.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 121 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1597763087.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['121 BAY STATE ROAD'] = int(grouped_df)

In [140]:
grouped_df = dfWifi[dfWifi['building_desc'] == '185 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 185 BAY STATE ROAD")
WithoutWaterBottle['185 BAY STATE ROAD'] = int(grouped_df)

On an average day, 153 people will benefit from a water bottle station at 185 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1099720217.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 185 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1099720217.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['185 BAY STATE ROAD'] = int(grouped_df)

In [141]:
grouped_df = dfWifi[dfWifi['building_desc'] == '116 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 116 BAY STATE ROAD")
WithoutWaterBottle['116 BAY STATE ROAD'] = int(grouped_df)

On an average day, 85 people will benefit from a water bottle station at 116 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2963543978.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 116 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2963543978.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['116 BAY STATE ROAD'] = int(grouped_df)

In [142]:
grouped_df = dfWifi[dfWifi['building_desc'] == '602 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE")
WithoutWaterBottle['602 COMMONWEALTH AVENUE'] = int(grouped_df)

On an average day, 829 people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1375218819.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 602 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1375218819.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['602 COMMONWEALTH AVENUE'] = int(grouped_df)

In [143]:
grouped_df = dfWifi[dfWifi['building_desc'] == '61 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 61 BAY STATE ROAD")
WithoutWaterBottle['61 BAY STATE ROAD'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 61 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4234884041.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 61 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\4234884041.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['61 BAY STATE ROAD'] = int(grouped_df)

In [144]:
grouped_df = dfWifi[dfWifi['building_desc'] == '193 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 193 BAY STATE ROAD")
WithoutWaterBottle['193 BAY STATE ROAD'] = int(grouped_df)

On an average day, 151 people will benefit from a water bottle station at 193 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3679760320.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 193 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3679760320.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['193 BAY STATE ROAD'] = int(grouped_df)

In [145]:
grouped_df = dfWifi[dfWifi['building_desc'] == '10 COTTAGE FARM ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 10 COTTAGE FARM ROAD")
WithoutWaterBottle['10 COTTAGE FARM ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 10 COTTAGE FARM ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1590684857.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 10 COTTAGE FARM ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1590684857.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['10 COTTAGE FARM ROAD'] = int(grouped_df)

In [146]:
grouped_df = dfWifi[dfWifi['building_desc'] == '78 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 78 BAY STATE ROAD")
WithoutWaterBottle['78 BAY STATE ROAD'] = int(grouped_df)

On an average day, 52 people will benefit from a water bottle station at 78 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3269532939.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 78 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3269532939.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['78 BAY STATE ROAD'] = int(grouped_df)

In [147]:
grouped_df = dfWifi[dfWifi['building_desc'] == '143 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 143 BAY STATE ROAD")
WithoutWaterBottle['143 BAY STATE ROAD'] = int(grouped_df)

On an average day, 194 people will benefit from a water bottle station at 143 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3915221783.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 143 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3915221783.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['143 BAY STATE ROAD'] = int(grouped_df)

In [148]:
grouped_df = dfWifi[dfWifi['building_desc'] == '135 IVY STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 135 IVY STREET")
WithoutWaterBottle['135 IVY STREET'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 135 IVY STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1178959484.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 135 IVY STREET")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1178959484.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['135 IVY STREET'] = int(grouped_df)

In [149]:
grouped_df = dfWifi[dfWifi['building_desc'] == '75 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 75 BAY STATE ROAD")
WithoutWaterBottle['75 BAY STATE ROAD'] = int(grouped_df)

On an average day, 79 people will benefit from a water bottle station at 75 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\627460401.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 75 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\627460401.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['75 BAY STATE ROAD'] = int(grouped_df)

In [150]:
grouped_df = dfWifi[dfWifi['building_desc'] == '74 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 74 BAY STATE ROAD")
WithoutWaterBottle['74 BAY STATE ROAD'] = int(grouped_df)

On an average day, 50 people will benefit from a water bottle station at 74 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2572786075.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 74 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2572786075.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['74 BAY STATE ROAD'] = int(grouped_df)

In [151]:
grouped_df = dfWifi[dfWifi['building_desc'] == '84 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 84 BAY STATE ROAD")
WithoutWaterBottle['84 BAY STATE ROAD'] = int(grouped_df)

On an average day, 52 people will benefit from a water bottle station at 84 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3433865106.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 84 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3433865106.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['84 BAY STATE ROAD'] = int(grouped_df)

In [152]:
grouped_df = dfWifi[dfWifi['building_desc'] == '118 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 118 BAY STATE ROAD")
WithoutWaterBottle['118 BAY STATE ROAD'] = int(grouped_df)

On an average day, 72 people will benefit from a water bottle station at 118 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3081936143.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 118 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3081936143.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['118 BAY STATE ROAD'] = int(grouped_df)

In [153]:
grouped_df = dfWifi[dfWifi['building_desc'] == '122 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 122 BAY STATE ROAD")
WithoutWaterBottle['122 BAY STATE ROAD'] = int(grouped_df)

On an average day, 177 people will benefit from a water bottle station at 122 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\605702856.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 122 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\605702856.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['122 BAY STATE ROAD'] = int(grouped_df)

In [154]:
grouped_df = dfWifi[dfWifi['building_desc'] == '50 WORTHINGTON ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 50 WORTHINGTON ROAD")
WithoutWaterBottle['50 WORTHINGTON ROAD'] = int(grouped_df)

On an average day, 0 people will benefit from a water bottle station at 50 WORTHINGTON ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2856904366.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 50 WORTHINGTON ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2856904366.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['50 WORTHINGTON ROAD'] = int(grouped_df)

In [155]:
grouped_df = dfWifi[dfWifi['building_desc'] == '68-70 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 68-70 BAY STATE ROAD")
WithoutWaterBottle['68-70 BAY STATE ROAD'] = int(grouped_df)

On an average day, 119 people will benefit from a water bottle station at 68-70 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3424734932.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people will benefit from a water bottle station at 68-70 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3424734932.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithoutWaterBottle['68-70 BAY STATE ROAD'] = int(grouped_df)

## Wifi Stations With Water Bottle Filling Stations

In [156]:
grouped_df = dfWifi[dfWifi['building_desc'] == '700 BEACON STREET']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 700 BEACON STREET")

On an average day, 924 people benefitted from a water bottle station at 700 BEACON STREET

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\645969617.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 700 BEACON STREET")

In [157]:
grouped_df = dfWifi[dfWifi['building_desc'] == '154 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 154 BAY STATE ROAD")

On an average day, 113 people benefitted from a water bottle station at 154 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\273134944.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 154 BAY STATE ROAD")

In [158]:
grouped_df = dfWifi[dfWifi['building_desc'] == '111 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 111 CUMMINGTON MALL")

On an average day, 1046 people benefitted from a water bottle station at 111 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1892833762.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 111 CUMMINGTON MALL")

In [159]:
grouped_df = dfWifi[dfWifi['building_desc'] == '765 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE")

On an average day, 3471 people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3308978740.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 765 COMMONWEALTH AVENUE")

In [160]:
grouped_df = dfWifi[dfWifi['building_desc'] == '565 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE")

On an average day, 1969 people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\601681194.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 565 COMMONWEALTH AVENUE")

In [161]:
grouped_df = dfWifi[dfWifi['building_desc'] == '44 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 44 CUMMINGTON MALL")

On an average day, 1156 people benefitted from a water bottle station at 44 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3427492809.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 44 CUMMINGTON MALL")

In [162]:
grouped_df = dfWifi[dfWifi['building_desc'] == '110-112 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 110-112 CUMMINGTON MALL")

On an average day, 1111 people benefitted from a water bottle station at 110-112 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\413925928.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 110-112 CUMMINGTON MALL")

In [163]:
grouped_df = dfWifi[dfWifi['building_desc'] == '675 - 725 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE")

On an average day, 0 people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\705411603.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 675 - 725 COMMONWEALTH AVENUE")

In [164]:
grouped_df = dfWifi[dfWifi['building_desc'] == '750 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE")

On an average day, 1921 people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3130924191.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 750 COMMONWEALTH AVENUE")

In [165]:
grouped_df = dfWifi[dfWifi['building_desc'] == '735 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE")

On an average day, 304 people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2898790790.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 735 COMMONWEALTH AVENUE")

In [166]:
grouped_df = dfWifi[dfWifi['building_desc'] == '226 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 226 BAY STATE ROAD")

On an average day, 273 people benefitted from a water bottle station at 226 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3330115038.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 226 BAY STATE ROAD")

In [167]:
grouped_df = dfWifi[dfWifi['building_desc'] == '225 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 225 BAY STATE ROAD")

On an average day, 385 people benefitted from a water bottle station at 225 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\762945492.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 225 BAY STATE ROAD")

In [168]:
grouped_df = dfWifi[dfWifi['building_desc'] == '64-86 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 64-86 CUMMINGTON MALL")

On an average day, 1853 people benefitted from a water bottle station at 64-86 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\36533668.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 64-86 CUMMINGTON MALL")

In [169]:
grouped_df = dfWifi[dfWifi['building_desc'] == '617-621 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE")

On an average day, 480 people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3185904962.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 617-621 COMMONWEALTH AVENUE")

In [170]:
grouped_df = dfWifi[dfWifi['building_desc'] == '233 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 233 BAY STATE ROAD")

On an average day, 929 people benefitted from a water bottle station at 233 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\299965575.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 233 BAY STATE ROAD")

In [171]:
grouped_df = dfWifi[dfWifi['building_desc'] == '156 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum()
print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 156 BAY STATE ROAD")

On an average day, 107 people benefitted from a water bottle station at 156 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\142001730.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted from a water bottle station at 156 BAY STATE ROAD")

## Users Per Water Bottle Station (If there are multiple water bottle stations in one building, divide it by the total number of water bottle stations to check how many people benefit per water bottle station)

In [172]:
WithWaterBottle = {}

In [173]:
grouped_df = dfWifi[dfWifi['building_desc'] == '111 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 111 CUMMINGTON MALL")
WithWaterBottle["111 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 261 people benefitted per existing water bottle station at 111 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2156275042.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 111 CUMMINGTON MALL")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2156275042.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["111 CUMMINGTON MALL"] = int(grouped_df)

In [174]:
grouped_df = dfWifi[dfWifi['building_desc'] == '765 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 23
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE")
WithWaterBottle["765 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 150 people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3415458740.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 765 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3415458740.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["765 COMMONWEALTH AVENUE"] = int(grouped_df)

In [175]:
grouped_df = dfWifi[dfWifi['building_desc'] == '44 CUMMINGTON MALL']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 44 CUMMINGTON MALL")
WithWaterBottle["44 CUMMINGTON MALL"] = int(grouped_df)

On an average day, 289 people benefitted per existing water bottle station at 44 CUMMINGTON MALL

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1155709159.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 44 CUMMINGTON MALL")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1155709159.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["44 CUMMINGTON MALL"] = int(grouped_df)

In [176]:
grouped_df = dfWifi[dfWifi['building_desc'] == '226 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 226 BAY STATE ROAD")
WithWaterBottle["226 BAY STATE ROAD"] = int(grouped_df)

On an average day, 136 people benefitted per existing water bottle station at 226 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2048709682.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 226 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\2048709682.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["226 BAY STATE ROAD"] = int(grouped_df)

In [177]:
grouped_df = dfWifi[dfWifi['building_desc'] == '617-621 COMMONWEALTH AVENUE']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 2
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE")
WithWaterBottle["617-621 COMMONWEALTH AVENUE"] = int(grouped_df)

On an average day, 240 people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3252850157.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 617-621 COMMONWEALTH AVENUE")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\3252850157.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["617-621 COMMONWEALTH AVENUE"] = int(grouped_df)

In [178]:
grouped_df = dfWifi[dfWifi['building_desc'] == '233 BAY STATE ROAD']
grouped_df = grouped_df.groupby(['building_desc', 'hour'])[['capacity']].mean().sum() / 4
print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 233 BAY STATE ROAD")
WithWaterBottle["233 BAY STATE ROAD"] = int(grouped_df)

On an average day, 232 people benefitted per existing water bottle station at 233 BAY STATE ROAD

C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1455451868.py:3: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  print(f"On an average day, {int(grouped_df)} people benefitted per existing water bottle station at 233 BAY STATE ROAD")
C:\Users\Woo Hyeon Her\AppData\Local\Temp\ipykernel_22276\1455451868.py:4: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  WithWaterBottle["233 BAY STATE ROAD"] = int(grouped_df)

## Summary

In [179]:
for key, value in WithoutWaterBottle.items():
    print(f"{value}")

692
1610
0
1
18
66
273
0
69
100
161
85
1
2
301
133
1607
105
1511
156
156
380
106
1868
66
326
58
154
1054
79
211
153
85
829
79
151
0
52
194
0
79
50
52
72
177
0
119

In [180]:
for key, value in WithWaterBottle.items():
    print(f"{value}")

261
150
289
136
240
232

In [181]:
nonexisting = {
    '736 - 738 COMMONWEALTH AVENUE': 692,
    '916-922 COMMONWEALTH AVENUE' : 1610,
    '866 BEACON STREET' : 0,
    '714 COMMONWEALTH AVENUE' : 1,
    '531 BEACON STREET' : 18,
    '180 BAY STATE ROAD' : 66,
    '830-846 COMMONWEALTH AVENUE' : 273,
    '24 COTTAGE FARM ROAD' : 0,
    '828 BEACON STREET' : 69,
    '40 BUSWELL STREET' : 100,
    '152 BAY STATE ROAD' : 161,
    '138 MOUNTFORT STREET' : 85,
    '76 BAY STATE ROAD' : 1,
    '27 ABERDEEN STREET' : 2,
    '236 BAY STATE ROAD' : 301,
    '128 BAY STATE ROAD' : 133,
    '910 COMMONWEALTH AVENUE' : 1607,
    '194 BAY STATE ROAD' : 105,
    '213 BAY STATE ROAD' : 1511,
    '457 PARK DRIVE' : 156,
    '455 PARK DRIVE' : 156,
    '147 BAY STATE ROAD' : 380,
    '172 BAY STATE ROAD' : 106,
    "15 ST. MARY'S STREET" : 1868,
    '56 BAY STATE ROAD' : 66,
    '718 COMMONWEALTH AVENUE' : 326,
    '124 BAY STATE ROAD' : 58,
    '125 BAY STATE ROAD' : 154,
    '975 COMMONWEALTH AVENUE' : 1054,
    '708 COMMONWEALTH AVENUE' : 79,
    '121 BAY STATE ROAD' : 211,
    '185 BAY STATE ROAD' : 153,
    '116 BAY STATE ROAD' : 85,
    '602 COMMONWEALTH AVENUE' : 829,
    '61 BAY STATE ROAD' : 79,
    '193 BAY STATE ROAD' : 151,
    '10 COTTAGE FARM ROAD' : 0,
    '78 BAY STATE ROAD' : 52,
    '143 BAY STATE ROAD' : 194,
    '135 IVY STREET' : 0,
    '75 BAY STATE ROAD' : 79,
    '74 BAY STATE ROAD' : 50,
    '84 BAY STATE ROAD' : 52,
    '118 BAY STATE ROAD' : 72,
    '122 BAY STATE ROAD' : 177,
    '50 WORTHINGTON ROAD' : 0,
    '68-70 BAY STATE ROAD' : 119    
}

In [182]:
# Certain counts have been divided by a number (which represents the number of water foundations in the specific address) in order to generalize the data.
existing = {
    '700 BEACON STREET' : 924, 
    '154 BAY STATE ROAD' : 113, 
    '111 CUMMINGTON MALL' : 1046 / 4, # Supposed to be 1046, but divided by 4
    '765 COMMONWEALTH AVENUE' : 3471 / 23, # Supposed to be 3471, but divided by 23
    '565 COMMONWEALTH AVENUE' : 1969, 
    '44 CUMMINGTON MALL' : 1156 / 4, # Supposed to be 1156, but divided by 4
    '110-112 CUMMINGTON MALL' : 1111, 
    '675 - 725 COMMONWEALTH AVENUE' : 0, # 675 Commonwealth has 3, 685 Commonwealth has 6, 700 Commonwealth has 31, 705 Commonwealth has 3, 725 Commonwealth has 7, but the estimation is 0. 
    '750 COMMONWEALTH AVENUE' : 1921,
    '735 COMMONWEALTH AVENUE' : 304,
    '226 BAY STATE ROAD' : 273 / 2, # Supposed to be 273, but divided by 2
    '225 BAY STATE ROAD' : 385, 
    '64-86 CUMMINGTON MALL' : 1853,
    '617-621 COMMONWEALTH AVENUE' : 480 / 2, # Supposed to be 480, but divided by 2
    '233 BAY STATE ROAD' : 929 / 4, # Supposed to be 929, but divided by 4
    '156 BAY STATE ROAD' : 107 
}